{% extends "ui/app.html" %}

{% load i18n %}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-ui-1.9.1.custom.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}js/locales/bootstrap-datepicker.es.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/jquery-ui-1.9.1.custom.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block jquery_init %}
  $('#id_dob').datepicker();
   <!-- LOOK FOR COMPONENT -->
     <!-- LOOK FOR Profession -->
  $("#id_profession").autocomplete({
    source: function(request, response){
              $.ajax({
                  url: '{% url consulting_searcher_profession %}',
                  type:'POST',
                  data: { 
                      start: function() { return $("#id_profession").val(); },
                      csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                  },
                  dataType: "json",
                  success: function(data){
                      response(data['professions']);
                  }
              })
            },
    select: function(event, ui){
              $("#id_profession").attr('value', ui.item.profession);           
            }    
  });
{% endblock %}

{% block header%}
  {% if user.get_profile.is_doctor %}
        {% include "ui/includes/header_doctor.html" %}
  {% endif %}
  {% if user.get_profile.is_administrative %}
        {% include "ui/includes/header_administrative.html" %}
  {% endif %} 
{% endblock  %}

{% block right %}
  {% if id_appointment %}
    {% include "consulting/patient/card.mini.html" %}
  {% else %}
    {% if patient_user_id %}
    <div class="page-header">
      <h3>{% trans "Asignación de médico" %}</h3>
    </div>

    <section>
      <div id="message" style="display: none"></div>
      <div class="well">

        <div class="">
          <form id="doctor_selection" class="form" method="post" action="{% url cal.select_doctor patient_user_id %}">
            {% csrf_token %}

             <!-- DOCTOR -->
            <div class="control-group">
              <label class="control-label" for="id_doctor">{% trans 'Médico asignado' %}: </label>
              <div class="controls">
                {{ doctor_form.doctor }}
                  {% if doctor_form.doctor.errors %}
                    {% for error in doctor_form.doctor.errors %}
                       <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                  {% endif %}
              </div>
            </div>
            <div id="assign" class="hide center">
              {% if doctor_form.confirm_app %}
                <div style="text-align: justify" class="alert alert-warning alert-block"></div>
                <div class="confirm">
                  {{ doctor_form.confirm_app }} <strong>{{ doctor_form.confirm_app.label }}</strong>
                </div>
              {% endif %}
              <br>
               <!-- END DOCTOR -->
               <button id="assign_button" type="submit" class="btn btn-info btn-block {% if doctor_form.confirm_app %}hide{% endif %}">Traspasar paciente</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    {% endif %}
  {% endif %}
{% endblock %}

{% block container %}
<div class="page-header">
  {% if id_appointment %}
  <h1>{% trans 'Cuestionario: ' %} {{task.survey.name}}</h1>
  <h2>{% trans 'Bloque' %} {{my_block.code}}: {{my_block.name}}</h2>
  {% else %}
  <h2>{% trans 'Datos del paciente' %}</h2>
  {% endif %}
</div>
<section>
  <div class="{% if edit %}well{% endif %}">
      <form class="form-horizontal" id="form" action="{% if edit %}{% url consulting_editpatient_pm patient_user_id %}{% else %}{{ request.path }}{% endif %}" method="post" accept-charset="utf-8">
      {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>             
        {% if same_username %}
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            <strong>
              {% trans 'Ya existe un usuario con el mismo nombre de usuario. Contacte con el administrador para solucionarlo. ' %}
            </strong>
          </div>
        {% endif %}
        <div class="control-group info">
          <label class="control-label">
            {{ form.name.label }}
          </label>
          <div class="controls info">
            {{form.name}}
            {% for e in form.name.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
         <div class="control-group info">
          <label class="control-label">
            {{form.first_surname.label}}
          </label>
          <div class="controls info">
            {{form.first_surname}}
            {% for e in form.first_surname.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
       <div class="control-group">
          <label class="control-label">
            {{form.second_surname.label}}
          </label>
          <div class="controls info">
            {{form.second_surname}}
            {% for e in form.second_surname.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group info">
          <label class="control-label">
            {{form.nif.label}}
          </label>
          <div class="controls info">
            {{form.nif}}
            <em class="help-inline">
              {{form.nif.help_text}}
            </em>
            {% for e in form.nif.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
         <div class="control-group info">
          <label class="control-label">
            {{form.dob.label}}
          </label>
          <div class="controls info">
            <div id="dp" class="input-prepend date" data-date-format="dd/mm/yyyy" data-date-weekstart="1" data-date-language="es" data-date-viewmode="years" data-date="{{form.dob.value|date:'d/m/Y'}}">
              <span class="add-on">
                <i class="icon-calendar"></i>
              </span>
              {{form.dob}}
            </div>
            {% if form.dob.errors %}
              <span class="help-inline text-error">{{ form.dob.errors }}</span>
            {% endif %}
          </div>
        </div>
        {% if user.get_profile.is_doctor %}
          <div class="control-group info">
            <label class="control-label">
              {{form.status.label}}
            </label>
            <div class="controls info">
              {{form.status}}
              {% if form.status.errors %}
                {{ form.status.errors }}
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% if user.get_profile.is_doctor %}
        <div class="control-group info">
          <label class="control-label">
            {{form.sex.label}}
          </label>
          <div class="controls info">
            {{form.sex}}
            {% for e in form.sex.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        <div class="control-group">
          <label class="control-label">
            {{form.address.label}}
          </label>
          <div class="controls">
            {{form.address}}
            {% for e in form.address.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
         <div class="control-group">
          <label class="control-label">
            {{form.town.label}}
          </label>
          <div class="controls">
            {{form.town}}
            {% for e in form.town.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            {{form.postcode.label}}
          </label>
          <div class="controls">
            {{form.postcode}}
            {% for e in form.postcode.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group info">
          <label class="control-label">
            {{form.phone1.label}}
          </label>
          <div class="controls info">
            {{form.phone1}}
            {% for e in form.phone1.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            {{form.phone2.label}}
          </label>
          <div class="controls">
            {{form.phone2}}
            {% for e in form.phone2.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            {{form.emergency_phone.label}}
          </label>
          <div class="controls">
            {{form.emergency_phone}}
            {% for e in form.emergency_phone.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group info">
          <label class="control-label">
            {{form.email.label}}
          </label>
          <div class="controls">
            {{form.email}}
            {% for e in form.email.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
        {% if user.get_profile.is_doctor %}
        <div class="control-group">
          <label class="control-label">
            {{form.education.label}}
          </label>
          <div class="controls">
            {{form.education}}
            {% for e in form.education.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            {{form.profession.label}}
          </label>
          <div class="controls">
            {{form.profession}}
            {% for e in form.profession.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        <div class="control-group">
          <label class="control-label">
            {{form.source.label}}
          </label>
          <div class="controls">
            {{form.source}}
            {% for e in form.source.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>
        <hr>
        <div class="control-group">
          <label class="control-label">
            {{form.active.label}}
          </label>
          <div class="controls">
            {{form.active}}
            <em class="help_inline">{{form.active.help_text}}</em>
            {% for e in form.active.errors %}
              <span class="help-inline text-error"><strong>{{e}}</strong></span>
            {% endfor %}
          </div>
        </div>              
        <div class="center">
          <button type="submit" class="btn btn-primary btn-large">
            {% trans 'Guardar' %}
          </button>
        </div>
      </form>
    </div>
</section> 
{% endblock container %}