{% load i18n consulting %}
<tr id={{event.patient.id}} data-msg="{{ event.id }}" style="cursor:pointer">
  <td>
    {% if event.is_first_appointment %}
      <span class="label label-info">Nuevo</span>
    {% endif %}
  </td>
  <td>{{ event.start_time|time:"H:i" }} - {{ event.end_time|time:"H:i" }}<br>
      {% if event.is_over %}
        <span class="badge badge-success"><i class="icon-check icon-white"></i> {% trans 'TERMINADA' %}</span>
      {% else %}
        {% if event.has_activity %}
        <span class="badge"><i class="icon-time icon-white"></i> {% trans 'EN CURSO' %}</span>
        {% else %}
          {% if event.is_editable %}
            <span class="badge badge-warning"><i class="icon-time icon-white"></i> {% trans 'PENDIENTE' %}</span>
          {% else %}
            {% if event.notify %}
            <span class="badge badge-important"><i class="icon-exclamation-sign icon-white"></i> {% trans 'NO ASISTIÓ' %}</span>
            {% else %}
            <span class="badge badge-important"><i class="icon-exclamation-sign icon-white"></i> {% trans 'NO ASISTIDA' %}</span>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
  </td>
  <td>{{ event.patient.get_profile.get_full_name }}<br />
      {% if event.patient.get_profile.get_medical_status|length %}
        <strong>{% trans 'Estado' %}</strong>: 
        {% for status in event.patient.get_profile.get_medical_status %}
          {% status|last != 'success' %}
          <span class="label label-{{status|last}}">{{status|first|striptags|safe}}</span>
          {% endif %}
        {% endfor %}
      {% endif %}
  </td>
  <td>{{ event.app_type}}</td>
  <td>{{ event.description|striptags|safe|truncatewords:5 }}</td>
</tr>