<tr id={{event.patient.id}} data-msg="{{ event.id }}" style="cursor:pointer">
  <td>{{ event.start_time|time:"H:i" }}</td>  
  <td>{{ event.end_time|time:"H:i" }}</td>
  <td>{{ event.patient.get_profile.name }} {{ event.patient.get_profile.first_surname }} {{ event.patient.get_profile.second_surname }}<br />
  		{% if event.patient.get_profile.get_anxiety_status %}
  		<span class="label label-{{event.patient.get_profile.get_anxiety_status|last}}">{{event.patient.get_profile.get_anxiety_status|first}}</span>
  		{% endif %}
  		{% if event.patient.get_profile.get_depression_status %}
  		<span class="label label-{{event.patient.get_profile.get_depression_status|last}}">{{event.patient.get_profile.get_depression_status|first}}</span>
  		{% endif %}
  </td>
  <td>{{ event.app_type}}</td>
  <td>{{ event.description|striptags|safe|truncatewords:5 }}</td>
</tr>