{% extends "ui/app.html" %}

{% load i18n%}

{% block right %}
  {% include "consulting/patient/card.html" %}
{% endblock %}

{% block container %}
<div class="page-header">
  <h1>{% trans 'Encuesta: ' %}{{result.survey.name}}</h1>              
  <h2>{% trans 'Bloque' %} {{my_block.code}}: {{my_block.name}}</h2>
</div> 
    <section>
        <form class="form-horizontal" method="post" action="{% url consulting_block result.id  my_block.code%}">{% csrf_token %}
            {% for field in form %}
                {% if field.label = 'DS' %}
                    <script>$('#id_{{field.label}}').parent().prepend('{{field}}');</script>
                {% else %}
                <div class="control-group">
                    <label class="control-label span7">
                        {{field.label}}
                    </label>
                    <div class="controls span5">
                        {{ field }}
                        {% if field.errors|length %}
                            {% for error in field.errors %}
                                <span class="help-inline">
                                    {{ error|escape }}
                                </span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <div class="controls">
                <button type="submit" class="btn btn-primary btn-large">
                  {% trans 'Guardar y continuar' %}
                </button>
            </div>
        </form>               
    </section>
{% endblock container %}

{% block jquery_init %}
    $('ul').addClass("without_decorator");

    $('#carryon_top').on("click", function(){
        window.location.href = '{{destination}}'; 
    });
    $('#carryon_bottom').on("click", function(){
        window.location.href = '{{destination}}'; 
    });
{% endblock %}