{% extends "ui/app.html" %}

{% load i18n consulting %}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-ui-1.9.1.custom.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/jquery-ui-1.9.1.custom.css" rel="stylesheet">
{% endblock %}

{% block css_inline %}
@media (max-width: 800px){
  #right_bar, #left_bar{
   visibility: hidden
  }
  #main{
    width:100% 
  }
}
{% endblock %}

{% block right %}
  {% include 'consulting/patient/card.html' with mini=1 %}
{% endblock %}

{% block container %}
<div class="page-header">
  <h1>{% trans 'Encuesta: ' %}{{task.survey.name}}</h1>              
  <h3>{% trans 'Bloque' %} {{my_block.code}}: {{my_block.name}} <small>[{{my_block.get_kind}}]</small></h2>
</div> 
    <section>
        <form class="form" method="post" action="{{request.path}}">{% csrf_token %}
          {% for field in form %}
            {% if field.label = 'DS' %}
                <script>$('#id_{{field.label}}').parent().prepend('{{field}}');</script>
            {% else %}
            <div class="control-group row-fluid">
              <label id="{{field.html_name}}" class="control-label span7 relative" style="text-align: justify">
                  {{field.label|sexify:patient_user}}
              </label>
              <div class="controls span5 relative">
                {{ field }}
                {% if field.errors|length %}
                  {% for error in field.errors %}
                    <span class="help-inline">
                      {{ error|escape }}
                    </span>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            {% endif %}
          {% endfor %}
          {% if my_block.code = 2 %}
          <div class="well">
              <h4>{% trans 'Medicación previa' %}</h4>
              <p>{% trans '¿Toma algún medicamento?' %}</p>
              <div id="medicament_container">
              </div>    
          </div>
          {% endif %} 
          <div class="center">
              <button type="submit" class="btn btn-primary btn-large" data-loading-text="Guardando...">
                {% trans 'Guardar y continuar' %}
              </button>
          </div>
        </form>
        <div class="modal hide fade" id="modal_medicament" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="modalLabel">Nuevo fármaco</h3>
          </div>
          <div class="modal-body" id="modalForm">
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" id="save">{% trans 'Guardar' %}</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cerrar' %}</button>
          </div>
        </div>               
    </section>
{% endblock container %}

{% block js %}
  var show_warning = true;
  $(window).bind('beforeunload', function() {
    if (show_warning) {
        return "{% trans 'Va a abandonar el cuestionario actual. Los datos no guardados se perderán. ¿Desea continuar de todos modos?' %}";
    }
  }); 

function set_events(){
    
  <!-- REMOVE MEDICINE -->
  $('.remove_medicine').each(function(){
    $(this).on("click", function(){ 
                            var id = $(this).attr("id");
                            $('#medicine_id').val(id);     
                        });      
  });

  $("#yes_remove").click(function(){
                    medicine_id = $('#medicine_id').val();
                    var jqxhr = $.post(
                                  '{% url consulting_add_medicine action='remove' %}',
                                  {'medicine_id': medicine_id,
                                  'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()}, 
                                  function() {
                                    $('#'+medicine_id).remove();
                                  });
  });


    $('.pagination').find('a').each(function(){
      $(this).on("click", function(e){
                              e.preventDefault();
                              var target = '#medicament_container';
                              $(target).load($(this).attr('href'), set_events);
                            });
    });

  }; 
{% endblock %}

{% block jquery_init %}
  $('input[type="checkbox"]').each(function(){
    if($('label[for="'+this.id+'"]').text().match(/^ Otr/) && $(this).attr('checked')) {
      $('label[for="'+this.id+'"]').parent().addClass('thumbnail');
      $('label[for="'+this.id+'"]').after($('input[name="' + this.name + '_value"]'));
      $('input[name="' + this.name + '_value"]').css('display','block');
    } else {
      if($('input[name="' + this.name + '_value"]').css('display') != 'block'){
        $('input[name="' + this.name + '_value"]').css('display','none');
      }
    }
  });

  $('input[type="checkbox"]').on('change', function(){
    if($('label[for="'+this.id+'"]').text().match(/^ Otr/)) {
      if($(this).attr('checked')) {
        $('label[for="'+this.id+'"]').parent().addClass('thumbnail');
        $('label[for="'+this.id+'"]').after($('input[name="' + this.name + '_value"]'));
        $('input[name="' + this.name + '_value"]').css('display','block');
      } else {
        $('label[for="'+this.id+'"]').parent().removeClass('thumbnail');
        $('input[name="' + this.name + '_value"]').css('display','none');
      }
    }
  });
  
  $('#save').on('click', function(){
    var $form = $('#modal_medicament').find('form');
    $form.ajaxSubmit({  target: null,
                        clearForm: true,
                        success: function(response) {
                            var target = '#medicament_container';
                            if ($(response).find("form").length) {
                               $('#modalForm').html(response);
                            } else {
                               $(target).html(response);
                               $('#modal_medicament').modal('hide');
                               set_events();                            }
                        }
                    });
  });

   $('#modal_medicament').on('hidden', function () {
      $(this).removeData();
    })

  $('ul').addClass("without_decorator");

  $('#medicament_container').load('{% url consulting_get_medicines filter_option='previous' id_patient=patient_user.id %}', set_events);

  $('.form').on('submit', function(e){
    var pending = 0;
    $(this).find('div.required').each(function(){
      var answer = $(this).find('input[type="hidden"]').val()
      if( (typeof answer === 'undefined') || answer == '' ) {
        pending++;
        $(this).parent().parent().addClass('error');
      }
    });
    $(this).find('label.control-label').each(function(){
      if($('input[type="checkbox"][name="'+this.id+'"].required').length && $('input[type="checkbox"][name="'+this.id+'"].required:checked').length == 0) {
        pending++;
        $(this).addClass('text-error');
      }
    });
    $(this).find('select.required').each(function() {
      if( !$(this).val() ){
        pending++;
        $(this).parent().parent().addClass('error');
      }
    });
    if(pending && !confirm("{% trans 'Ha dejando '%}"+pending+"{% trans ' preguntas sin contestar. ¿Desea guardar los cambios y responderlas en otro momento?'%}")){
      e.preventDefault();
      var first = $(this).find('.error').first();
      $('html,body').animate({scrollTop: first.offset().top - 100}, 500);
    } else {
      show_warning = false;
    }
  });

{% endblock %}