{% load i18n %}

<h4>{{ mname }} {{ year }}</h4>

<table class="table table-condensed table-nohover table-hover-element">
    <thead>
      <tr>
        <th>{% trans "Lun" %}</th>
        <th>{% trans "Mar" %}</th>
        <th>{% trans "Mie" %}</th>
        <th>{% trans "Jue" %}</th>
        <th>{% trans "Vie" %}</th>
        <th>{% trans "Sab" %}</th>
        <th>{% trans "Dom" %}</th>
      </tr>
    </thead>
    <tbody>
        {% for week in month_days %}
            <tr class="center">
            {% for day, entries, current, vacations, events in week %}

                <td class= "center" onMouseOver="this.bgColor='#eeeeee';" onMouseOut="this.bgColor='transparent';">

                    {% if day != 0 %}
                        <a href={% if id_result %}"{% url consulting_day_new_app year month day patient.id id_result %}"{% else %}"{% url consulting_day_new_app year month day patient.id %}"{% endif %}>
                            <span class="
                                {% if current %}
                                    label label-info
                                {% else %}
                                    {% if vacations %}
                                        label label-important
                                    {% else %}
                                        {% if events %}
                                            label label-warning
                                        {% endif %}
                                    {% endif %}
                                {% endif %}">
                                {{ day }}
                            </span>
                        </a>
                    {% else %}
                        <a href={% if id_result %}"{% url consulting_day_new_app year month day patient.id id_result %}"{% else %}"{% url consulting_day_new_app year month day patient.id %}"{% endif %}>
                            <span class="
                                {% if current %}
                                    label label-info
                                {% else %}
                                    {% if vacations %}
                                        label label-important
                                    {% else %}
                                        {% if events %}
                                            label label-warning
                                        {% endif %}
                                    {% endif %}
                                {% endif %}">
                                {% if entries.count > 0 %}
                                    {{ day }} <i class="icon-list"></i>
                                {% endif %}
                            </span>
                        </a>
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<ul class="pager">
    <li class="previous">
                <a href= {% if id_result %}"{% url consulting_month_new_app year month "prev" patient.id id_result %}"{% else %}"{% url consulting_month_new_app year month "prev" patient.id %}"{% endif %}>
            &larr; Anterior
        </a>
    </li>
    <li class="next">
        <a href= {% if id_result %}"{% url consulting_month_new_app year month "next" patient.id id_result %}"{% else %}"{% url consulting_month_new_app year month "next" patient.id %}"{% endif %}>
            Posterior &rarr;
        </a>
    </li>
</ul>

<div id="info_day">
      {% include "cal/includes/extra_info.html" %}
</div>
