{% load i18n %}

<h4 class="center">{{ mname }} {{ year }}</h4>
<table class="table table-condensed table-nohover table-hover-element">
    <thead>
      <tr>
        <th>{% trans "Mon" %}</th>
        <th>{% trans "Tue" %}</th>
        <th>{% trans "Wed" %}</th>
        <th>{% trans "Thu" %}</th>
        <th>{% trans "Fri" %}</th>
        <th>{% trans "Sat" %}</th>
        <th>{% trans "Sun" %}</th>
      </tr>
    </thead>
    <tbody>
        {% for week in month_days %}
            <tr class="center">
            {% for day, entries, current, vacations, events in week %}

                <td class= "center" onMouseOver="this.bgColor='#eeeeee';" onMouseOut="this.bgColor='transparent';">

                    {% if day != 0 %}
                        <a href="{% url consulting_day year month day %}">
                            <span class="
                                {% if current %}
                                    label label-info
                                {% else %}
                                    {% if vacations %}
                                        label label-important
                                    {% else %}
                                        {% if events %}
                                            label label-warning
                                        {% endif %}
                                    {% endif %}
                                {% endif %}">
                                {{ day }}
                            </span>
                        </a>
                    {% else %}
                        <a href="{% url consulting_day year month day %}">
                            <span class="
                                {% if current %}
                                    label label-info
                                {% else %}
                                    {% if vacations %}
                                        label label-important
                                    {% else %}
                                        {% if events %}
                                            label label-warning
                                        {% endif %}
                                    {% endif %}
                                {% endif %}">
                                {% if entries.count > 0 %}
                                    {{ day }} <i class="icon-list"></i>
                                {% endif %}
                            </span>
                        </a>
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<ul class="pager">
    <li class="previous">
        <a href= "{% url consulting_month year month}">
            &larr; Anterior
        </a>
    </li>
    <li class="next">
        <a href= "{% url consulting_month year month "next" %}">
            Posterior &rarr;
        </a>
    </li>
</ul>

<div id="info_day">
      {% include "cal/includes/extra_info.html
</div>