{% extends "ui/app.html" %}

{% load i18n%}

{% block body %}
<div class="container">
<section>
  <div class="page-header">
    <h1>{% trans 'Conclusion' %}</h1>
  </div>
  <div class="row">
    <div class="span8">
      {% if id_result %}
        <form class="form-horizontal" id="form" action="{% url consulting_conclusion id_appointment id_result %}" method="post" accept-charset="utf-8">{% csrf_token %}
      {% else %}
        <form class="form-horizontal" id="form" action="{% url consulting_conclusion id_appointment %}" method="post" accept-charset="utf-8">{% csrf_token %}
      {% endif %}
          {{form.component}}
          <div class="control-group">
            <label class="control-label">
              {{form.observation.label}}
            </label>
            <div class="controls">
              {{form.observation}}
              {% if form.observation.errors %}
                {{ form.observation.errors }}
              {% endif %}
            </div>
          </div>                                  
          <div class="control-group">
            <label class="control-label">
              {{form.recommendation.label}}
            </label>
            <div class="controls without_text_decorator">
              {{form.recommendation}}
              {% if form.recommendation.errors %}
                {{ form.recommendation.errors }}
              {% endif %}
            </div>
          </div>
          <div class="controls">
            <button type="submit" class="btn btn-primary btn-large">
              {% trans 'Guardar' %}
            </button>
          </div>
      </form>          
    </div>
    <!-- PATIENT CARD -->
    <div class="span4">
        {% include "consulting/patient/card.html" %}
    </div>
  </div>
</section>
 </div>
 {% endblock body %}