{% load i18n %}

<div class="well" style="height: 175px; overflow: auto;">
  <legend>{% trans "HUECOS LIBRES" %}</legend>

  {% if free_intervals %}
    <table id="free-slots" class="table">
      <thead>
          <tr>
            <th>{% trans "Desde" %}</th>
            <th>{% trans "Hasta" %}</th>
            <th>{% trans "Duración" %}</th>
          </tr>
      </thead>
      <tbody>
        {% for free_interval in free_intervals %}
          {% if free_interval.duration %}
            <tr style="text-align: right">
              <td>{{ free_interval.start_time|time:"H:i" }}</td>
              <td>{{ free_interval.end_time|time:"H:i" }}</td>
              <td>{{ free_interval.duration }} min</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="text-success">{% trans "Total disponibilidad" %}</p>
  {% endif %}
</div>
