{% extends "ui/app.html" %}

{% load i18n %}

{% block css_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery.marquee.js"></script>
{% endblock %}

{% block right %}
  {% include "cal/includes/calendar.html" with doctor=request.user %}
{% endblock right %}

{% block css_inline %}
@media(max-width:1024px){
  #left_bar {
    width:0
  }
  #main {
    min-width: 450px
  }
  h1{
   font-size:2em 
  }
}
{% endblock %}

{% block jquery_init %}
  $('#left_bar').remove();
  $('#main').removeClass('span7').addClass('span9');

  $('table tbody tr').on('click', function(event){
    var id_appointment = $(this).attr('data-msg');
    if(id_appointment){
      $("#container").hide();
      window.location.href = '/consultation/' + id_appointment;
    }
  });
{% endblock %}

{% block container %}
<section>
<div class="page-header">
  <h1 class="offset2">{% trans "Citas del " %}{{ day }} {% trans "de" %} {{ mname }} {% trans "de" %} {{ year }}</h1>
</div>

  {% if events.object_list.count > 0 %}
  <table id="events_list" class="table table-striped">
    <thead>
        <tr>
          <th></th>
          <th>{% trans "Hora" %}</th>
          <th>{% trans "Paciente" %}</th>
          <th>{% trans "Tipo de cita" %}</th>
          <th>{% trans "Nota" %}</th>
        </tr>
    </thead>
    <tbody>
      {% for event in events.object_list %}
        {% include "consulting/consultation/appointment.html" %}
      {% endfor %}
    </tbody>
  </table>
  {% include 'ui/includes/pagination_bar.html' with objects=events %}

  <div id="preview"></div>
  {% else %}
    <div class="alert alert-info">{% trans "No hay citas" %}</div>
  {% endif %}
</section>
{% endblock container %}