{% extends "ui/app.html" %}

{% load i18n %}

{% block right %}
  {% include "cal/includes/calendar.html" with doctor=request.user %}
{% endblock right %}

{% block container %}
<div class="page-header">
  <h1>{% trans "Citas del " %}{{ day }} {% trans "de" %} {{ mname }} {% trans "de" %} {{ year }}</h1>
</div>

  {% if events.object_list.count > 0 %}
    {% if events.paginator.num_pages > 1 %}
    <div id="events-paginator" class="pagination pagination-centered">
      <ul>
        {% if events.has_previous %}
          <li><a href="?page={{ events.previous_page_number }}">←</a></li>
        {% else %}
          <li class="disabled"><a>←</a></li>
        {% endif %}
        {% for p in events.paginator.page_range %}
         <li {% if p = events.number %}class="disabled"{% endif %}><a href="?page={{p}}">{{p}}</a></li>
        {% endfor %}
        {% if events.has_next %}
          <li><a href="?page={{ events.next_page_number }}">→</a></li>
        {% else %}
          <li class="disabled"><a>→</a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <table id="events_list" class="table table-striped">
    <thead>
        <tr>
          <th></th>
          <th>{% trans "Hora" %}</th>
          <th>{% trans "Paciente" %}</th>
          <th>{% trans "Tipo de cita" %}</th>
          <th>{% trans "Nota" %}</th>
        </tr>
    </thead>
    <tbody>
      {% for event in events.object_list %}
        {% include "consulting/consultation/appointment.html" %}
      {% endfor %}
    </tbody>
  </table>

  <div id="preview"></div>
  {% else %}
    <div class="alert alert-info">{% trans "No hay citas" %}</div>
  {% endif %}
{% endblock container %}

{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/loading.gif' alt='loading...'/>";

$('table tbody tr').live('click', function(event){
  var id_appointment = $(this).attr('data-msg');
  if(id_appointment){
    $("#container").hide();
    window.location.href = '/consultation/' + id_appointment;
  }
});
{% endblock %}
