{% load i18n%}
<section>
  <div class="">
      <h3>{% trans '¿Toma algún medicamento?' %}</h3> 
    <div class="hero-unit">
      <form class="form-horizontal" id="form" action="{% url consulting_new_medicine_survey id_result %}" method="post" accept-charset="utf-8">{% csrf_token %}
          {{form.component}}                                          
          <div class="control-group">
            <label class="control-label">
              {{form.kind_component.label}}
            </label>
            <div class="controls without_text_decorator">
              {{form.kind_component}}
              {% if form.kind_component.errors %}
                {{ form.kind_component.errors }}
              {% endif %}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">
              {{form.searcher_component.label}}
            </label>
            <div class="controls">
              {{form.searcher_component}}
              {% if form.searcher_component.errors %}
                {{ form.searcher_component.errors }}
              {% endif %}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">
              {{form.before_after_symptom.label}}
            </label>
            <div class="controls">
              {{form.before_after_symptom}}
              {% if form.before_after_symptom.errors %}
                {{ form.before_after_symptom.errors }}
              {% endif %}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">
              {{form.months.label}}
            </label>
            <div class="controls">
              {{form.months}}                    
              {% if form.months.errors %}
                {{ form.months.errors }}
              {% endif %}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">
              {{form.posology.label}}
            </label>
            <div class="controls">
              {{form.posology}}
              {% if form.posology.errors %}
                {{ form.posology.errors }}
              {% endif %}
            </div>
          </div>
          <div class="controls center">
            <button type="submit" class="btn btn-info btn-large">
              {% trans 'Guardar tratamiento' %}
            </button>
          </div>
      </form>
      
    </div>
    <div class="pull-right">
        <button id="carryon" class="btn btn-primary btn-large">
          {% trans 'Continuar encuesta' %}
        </button>         
      </div>
</section>