{% extends "ui/app.html" %}

{% load i18n %}

{% block body %}
<div class="container">
  <section>
  <div class="page-header">
    <h1>{% trans 'Encuesta' %}</h1>
  </div>
  <div class="row">
    <div class="span8">
      <div class="hero-unit center">
        <form class="form-horizontal" method="post" action="{% url consulting_select_survey id_conclusion %}">{% csrf_token %}
          <fieldset>
              {% if form.survey.errors %}
                <div class="control-group error">
                  <label class="control-label">
                    {{form.survey.label}}
                  </label>
                  <div class="controls">
                    {{ form.survey }}
                    <button type="submit" class="btn">
                      Continuar
                    </button>
                    {% for error in form.survey.errors %}
                      <span class="help-inline">
                        {{ error|escape }}
                      </span>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="control-group">
                  <label class="control-label">
                    {{form.survey.label}}
                  </label>
                  <div class="controls">
                    {{ form.survey }} 
                    <button type="submit" class="btn">
                      Continuar
                    </button>
                  </div>
                </div>
              {% endif %}
          </fieldset>
        </form>
      </div>
      <div class="pull-right">
        <button id="carryon" class="btn btn-info btn-large">
          {% trans 'Continuar' %}
        </button>         
      </div>
    </div>
    <!-- PATIENT CARD -->
    <div class="span4">
        {% include "consulting/patient/card.html" %}
    </div>
  </div>
</div>
{% endblock body %}

{% block jquery_init %}
  $('#carryon').on("click", function(){  
      window.location.href = '/consultation/new_app/select_year_month/' + {{patient_user.id}};  
  });
{% endblock %}