{% extends "ui/app.html" %}

{% load i18n %}

{% block body %}
<div class="container">
  <section>
  <div class="page-header">
    <h1>{% trans 'Siguiente encuesta' %}</h1>
  </div>
  <div class="row">
    <div class="span8">
      <div class="hero-unit">
        <form class="form-horizontal" method="post" action="{% url consulting_select_other_survey id_appointment id_result %}">{% csrf_token %}
          {% if form.survey.errors %}
            <div class="control-group error">
              <label class="control-label">
                {{form.survey.label}}
              </label>
              <div class="controls">
                {{ form.survey }}
                <button type="submit" class="btn">
                  Ir
                </button>
                {% for error in form.survey.errors %}
                  <span class="help-inline">
                    {{ error|escape }}
                  </span>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div class="control-group">
              <label class="control-label">
                {{form.survey.label}}
              </label>
              <div class="controls">
                {{ form.survey }}
                <button type="submit" class="btn">
                  Ir
                </button>
              </div>
            </div>
          {% endif %}
          {% if form.variables.errors %}
            <div id="error_variables" class="control-group error">
              <div class="offset1">
                {{ form.variables }}
                {% for error in form.variables.errors %}
                  <span class="help-inline">
                    {{ error|escape }}
                  </span>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div id="variables" class="control-group" style="display: none;">
              <div class="offset1">
                {{ form.variables }}
              </div>
            </div>
          {% endif %}
        </form>
      </div>      
      <div class="pull-right">
        <button id="carryon" class="btn btn-info btn-large">
          {% trans 'Continuar' %}
        </button>         
      </div>
    </div>
    <!-- PATIENT CARD -->
    <div class="span4">
        {% include "consulting/patient/card.html" %}
    </div>
  </div>
</div>
{% endblock body %}


{% block jquery_init %}
  $('ul').addClass("without_decorator");

  $("#id_survey").change(function() {
        if($(this).val() == {{code_variables}}){
          $('#variables').css("display", "block");
          $('#error_variables').css("display", "block");
        }else{
          $('#variables').css("display", "none");
          $('#error_variables').css("display", "none");          
        }
  });

  $('#carryon').on("click", function(){  
      window.location.href = '{{destination}}'
  });
{% endblock %}