{% extends "ui/app.html" %}

{% load i18n%}

{% block right %}
  {% include "consulting/patient/card.html" %}
{% endblock %}

{% block container %}
<div class="page-header"><h1>{% trans 'Próxima cita' %}</h1></div>

<div class="">
    <ul class="pager">
        <li class="previous">
             <a href={% if id_result %}"{% url consulting_select_year_month patient.id  year|add:'-3' id_result %}"{% else %}"{% url consulting_select_year_month patient.id  year|add:'-3' %}"{% endif %}>&larr; Prev</a>
        </li>
        <li class="next">
            <a href={% if id_result %}"{% url consulting_select_year_month patient.id year|add:'3' id_result %}"{% else %}"{% url consulting_select_year_month patient.id year|add:'3' %}"{% endif %}>Next &rarr;</a>
        </li>
    </ul>
</div>
<div class="row-fluid">
    {% for year, months in years %}
        <div class="span4 well center">
            <h2 class="label label-info">{{ year }}</h2>
            <ul class="unstyled">
            {% for month in months %}
                {% if month.entry %}<b>{% endif %}
                <li>                                
                    <a class={% if month.current %}"label label-info"{% else %}""{% endif %}
                    href={% if id_result %}"{% url consulting_day_new_app year month.n today patient.id id_result %}"{% else %}"{% url consulting_day_new_app year month.n today patient.id %}"{% endif %}>{{ month.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>


{% endblock container %}
