{% extends "ui/app.html" %}

{% load i18n %}

{% block body %}
<div class="container">
  <section>
  <div class="page-header">
    <h1>{% trans 'Acción a Realizar' %}</h1>
  </div>
  <div class="row">
    <div class="span8">
      <div class="hero-unit center">
        <form class="form-horizontal" method="post" action="{% url consulting_select_action id_appointment %}">{% csrf_token %}
          <fieldset>
              {% if form.action.errors %}
                <div class="control-group error">
                  <label class="control-label">
                    {{form.action.label}}
                  </label>
                  <div class="controls">
                    {{ form.action }}
                    <button type="submit" class="btn">
                      Continuar
                    </button>
                    {% for error in form.action.errors %}
                      <span class="help-inline">
                        {{ error|escape }}
                      </span>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="control-group">
                  <label class="control-label">
                    {{form.action.label}}
                  </label>
                  <div class="controls">
                    {{ form.action }} 
                    <button type="submit" class="btn">
                      Continuar
                    </button>
                  </div>
                </div>
              {% endif %}
          </fieldset>
        </form>
      </div>
    </div>
    <!-- PATIENT CARD -->
    <div class="span4">
        {% include "consulting/patient/card.html" %}
    </div>
  </div>
</div>
{% endblock body %}
