{% extends "ui/app.html" %}

{% load i18n %}

{% block right %}
  {% include "consulting/patient/card.html" %}
{% endblock %}

{% block container %}
  <div class="page-header">
    <h1>{% trans 'Seleccionar bloque' %}</h1>
  </div>
  <section>
      <div class="well center">
        <form class="form-horizontal" method="post" action="{% url consulting_select_block result.id %}">{% csrf_token %}
          {% if form.block.errors %}
            <div class="control-group error">
              <label class="control-label">
                {{form.block.label}}
              </label>
              <div class="controls">
                {{ form.block }}
                <button type="submit" class="btn">
                  Ir
                </button>
                {% for error in form.block.errors %}
                  <span class="help-inline">
                    {{ error|escape }}
                  </span>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div class="control-group">
              <label class="span3" style="margin-top:5px;">
                {{form.block.label}}
              </label>
              <div class="controls">
                {{ form.block }} 
              </div>
            </div>
          {% endif %}
          <button type="submit" class="btn btn-primary btn-large">
            Continuar
          </button>
        </form>
      </div>
    </section>
{% endblock container %}

{% block jquery_init %}
  $('#carryon').on("click", function(){  
      window.location.href = '/consultation/conclusion/' + {{result.task.appointment.id}} + '/' + {{result.id}};  
  });
{% endblock %}