{% load i18n %}
{% load l10n %}
{% load consulting %}

{% draw_self_register task.observations %}

<ul id="tab" class="nav nav-tabs">
	{% for block in task.treated_blocks.all %}
    <li {% if forloop.counter = 1 %}class="active"{% endif %}><a data-toggle="tab" href="#block{{block.id}}">{% trans 'Bloque' %} {{block.code}}: <br><small>{{block.name}}</small></a></li>
    {% endfor %}
</ul>

<div id="tabContent" class="tab-content" style="max-height: 275px; overflow-y: auto">
{% for block, answer_list in task.get_answers_by_block.items %}
	<div id="block{{block}}" class="tab-pane fade in {% if forloop.counter = 1 %}active{% endif %}">
		{% for a in answer_list %}
		<div class="row-fluid">
			<span class="span7" style="text-align: right"><strong>{{a.question|sexify:task.patient}}</strong></span>
			<span class="span5">{% for e in a.answers %}{{e|sexify:task.patient}}{% if forloop.revcounter0 %}, {% endif %}{% endfor %}</span>
		 </div>
		 <br>

	   	{% endfor %}
	</div>
	{% endfor %}
</div>