{% extends "ui/app.html" %}

{% load i18n%}

{% block container %}
<div class="page-header">
  <h1>{% trans 'Cambio de identificación del paciente' %}</h1>                
</div>
<section>
   {% if patient_user.email %}
    <div class="alert alert-info">
        {% trans 'Se le ha enviado un correo electrónico al paciente con el nuevo nombre de usuario.' %}
    </div>
    {% else %}
     <div class="alert alert-success">
        {% trans 'Paciente actualizado correctamente. Puede continuar al siguiente bloque.' %}
    </div>
    {% endif %}
    <div class="pull-right">
      <a id="carryon" class="btn btn-info btn-large" href="{% url consulting_show_task_block id_appointment code_illness task.id next_block %}">
        {% trans 'Continuar' %}
      </a>         
    </div>                
</section>
{% endblock %}

{% block right %}
  {% include "consulting/patient/card.html" %}
{% endblock %} 
