{% extends "consulting/consultation/monitoring/index.html" %}

{% load i18n %}
{% load consulting %}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery.flot.js"></script>
  <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.resize.js"></script>
  <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.JUMlib.js"></script>
  <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.spider.js"></script>
{% endblock %}

{% block jquery_init %}
    plotEvolution();
    graphToday();
{% endblock %}

{% block container %}
  <div class="page-header">
      <h1>{% trans 'Resultados' %} <small>{{task.end_date|date}}</small><br>
        <small>{% trans 'Cuestionario de' %} {{task.survey.name}}</small>
      </h1>
  </div>

   {% include 'consulting/consultation/monitoring/incomplete_surveys/variables_graph.html' %}
  <br>
  <div class="pull-right">
  {% if request.session.cronos %}
  <a id="goback" href="{% url 'cronos_tasks' %}" class="btn btn-info btn-large">
        {% trans 'Volver' %}
      </a> 
  {% else %}
    <a id="goback" href="{% if illness %}{% url 'consulting_main' id_appointment=appointment.id code_illness=illness.code %}{% else %} javascript:history.back();{% endif %}" class="btn btn-info btn-large">
      {% trans 'Volver' %}
    </a>         
  {% endif %}      
  </div>                   
{% endblock container %}

{% block right %}
{{ block.super }}
{% if request.session.cronos and request.user.get_profile.is_doctor %}
  {% with scales=task.get_scales %}
  {% if scales|has_recommendation %}
  <br/>
  <div class="alert alert-success alert-block">
    <div class="thumbnail">
      <p>En base a los resultados obtenidos se recomienda seguir las siguientes indicaciones
         </p>
      <div class="item">
        <dl>
          <dt>{% trans 'Pruebas complementarias' %}</dt>
          {% for scale in scales %}
          <dd>{{scale.status.recommendation.tests|linebreaks}}</dd>
          {% endfor %}
        </dl>
      </div>
      <div class="item">
        <dl>
          <dt>{% trans 'Cuestionarios específicos' %}</dt>
          {% for scale in scales %}
          <dd>{{scale.status.recommendation.surveys|linebreaks}}</dd>
          {% endfor %}
        </dl>
      </div>
      <div class="item">
        <dl>
          <dt>{% trans 'Tipo de seguimiento' %}</dt>
          {% for scale in scales %}
          <dd>{{scale.status.recommendation.tracking|linebreaks}}</dd>
          {% endfor %}
        </dl>
      </div>
      <div class="item">
        <dl>
          <dt>{% trans 'Medidas recomendadas' %}</dt>
          {% for scale in scales %}
          <dd>{{scale.status.recommendation.recommendation|linebreaks}}</dd>
          {% endfor %}
        </dl>
      </div>  
    </div>
  </div>
  {% endif %}
  {% endwith %}
  {% endif %}
{% endblock %}
