{% extends "ui/app.html" %}

{% load i18n%}



{% block left%}
  {% if illness %}
    {% include "ui/includes/nav_bar_doctor_monitoring.html" %}       
  {% else %}
    {% include "ui/includes/nav_bar_doctor_pm.html" %}   
  {% endif %}
{% endblock  %}

{% block container%}
  <div class="page-header">
      <h1>{{appointment.app_type.title}}<small class="pull-right">[{{appointment.duration}} min]</small></h1>
  </div>
  {% if appointment.description %}
  <div class="well">
    {{appointment.description}}
  </div>
  {% endif %}
  {% if tasks %}
    {% if previous_marks %}
      {% include 'consulting/consultation/monitoring/latest_marks.html' %}
    {% else %}
      {% include 'consulting/consultation/monitoring/today_tasks.html' %}
    {% endif %}
  {% else %}

  {% endif %}
  {% if not previous_marks %}
    {% include 'consulting/consultation/monitoring/today_conclusions.html' %}
    {% include 'consulting/consultation/monitoring/today_treatment.html' %}
  {% endif %}


{% endblock  %}

{% block right %}
  {% include "consulting/patient/card.html" %}
{% endblock %}



