{% extends "ui/app.html" %}

{% load i18n%}

{% block jquery_init %}
    $('.modal').on('hidden', function () {
      $(this).removeData();
      $('.modal-body').html('');
    })
{% endblock %}

{% block left%}
  {% if illness %}
    {% include "ui/includes/nav_bar_doctor_monitoring.html" %}       
  {% else %}
    {% include "ui/includes/nav_bar_doctor_pm.html" %}   
  {% endif %}
{% endblock  %}

{% block container%}
<section>
  <div class="page-header">
      <h1>{{appointment.app_type.title}} <small class="pull-right">
        {% if illness %}[{{appointment.duration}} min]{% else %}{{appointment.date|date:"d F Y"}}{% endif %}</small></h1>
  </div>
  {% if appointment.description %}
  <div class="well">
    {{appointment.description}}
  </div>
  {% endif %}
  {% if tasks %}
    {% if previous_marks %}
      {% include 'consulting/consultation/monitoring/latest_marks.html' %}
    {% else %}
      {% include 'consulting/consultation/monitoring/today_tasks.html' %}
    {% endif %}
  {% else %}

  {% endif %}
  {% if not previous_marks %}
    {% include 'consulting/consultation/monitoring/today_conclusions.html' %}
    {% include 'consulting/consultation/monitoring/today_treatment.html' %}
  {% endif %}

</section>
{% endblock  %}

{% block right %}
  {% include 'consulting/patient/card-mini.html' %}
{% endblock %}



