{% extends "consulting/consultation/monitoring/index.html" %}

{% load i18n%}

{% block container %}
  <div class="page-header">
      <h1>{% trans 'Respuestas' %}</h1>
  </div>
  <section>
      {% include 'consulting/consultation/task.html' %}
      <hr>
      <div class="pull-right">
        <a id="goback" href="{% if illness %}{% url consulting_main id_appointment=appointment.id code_illness=illness.code %}{% else %} javascript:history.back();{% endif %}" class="btn btn-info btn-large">
          {% trans 'Volver' %}
        </a>      
      </div>                             
  </section>
{% endblock container %}

