{% load i18n %}

<section>
  <h4>{% trans 'Conclusiones' %}</h4>
  {% if not conclusions %}
    {% if illness %}
    <div class="alert alert-warning">{% trans 'Pendiente.' %} <a href="{% url consulting_set_conclusion appointment.id illness.code %}"><strong class="warning">{% trans 'Rellenar ahora' %}</strong></a></div>
    {% else %}
     <div class="alert alert-info">{% trans 'No hay conclusiones asociadas a esta cita' %}
     </div>
    {% endif %}
  {% else %}
  <div class="thumbnail">
  <dl class="dl-horizontal">
    <dt>{% trans 'Observaciones' %}</dt>
      <dd>
      {{conclusions.observation}}<br>&nbsp;
    </dd>    
    <dt>{% trans 'Recomendaciones' %}</dt>
    <dd>
        {{conclusions.recommendation}}&nbsp;
    </dd>
  </dl>
  </div>
  {% endif %}
</section>
<hr>