{% load i18n %}

<section>
  <h4>{% trans 'Conclusiones' %}</h4>
  {% if conclusions.count = 0 %}
    {% if illness %}
    <div class="alert alert-warning">{% trans 'Pendiente.' %} <a href="{% url consulting_set_conclusion appointment.id illness.code %}"><strong class="warning">{% trans 'Rellenar ahora' %}</strong></a></div>
    {% else %}
     <div class="alert alert-info">{% trans 'No hay conclusiones asociadas a esta cita' %}
     </div>
    {% endif %}
  {% else %}
  <div class="thumbnail">
  <dl class="dl-horizontal">
    <dt>{% trans 'Observaciones' %}</dt>
    {% for c in conclusions %}
      {% if c.observation %}   
        <dd>{{c.observation}}&nbsp;</dd>
      {% endif %}
    {% endfor %}
    <dt>{% trans 'Recomendaciones' %}</dt>
    {% for c in conclusions %}
      {% if c.recommendation %}
        <dd>{{c.recommendation}}&nbsp;</dd>
      {% endif %}
    {% endfor %}
  </dl>
  </div>
  {% endif %}
</section>
<hr>