{% extends "cal/includes/base.html" %}

{% load i18n%}

{% block container %}  
<div class="page-header">
  <h1>{% trans 'Citas' %}</h1>
</div>

  {% if events.object_list.count > 0 %}
   
    <table id="events_list" class="table table-striped">
      <thead>
          <tr>
            <th>{% trans "Fecha" %}</th>
            <th>{% trans "Inicio" %}</th>
            <th>{% trans "Final" %}</th>
            <th>{% trans "Paciente" %}</th>
            <th>{% trans "Tipo de cita" %}</th>
            <th>{% trans "Notas" %}</th>
          </tr>
      </thead>
      <tbody>
        {% for event in events.object_list %}
          {% include "cal/app/appointment.html" %}
        {% endfor %}
      </tbody>
    </table>
     <div id="events-paginator" class="pagination pagination-centered">
      <ul>
        {% if events.has_previous %}
          <li><a href="?page={{ events.previous_page_number }}">←</a></li>
        {% else %}
          <li class="disabled"><a>←</a></li>
        {% endif %}

        {% if events.has_next %}
          <li><a href="?page={{ events.next_page_number }}">→</a></li>
        {% else %}
          <li class="disabled"><a>→</a></li>
        {% endif %}
      </ul>
    </div>      
    <div id="preview"></div>
  {% else %}
    <div class="alert alert-info">{% trans "No se ha encontrado ninguna cita" %}</div>
  {% endif %}
{% endblock container %}

{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/loading.gif' alt='loading...'/>";

$('table tbody tr').live('click', function(event){
  var id = $(this).attr('data-msg');
  var id_patient = $(this).attr('id');
  if(id){
    $('section').hide();
    <!-- window.location.href = '/calendar/app/edit/' +id+ '/' + {{ doctor.id }}; -->
    window.location.href = '/calendar/app/edit/' +id+ '/' + id_patient + '/{{ doctor.id }}';
  }
});
{% endblock %}