{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block css_files %}
  {{block.super}}
  <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/jquery-ui-1.9.1.custom.css" rel="stylesheet"/>
{% endblock %}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-ui-1.9.1.custom.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}js/locales/bootstrap-datepicker.es.js"></script>
{% endblock %}

{% block js %}
function set_events(){
  $('table tbody tr').on('click', function(event){
    var id = $(this).attr('data-msg');
    if(id){
      $('table').hide();
      $('#message-paginator').hide();
      window.location.href = '/calendar/payment/' + id;
    }
  });
};

function autoSubmit() {
  $('#form').on("change", function(e) {
      var $form = $(this);
      $('#payment_list').fadeTo(500, 0.25);
      $form.ajaxSubmit({  target: '#payment_list',
                          clearForm: false,
                          success: function(){
                            $('#payment_list').fadeTo(750, 1);
                            set_events();
                        }
                      });
  });
};

{% endblock %}

{% block right %}

<script type="text/javascript">
  $('#right_bar').find('.fixable').removeClass('fixable');
</script>
<div class="page-header" style="margin-top:36px">
  <h4>{% trans 'Opciones de filtrado' %}</h4>
</div>
<section>
<form class="form-inline" id="form" action="{{request.path}}" method="get" accept-charset="utf-8">
  
  <div class="accordion" id="accordion_filter">
  {% for f in form %}
  <div class="accordion-group stop">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_filter" href="#collapse_{{forloop.counter}}">
      {{f.label}}
      <span class="pull-right text-info"></span>
      </a>
    </div>
    <div id="collapse_{{forloop.counter}}" class="accordion-body collapse">
      <div class="accordion-inner" style="max-height: 200px; overflow-y: auto">
        {{f}}
        {% if f.help_text %}
          <em class="muted">{{f.help_text}}</em>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  
  </div>
  <hr>
  <button type="reset" class="btn btn-small btn-block">
    {% trans 'Limpiar filtros' %}
  </button>
</form>
</section>
{% endblock %}

{% block container %}

<div class="page-header">
    <h1>{% trans 'Registro de consultas' %}</h1>
</div>
<section>
  <div id="payment_list" class="center"></div>
</section>
{% endblock %}



{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/ajax-loader.gif' alt='loading...'/>";
$('#payment_list').html(load_icon);
$('#payment_list').load("{% url 'cal.list_payment' %}?{% for k, v in request.GET.items %}{{k}}={{v}}{% if forloop.revcounter0 %}&{% endif %}{% endfor %}", set_events);

$('button[type="reset"]').on('click', function(){
  var $form = $(this).parent();
  $form.unbind('change');
  $form.find('.span3:hidden').val('');
  $(".range").each(function(){
    var min = $(this).find('input[id$="_0"]').attr('min');
    var max = $(this).find('input[id$="_0"]').attr('max');
    $(this).slider("values", 0, min);
    $(this).slider("values", 1, max);
  });
  $form.find('.text-info').html('');
  $form.find('input').removeAttr('checked');
  autoSubmit();
  $form.change();
});

$('#download_xls').live("click", function(e) {
    var $form = $('#form');
    var orig_action = $form.attr('action');
    $form.attr('action', orig_action+'?as=xls');
    $form.submit();
    $form.attr('action', orig_action);
});

autoSubmit();

$(".range").each(function(){
    var min = $(this).find('input[id$="_0"]').attr('min');
    var max = $(this).find('input[id$="_0"]').attr('max');
    var selected_min = ($(this).find('input[id$="_0"]').val()) ? $(this).find('input[id$="_0"]').val() : min;
    var selected_max = ($(this).find('input[id$="_1"]').val()) ? $(this).find('input[id$="_1"]').val() : max;

    if ($(this).find('input[id$="_1"]').val() | $(this).find('input[id$="_0"]').val()) {
      var value = selected_min + ' - ' + selected_max;
      $(this).parentsUntil('div.stop').parent().find('.text-info').html(value);
      $(this).parent().find('.text-info').html(value);
    }
    $(this).slider({
      range: true,
      min: min,
      max: max,
      values: [eval(selected_min), eval(selected_max)],
      slide: function( event, ui ) {
          if (ui.values[0] == ui.values[1]){
            value = ui.values[0];
          } 
          else {
            value = ui.values[0] + ' - ' + ui.values[1];
          }
          $(this).parentsUntil('div.stop').parent().find('.text-info').html(value);
          $(this).parent().find('.text-info').html(value);
          $(this).find('input[id$="_0"]').val(ui.values[0]);
          $(this).find('input[id$="_1"]').val(ui.values[1]);
      },
      change: function( event, ui ) {
          $('form').change();
      }
    });
});

$('.datewidget').datepicker({format: 'dd/mm/yyyy', weekStart: 1, language: 'es'}).on('changeDate',
    function(ev){/*$('#id_date_0').datepicker('hide');*/
  });

$('ul').addClass("without_decorator");


{% endblock %}
