{% extends "conf/includes/base.html" %}

{% load i18n messages %}

{% block left_panel %}
  {% comment %} {% include "cal/includes/events/calendar.html" %} {% endcomment %}
{% endblock %}

{% block right_panel %}

 <!-- Button Toolbar -->
  <div class="row">
    <div class="span5">
      <div class="btn-toolbar" style="margin-bottom: 9px">
          <div class="btn-group">
            <a class="btn btn-primary" href="{% url cal.views.main %}">{% trans "Calendar" %}</a>
            <a class="btn btn-primary" href="{% url cal.list_slot_type %}">{% trans "Preference types" %}</a>
          </div>
          <div class="btn-group">
            <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> {% trans "Absences" %}</a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url cal.list_vacation %}"><i class="icon-plane"></i> {% trans "Vacations" %}</a></li>
                <li><a href="{% url cal.list_event %}"><i class="icon-calendar"></i> {% trans "Events" %}</a></li>
              </ul>
          </div>
      </div>
    </div>
  </div>

{% endblock %}

{% comment %}

{% extends "cal/includes/base.html" %}
<!-- ... -->

{% block content %}
    <a href="{% url cal.views.main year|add:'-3' %}">&lt;&lt; Prev</a>
    <a href="{% url cal.views.main year|add:'3' %}">Next &gt;&gt;</a>

    {% for year, months in years %}
        <div class="clear"></div>
        <h4>{{ year }}</h4>
        {% for month in months %}
            <div class=
            {% if month.current %}"current"{% endif %}
            {% if not month.current %}"month"{% endif %} >
                {% if month.entry %}<b>{% endif %}
                <a href="{% url cal.views.month year month.n %}">{{ month.name }}</a>
                {% if month.entry %}</b>{% endif %}
            </div>

            {% if month.n == 6 %}<br />{% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
{% endcomment %}
