{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block container %}
<div class="page-header">
  <h1>{% trans 'Nueva preferencia' %}
    <div class="btn-group pull-right">
      <a class="btn btn-info" href="{% url cal.list_slot year %}">
        <i class="icon-arrow-left icon-white"></i>
        {% trans 'Volver' %}
      </a>
    </div>
  </h1>
</div>

<div class="center">
<form class="form" method="post" action="{% url cal.add_slot year  %}">
  {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-error">
          {% for error in form.non_field_errors %}
            <strong>{% trans '¡Error!' %}</strong>
            {{ error|escape }}
          {% endfor %}
      </div>
    {% endif %}
    <div class="row-fluid">
    <div class="well" style="float: left; max-width: 276px; margin-left: 10px">
    <!-- SLOT_TYPE -->
    {% if form.slot_type.errors %}
      <div class="control-group error">
        <label for="id_slot_type" class="control-label">{{form.slot_type.label}}</label>
        <div class="controls">
          {{ form.slot_type }}
          {% for error in form.slot_type.errors %}
             <span class="help-inline">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="control-group">
        <label for="id_event_type" class="control-label">{{form.slot_type.label}}</label>
        <div class="controls">
          {{ form.slot_type }}
        </div>
      </div>
    {% endif %}
    <!-- END SLOT_TYPE -->

    <!-- START_TIME -->
    {% if form.start_time.errors %}
      <div class="control-group error">
        <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
        <div class="controls">
          {{ form.start_time }}
          <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
          {% for error in form.start_time.errors %}
             <span class="help-inline">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="control-group">
        <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
        <div class="controls">
          {{ form.start_time }}
          <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
        </div>
      </div>
    {% endif %}
    <!-- END START_TIME -->

    <!-- END_TIME -->
    {% if form.end_time.errors %}
      <div class="control-group error">
        <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
        <div class="controls">
          {{ form.end_time }}
          <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
          {% for error in form.end_time.errors %}
             <span class="help-inline">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="control-group">
        <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
        <div class="controls">
          {{ form.end_time }}
          <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
        </div>
      </div>
    {% endif %}
    <!-- END END_TIME -->

    <!-- NOTE -->
    {% if form.description.errors %}
      <div class="control-group error">
        <label for="id_description" class="control-label">{{form.description.label}}</label>
        <div class="controls">
          {{ form.description }}
          {% for error in form.description.errors %}
             <span class="help-inline">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="control-group">
        <label for="id_description" class="control-label">{{form.description.label}}</label>
        <div class="controls">
          {{ form.description }}
        </div>
      </div>
    {% endif %}
    <!-- END NOTE -->
    </div>

    <div class="well" style="float: left; max-width: 155px; margin-left: 20px">
    <!-- WEEKDAY -->
      <div class="control-group {% if form.weekdays.errors %}error{% endif %}">
        <label for="id_weekdays" class="control-label">{{form.weekdays.label}}</label>
        <hr>
        <div class="controls" style="text-align: left">
          {{ form.weekdays }}
          {% for error in form.weekdays.errors %}
             <span class="help-inline">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    
    <!-- END WEEKDAY -->
    </div>

    <div class="well" style="float: left; max-width: 155px; margin-left: 20px">
    <!-- MONTH -->
      <div class="control-group {% if form.months.errors %}error{% endif %}">
        <label for="id_months" class="control-label">{{form.months.label}}</label>
        <hr>
        <div class="controls" style="text-align: left">
          {{ form.months }}
          {% for error in form.months.errors %}
             <span class="help-inline">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    <!-- END MONTH -->
    </div>
    </div>

    <div class="center">
      <button class="btn btn-large btn-primary" type="submit">
        <i class="icon-ok-sign icon-white"></i>
        {% trans 'Guardar' %}</button>
    </div>
</form>
</div>
{% endblock %}

{% block jquery_init %}

  $('#id_start_time').timepicker({'showMeridian': false, 'defaultTime': '{% if form.start_time.value %}{{ form.start_time.value|time:"H:i" }}{% else %}08:00{% endif %}' });
  $('#id_end_time').timepicker({'showMeridian': false, 'defaultTime': '{{ form.end_time.value|time:"H:i" }}'});
  $('#id_date').datepicker({'format':'dd/mm/yyyy'});
  $('ul').addClass("without_decorator");
{% endblock %}
