{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Events list' %}{% endblock %}

{% block right %}
  {% comment %} {% include "cal/includes/events/calendar.html" %} {% endcomment %}
{% endblock %}

{% block container %}
  <div class="page-header">
    <h1>{% trans 'Nueva preferencia' %}
            <div class="btn-group pull-right">
                <a class="btn btn-info" href="{% url cal.list_slot year month %}">
                  <i class="icon-arrow-left icon-white"></i>
                  {% trans 'Volver' %}
                </a>
            </div>
        </h1>
  </div>

<div class="well center">
<form class="form-horizontal" method="post" action="{% url cal.add_slot year month %}">{% csrf_token %}
  <fieldset>

      {% if  form.non_field_errors  %}
        <div class="alert alert-error">
            {% for error in form.non_field_errors %}
                <strong>{% trans '¡Error!' %}</strong>
                {{ error|escape }}
            {% endfor %}
        </div>
      {% endif %}

      <!-- WEEKDAY -->
      {% if form.weekday.errors %}
        <div class="control-group error">
          <label for="id_weekday" class="control-label">{{form.weekday.label}}</label>
          <div class="controls">
            {{ form.weekday }}
            {% for error in form.weekday.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_weekday" class="control-label">{{form.weekday.label}}</label>
          <div class="controls">
            {{ form.weekday }}
          </div>
        </div>
      {% endif %}
      <!-- END WEEKDAY -->

      <!-- SLOT_TYPE -->
      {% if form.slot_type.errors %}
        <div class="control-group error">
          <label for="id_slot_type" class="control-label">{{form.slot_type.label}}</label>
          <div class="controls">
            {{ form.slot_type }}
            {% for error in form.slot_type.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_event_type" class="control-label">{{form.slot_type.label}}</label>
          <div class="controls">
            {{ form.slot_type }}
          </div>
        </div>
      {% endif %}
      <!-- END SLOT_TYPE -->

      {% comment %}
      <!-- END_DATE -->
      {% if form.date.errors %}
        <div class="control-group error">
          <label for="id_date" class="control-label">{{form.date.label}}</label>
          <div class="controls">
            {{ form.date }}
            {% for error in form.date.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_end_time" class="control-label">{{form.date.label}}</label>
          <div class="controls">
            {{ form.date }}
          </div>
        </div>
      {% endif %}
      <!-- END END_DATE -->
      {% endcomment %}

      <!-- START_TIME -->
      {% if form.start_time.errors %}
        <div class="control-group error">
          <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
          <div class="controls">
            {{ form.start_time }}
            <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
            {% for error in form.start_time.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
          <div class="controls">
            {{ form.start_time }}
            <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
          </div>
        </div>
      {% endif %}
      <!-- END START_TIME -->

      <!-- NOTE -->
      {% if form.description.errors %}
        <div class="control-group error">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
            {% for error in form.description.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
          </div>
        </div>
      {% endif %}
      <!-- END NOTE -->

      <p class="center">
        <button class="btn btn-large btn-primary" type="submit">
          <i class="icon-play icon-white"></i>
          {% trans 'Add' %}</button>
      </p>

  </fieldset>
</form>
</div>
{% endblock %}

{% block jquery_init %}

  $('#id_start_time').timepicker({'showMeridian': false, 'defaultTime': '{{ form.start_time.value|time:"H:i" }}' });
  $('#id_date').datepicker({'format':'dd/mm/yyyy'});

{% endblock %}
