{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block right %}
  {% comment %} {% include "cal/includes/events/calendar.html" %} {% endcomment %}
{% endblock %}

{% block css_inline %}
  .controls li {
    min-width: 100px;
  }
  ul.without_decorator{
    margin: 0 0 9px 5px;
  }
{% endblock %}

{% block container %}
  <div class="page-header">
    <h1>{% trans "Editar preferencia" %}
            <div class="btn-group pull-right">
              <a class="btn btn-info" href="{% url 'cal.list_slot' year %}">
                <i class="icon-arrow-left icon-white"></i>
                {% trans 'Volver' %}
              </a>
            </div>
        </h1>
  </div>

<div class="center">

<form class="form" method="post" action="{{request.path}}">
  {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-error">
          {% for error in form.non_field_errors %}
            <strong>{% trans '¡Error!' %}</strong>
            {{ error|escape }}
          {% endfor %}
      </div>
    {% endif %}
    <div class="row-fluid">
    <div class="well" style="float: left; max-width: 276px; margin-left: 10px">
    <!-- SLOT_TYPE -->
    {% if form.slot_type.errors %}
      <div class="control-group error">
        <label for="id_slot_type" class="control-label">{{form.slot_type.label}}</label>
        <div class="controls">
          {{ form.slot_type }}
          {% for error in form.slot_type.errors %}
             <span class="help-inline">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="control-group">
        <label for="id_event_type" class="control-label">{{form.slot_type.label}}</label>
        <div class="controls">
          {{ form.slot_type }}
        </div>
      </div>
    {% endif %}
    <!-- END SLOT_TYPE -->
    
    <!-- START_TIME -->
      {% if form.start_time.errors %}
        <div class="control-group error">
          <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.start_time }}
            </div>
            {% for error in form.start_time.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
          <div class="controls">
             <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.start_time }}
            </div>
          </div>
        </div>
      {% endif %}
      <!-- END START_TIME -->

      <!-- END_TIME -->
      {% if form.end_time.errors %}
        <div class="control-group error">
          <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.end_time }}
            </div>
            {% for error in form.end_time.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
          <div class="controls">
           <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.end_time }}
            </div>
          </div>
        </div>
      {% endif %}
      <!-- END END_TIME -->

    <!-- NOTE -->
    {% if form.description.errors %}
      <div class="control-group error">
        <label for="id_description" class="control-label">{{form.description.label}}</label>
        <div class="controls">
          {{ form.description }}
          {% for error in form.description.errors %}
             <span class="help-inline">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="control-group">
        <label for="id_description" class="control-label">{{form.description.label}}</label>
        <div class="controls">
          {{ form.description }}
        </div>
      </div>
    {% endif %}
    <!-- END NOTE -->

    <div class="well" style="float: left; max-width: 155px; margin-left: 20px">
    <!-- WEEKDAY -->
      <div class="control-group {% if form.weekdays.errors %}error{% endif %}">
        <label for="id_weekdays" class="control-label">{{form.weekdays.label}}</label>
        <hr>
        <div class="controls" style="text-align: left">
          {{ form.weekdays }}
          {% for error in form.weekdays.errors %}
             <span class="help-inline">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    
    <!-- END WEEKDAY -->
    </div>

    <div class="well" style="float: left; max-width: 155px; margin-left: 20px">
    <!-- MONTH -->
      <div class="control-group {% if form.months.errors %}error{% endif %}">
        <label for="id_months" class="control-label">{{form.months.label}}</label>
        <hr>
        <div class="controls" style="text-align: left">
          {{ form.months }}
          {% for error in form.months.errors %}
             <span class="help-inline">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    <!-- END MONTH -->
    </div>
    </div>

    <div class="center">
      <a id="remove-event" class="btn btn-large btn-danger" >
        <i class="icon-remove-sign icon-white"></i>
        {% trans 'Eliminar' %}
      </a>
      <button class="btn btn-large btn-primary" type="submit">
        <i class="icon-ok-sign icon-white"></i>
        {% trans 'Guardar cambios' %}</button>
    </div>

</form>
</div>

<div id="modal-screen" class="modal hide">
  <div class="modal-header">
    <h3>{% trans 'Eliminar evento' %}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans '¿Desea eliminar el evento seleccionado?' %}</p>
  </div>
  <div class="modal-footer">
    <a id="confirm-delete" class="btn" data-startmsg="{% trans 'Yes' %}" data-loadingmsg="{% trans 'Borrando' %}...">{% trans 'Sí' %}</a>
    <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans 'No' %}</a>
  </div>
</div>
{% endblock %}

{% block jquery_init %}
  $('#id_start_time').timepicker({'showMeridian': false, 'defaultTime': '{% if form.start_time.value %}{{ form.start_time.value|time:"H:i" }}{% else %}08:00{% endif %}' });
  $('#id_end_time').timepicker({'showMeridian': false, 'defaultTime': '{{ form.end_time.value|time:"H:i" }}'});
  $('#id_date').datepicker({'format':'dd/mm/yyyy', weekStart:1, language: 'es'});
  $('ul').addClass("without_decorator");

  $('#id_weekdays_'+parseInt($('#initial-id_weekdays').val().replace('[','').replace(']',''))).prop('checked','checked');
  $('#id_months_'+parseInt($('#initial-id_months').val().replace('[','').replace(']',''))).prop('checked','checked');


$('#remove-event').live('click', function(event){
    $('#modal-screen').modal({
      'backdrop':'static',
      'keyboard':false,
    });
  });

  $('#confirm-delete').live('click', function(event){
    event.preventDefault();
    $(this).html($(this).attr('data-loadingmsg') + '<i class="icon-fire"></i>');

    $(this).attr('disabled', true);
    $(this).siblings().attr('disabled', true);
    $(this).siblings().attr('data-dismiss', 'static');

  $.get('{% url 'cal.delete_slot' slot.id %}', function(data) {
      window.location.href = '{% url 'cal.list_slot' year %}';
  });

});

{% endblock %}
