{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Slots list' %}{% endblock %}

{% block right %}
  {% comment %} {% include "cal/includes/events/calendar.html" %} {% endcomment %}
{% endblock %}

{% block container %}

  <legend>{% trans "Preferencia de Citas para " %}          
    <div class="btn-group pull-right">
            <a class="btn btn-info" href="{% url cal.add_slot year month %}"><i class="icon-pencil icon-white"></i> {% trans "Nueva preferencia" %}</a>
          </div>
    </legend>

  
  {% regroup slots by get_weekday_display as slots_by_weekday %}

  {% for weekday in slots_by_weekday %}
    <table id="events_list" class="table">
      <thead>
        <tr>
          <th><h3>{{ weekday.grouper }}</span></h3>
        </tr>

        <tr>
          <th>{% trans "Tipo de cita" %}</th>
          <th>{% trans "Notas" %}</th>
          <th>{% trans "Hora inicial" %}</th>
          <th>{% trans "Hora final" %}</th>
          <th>{% trans "Duración (min)" %}</th>
        </tr>
      </thead>
      <tbody>
          {% include "cal/slot/slot.html" %}
      </tbody>
    </table>
  {% endfor %}

    <div id="preview"></div>
{% endblock %}

{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/loading.gif' alt='loading...'/>";

$('table tbody tr').live('click', function(event){
  var id = $(this).attr('data-msg');

  if(id){
    $('table').hide();
    $('#message-paginator').hide();
    window.location.href = '/calendar/slot/edit/' + id;
  }
});
{% endblock %}
