{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block container %}
  <div class="page-header">
    <h1>{% trans "Preferencias" %} {{year}}
            <div class="btn-group pull-right">
                <a class="btn btn-info" href="{% url cal.add_slot year %}"><i class="icon-plus-sign icon-white"></i> {% trans "Añadir" %}</a>
            </div>
        </h1>
  </div>

  {% regroup slots by get_month_display as slots_by_month %}

  <div class="accordion" id="preferences">
    {% for month in slots_by_month %}
      
      
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="  #preferences" href="#collapse{{month.grouper}}">
        {{month.grouper|upper}}
        </a>
      </div>
      <div id="collapse{{month.grouper}}" class="accordion-body collapse">
        <div class="accordion-inner">
        {% regroup month.list by get_weekday_display as slots_by_weekday %}

        {% for weekday in slots_by_weekday %}
          <h4>{{ weekday.grouper }}</h4>
          <table id="events_list" class="table table-hover">
            <thead>
              <tr>
                <th>{% trans "Tipo de cita" %}</th>
                <th>{% trans "Hora inicial" %}</th>
                <th>{% trans "Hora final" %}</th>
                <th>{% trans "Descripción" %}</th>
              </tr>
            </thead>
            <tbody>
                {% include "cal/slot/slot.html" %}
            </tbody>
          </table>
        {% endfor %}
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
{% endblock %}

{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/loading.gif' alt='loading...'/>";

$('table tbody tr').live('click', function(event){
  var id = $(this).attr('data-msg');

  if(id){
    window.location.href = '/calendar/slot/edit/' + id;
  }
});
{% endblock %}
