{% load i18n messages%}

<div id="message">
  <h4>{{ message.subject }}<small class="pull-right">{{ message.sent_at|date:"d M y H:i" }}</small></h4>
  <div>
      {% trans 'De' %} <strong>{{ message.author.get_profile.get_full_name }}</strong>
  </div>
  <div>
      {% trans 'Para' %} <em class="muted">{{ message.recipient.get_profile.get_full_name }}</em>
  </div>
   
  <br />
    <div><span>{{ message.body|safe|escape|linebreaks }}</span>
      <br />
      {% if message.parent %}
        <span class="muted" style="max-height: 200px; overflow-y: auto">
        {% with message=message.parent %}
          <blockquote>
            <small>{{message.sent_at|date:"d M y H:i"}}, {{ message.author.get_profile.get_full_name }} {% trans 'escribió' %}:</small>
            <p>{{ message.body|safe|escape|linebreaks }}</p>
          </blockquote>
        {% endwith %}
        </span>
      {% endif %}

    </div>
  <!-- END BODY -->
</div>


<script type="text/javascript">

$('#reply').on('click', function(event){
  $('#myModal').modal('hide');
  $('#mail_area').load('{% url private_messages_reply  message.id %}', function() {
     sp.stop();
     $('#message').show();
     $("textarea:visible:first").focus();
  });

});

</script>
