{% extends "private_messages/includes/base.html" %}

{% load i18n %}
{% load messages %}

{% match_referer "inbox" as match_inbox %}

{% block left %}
  {% include "private_messages/includes/mail_actions.html" %}
{% endblock %}

{% block large %}
<section>
<div class="page-header">
  <h1>{% get_header request %}
          <div class="btn-group pull-right">
             <a class="btn btn-info" href="{% url private_messages_new %}"><i class="icon-pencil icon-white"></i> {% trans "Redactar" %}</a>
          </div>
      </h1>
</div>
<div id="mail_area" class="">
  {% if messages.object_list.count > 0 %}
    <table id="message_list" class="table table-hover">
      <thead></thead>
      <tbody>
        {% for message in messages.object_list %}
          {% include "private_messages/message_detail.html" %}
        {% endfor %}
      </tbody>
    </table>
     {% include 'ui/includes/pagination_bar.html' with objects=messages %}
    
  {% else %}
    <div class="alert alert-info">{% trans "No hay mensajes" %}</div>
  {% endif %}
</div>
<div class="modal fade hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="subject">Mensaje</h3>
  </div>
  <div id="preview" class="modal-body">
  </div>
  <div class="modal-footer">

    
    <button id="reply" class="btn btn-primary"><i class="icon-share-alt icon-white"></i> {% trans 'Responder' %}</button>

    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cerrar' %}</button>
  </div>
</div>
</section>
{% endblock %}

{% block jquery_init %}
$('#main').remove();
$('#right_bar').remove();
$('table tbody tr').on('click', function(event){
  var id = $(this).attr('data-msg');
  var loader = '<img src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." />';
  if( $(this).hasClass('unread') ){
    $(this).removeClass('unread');
    $(this).removeClass('warning');
    $('#unread_messages').html(parseInt($('#unread_messages').text()-1));
    $(this).find('td').css('font-weight','normal');
    $(this).find('span').css('font-weight','normal');
    $(this).find('.icon-envelope').removeClass('icon-envelope').addClass('icon-eye-open');
  }
  $('#preview').html(loader);
  $('#preview').load("/messages/view/" + id);
  $('#myModal').modal('show');
});
{% endblock %}
