{% load i18n messages consulting %}

{% match_url "private_messages_outbox" as match_outbox %}
{% match_url "private_messages_inbox" as match_inbox %}

<tr {% if match_inbox and message.unread %}class="unread{% if request.user.get_profile.is_doctor %} warning{% endif %}"{% endif %} data-msg="{{ message.id }}" style="cursor:pointer" >

{% if match_outbox or message.author = patient_user %}
  <td><i class="icon-share"></i></td>
  {% if request.user.get_profile.is_doctor %}
  <td style="font-weight: {{ message.unread|yesno:'bold,normal' }}">{{ message.recipient.get_profile.get_full_name }}</td>
  {% else %}
  <td>{{ message.recipient.get_profile.get_full_name }}</td>
  {% endif %}
{% endif %}

{% if match_inbox or message.recipient = patient_user %}
    <td><i class="{{ message.unread|yesno:'icon-envelope,icon-eye-open' }}"></i></td>
   <td style="font-weight: {{ message.unread|yesno:'bold,normal' }}"><span>{{ message.author.get_profile.get_full_name }}</span></td>
{% endif %}
  <td><span {% if request.user.get_profile.is_doctor %}style="font-weight: {{ message.unread|yesno:'bold,normal' }}"{% endif %}>{{ message.subject|striptags|safe}}</span> - <span class="muted">{{ message.body|striptags|safe|truncatewords:6 }}</span></td>
  <td>{% if message.attachment %}<i class="icon-file"></i>{% endif %}</td>
  <td>{{ message.sent_at|date:"d/M/y" }}</td>
  {% if match_inbox and request.user.get_profile.is_doctor %}
  <td style="text-align:center;">
    <marquee behavior="scroll" scrollamount="3" direction="left" width="150">
      {% for status in message.author.get_profile.get_medical_status %}
        {% if status|last != 'success' %}
        <span class="label label-{{status|last}}">{{status|first|striptags|safe}}</span>
        {% endif %}
      {% endfor %}
    </marquee>
  </td>
  {% endif %}
</tr>
