{% load i18n%}

<form class="form-horizontal" method="post" action="{% url private_messages_new %}">{% csrf_token %}
  <fieldset>
      <!-- SUBJECT -->
      {% if form.subject.errors %}
        <div class="control-group error">
          <label for="id_subject" class="control-label">{{form.subject.label}}</label>
          <div class="controls">
            {{ form.subject }}
            {% for error in form.subject.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_subject" class="control-label">{{form.subject.label}}</label>
          <div class="controls">
            {{ form.subject }}
          </div>
        </div>
      {% endif %}
      <!-- END SUBJECT -->

      <!-- BODY -->
      {% if form.body.errors %}
        <div class="control-group error">
          <label for="id_body" class="control-label">{{form.body.label}}</label>
          <div class="controls">
            {{ form.body }}
            {% for error in form.body.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_body" class="control-label">{{form.body.label}}</label>
          <div class="controls">
             {{ form.body }}
          </div>
        </div>
      {% endif %}



      <!-- END BODY -->

       <!-- RECIPIENT -->
      {% if form.recipient.errors %}
        <div class="control-group error">
          <label for="id_recipient" class="control-label">{{form.recipient.label}}</label>
          <div class="controls">
            {{ form.recipient }}
            {% for error in form.recipient.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_recipient" class="control-label">{{form.recipient.label}}</label>
          <div class="controls">
            {{ form.recipient }}
          </div>
        </div>
      {% endif %}
      <!-- END RECIPIENT -->


      <div class="form-actions">
        <button class="btn btn-large btn-primary span3 offset1" type="submit">{% trans 'Enviar' %}</button>
      </div>

  </fieldset>
</form>

<script type="text/javascript">
  $('#id_body').wysihtml5({
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": false, //Button to insert a link. Default true
    "image": false //Button to insert an image. Default true);
  });
</script>
