{% extends "private_messages/includes/base.html" %}

{% load i18n %}
{% load messages %}

{% match_referer "inbox" as match_inbox %}

{% block title %}{% trans 'Message list' %}{% endblock %}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/spin.min.js"></script>
{% endblock %}

{% block left %}
  {% include "private_messages/includes/mail_actions.html" %}
{% endblock %}

{% block large %}
  <div class="page-header">
    <h1>{% get_header request %} {% if request.user|unread_messages %}<small>[{{ request.user|unread_messages }}]</small>{% endif %}
            <div class="btn-group pull-right">
               <a class="btn btn-info" href="{% url private_messages_new %}"><i class="icon-pencil icon-white"></i> {% trans "Redactar" %}</a>
            </div>
        </h1>
  </div>
<div id="mail_area">
  {% if messages.object_list.count > 0 %}
    <table id="message_list" class="table table-striped">
      <thead></thead>
      <tbody>
        {% for message in messages.object_list %}
          {% include "private_messages/message_detail.html" %}
        {% endfor %}
      </tbody>
    </table>
    {% if messages.paginator.num_pages > 1 %}
    <div id="message-paginator" class="pagination pagination-centered">
      <ul>
        {% if messages.has_previous %}
          <li><a href="?page={{ messages.previous_page_number }}">←</a></li>
        {% else %}
          <li class="disabled"><a>←</a></li>
        {% endif %}
        {% for p in messages.paginator.page_range %}
         <li {% if p = messages.number %}class="disabled"{% endif %}><a href="?page={{p}}">{{p}}</a></li>
        {% endfor %}
        {% if not match_outbox %}
          <li><a href="?page={{ messages.next_page_number }}">→</a></li>
        {% else %}
          <li class="disabled"><a>→</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
    
  {% else %}
    <div class="alert alert-info">{% trans "No hay mensajes" %}</div>
  {% endif %}
</div>
<div class="modal fade hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="subject">Mensaje</h3>
  </div>
  <div id="preview" class="modal-body">
  </div>
  <div class="modal-footer">

    {% if messages.object_list.0.recipient = request.user  %}
    <button id="reply" class="btn btn-primary"><i class="icon-share-alt icon-white"></i> {% trans 'Responder' %}</button>
    {% endif %}
    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cerrar' %}</button>
  </div>
</div>

{% endblock %}

{% block jquery_init %}

$('table tbody tr').on('click', function(event){
  var id = $(this).attr('data-msg');
  var loader = '<img src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." />';
  $('#preview').html(loader);
  $('#myModal').modal('show');

  $('#preview').load("/messages/view/" + id);
});

function start_spinner(el){
  return create_spinner_on(el);
}

function create_spinner_on(el){
  var opts = {
    lines: 13, // The number of lines to draw
    length: 7, // The length of each line
    width: 4, // The line thickness
    radius: 10, // The radius of the inner circle
    rotate: 0, // The rotation offset
    color: '#000', // #rgb or #rrggbb
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: '0px', // Top position relative to parent in px
    left: '0px' // Left position relative to parent in px
  };

  var target =  document.getElementById(el);
  var spinner = new Spinner(opts).spin(target);
  return spinner;
}

{% endblock %}
