{% extends "ui/app.html" %}

{% load i18n%}

{% block body %}
<div class="container">
    {% block nav-bar%}
        {% include "ui/includes/nav_bar_doctor_monitoring.html" %}       
    {% endblock  %}
    <section>
        <div class="page-header">
          <h1>{% trans 'Encuesta: ' %}{{task.survey.name}}</h1>              
        </div>
        <div class="row" >
            <div class="span8">
                <div class="page-header">
                  <h2>{% trans 'Bloque' %} {{my_block.code}}: {{my_block.name}}</h2>
                </div>
                <form class="form-horizontal" method="post" action="{% url consulting_successive_survey task.id appointment.id %}">{% csrf_token %}
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="control-group error">
                                <label>
                                    {{field.label}}
                                </label>
                                <div>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <span class="help-inline">
                                            {{ error|escape }}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="control-group">
                                <label>
                                    {{field.label}}
                                </label>
                                <div>
                                    {{ field }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="controls span1">
                        <button type="submit" class="btn btn-primary btn-large">
                          {% trans 'Guardar' %}
                        </button>
                    </div>
                </form>               
            </div>
            <div class="span4">
                {% include "consulting/patient/card.html" %}
            </div>  
        </div>
    </section>
</div>
{% endblock body %}

{% block jquery_init %}
    $('ul').addClass("without_decorator");
{% endblock %}