{% extends "consulting/consultation/monitoring/index.html" %}

{% load i18n %}

{% block container %}
  <div class="page-header">
    <h1>{% trans 'Encuesta sucesiva' %}</h1>
  </div>
  <section>

      <div class="hero-unit">
        <form class="form-horizontal" method="post" action="{% url consulting_select_successive_survey appointment.id %}">{% csrf_token %}
          {% if form.survey.errors %}
            <div class="control-group error">
              <label class="control-label">
                {{form.survey.label}}
              </label>
              <div class="controls">
                {{ form.survey }}
                {% for error in form.survey.errors %}
                  <span class="help-inline">
                    {{ error|escape }}
                  </span>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div class="control-group">
              <label class="control-label">
                {{form.survey.label}}
              </label>
              <div class="controls">
                {{ form.survey }}
              </div>
            </div>
          {% endif %}
          {% if form.variables.errors %}
            <div id="error_variables" class="control-group error">
              <div class="">
                {{ form.variables }}
                {% for error in form.variables.errors %}
                  <span class="help-inline">
                    {{ error|escape }}
                  </span>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div id="variables" class="control-group" style="display: none;">
              <label class="control-label">
                {{form.kind.label}}
              </label>
              <div class="controls">
                {{ form.kind }}
              </div>
              <label class="control-label">
                Variables
              </label>
              <div class="controls">
                {{ form.variables }}
              </div>
            </div>
          {% endif %}
          <div class="center">
            <button type="submit" class="btn btn-primary btn-large">
              Continuar
            </button>
          </div>
        </form>
    </div>
{% endblock container %}


{% block jquery_init %}
  $('ul').addClass("without_decorator");

  $("#id_survey").change(function() {
        if($(this).val() == {{code_variables}}){
          $('#variables').css("display", "block");
          $('#error_variables').css("display", "block");
        }else{
          $('#variables').css("display", "none");
          $('#error_variables').css("display", "none");          
        }
  });
{% endblock %}