{% extends "cal/includes/base.html" %}

{% load i18n messages userprofile %}

{% block js_files %}
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  {{ block.super }}
{% endblock %}

{% block right %}
  {% include "cal/includes/calendar.html" with doctor=doctor %}
{% endblock %}

{% block container %}
  {% if patient_user %}
    {% include "cal/includes/pagination_day.html" with user=patient_user %}
  {% else %}
    {% include "cal/includes/pagination_day.html" with user=doctor %}
  {% endif %}

  {% if request.user.get_profile.is_administrative %}
  <div class="well">
    <h4>{{ doctor.get_profile|name_with_title }}</h4>
  </div>
  {% endif %}
  {% if patient_user %}
  <div class="well">
    <h4>{% trans "Paciente" %}
      {% if not patient_user.is_active %}
        <span class="text-error">{% trans '[INACTIVO]' %}</span>
      {% endif %}: 
      {{ patient_user.get_profile.get_full_name }}
  </h4>
  </div>
  {% else %}
      {% for b in birthdays %}
        <div class="alert alert-warning">
          <i class="icon-gift"></i> {% trans 'Cumpleaños de' %} <strong>{{b.get_full_name}}</strong></div>
      {% endfor %}
  {% endif %}

  {% if events.object_list.count > 0 %}
    

    <table id="events_list" class="table table-striped">
      <thead>
          <tr>
            <th>{% trans "Fecha" %}</th>
            <th>{% trans "Inicio" %}</th>
            <th>{% trans "Final" %}</th>
            <th>{% trans "Paciente" %}</th>
            <th>{% trans "Tipo de cita" %}</th>
            <th>{% trans "Notas" %}</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
        {% for event in events.object_list %}
          {% include "cal/includes/appointment_patient.html" %}
        {% endfor %}
      </tbody>
    </table>

    {% include 'ui/includes/pagination_bar.html' with objects=events %}

    <div id="preview"></div>
  {% else %}
    {% if vacations %}
    <div class="alert alert-error alert-block">{% trans "El doctor no está disponible para este día" %}</div>
    {% else %}
    <div class="alert alert-info alert-block">{% trans "No hay citas concertadas para este día" %}</div>
    {% endif %}

  {% endif %}
{% endblock %}

