{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Nueva cita' %}{% endblock %}

{% block right %}
  {% include "cal/includes/calendar_new_app_admin.html" %}
{% endblock %}

{% block container %}
  <legend>
    <div>
      {{ day }} {% trans "de" %} {{ mname }} {% trans "de" %} {{ year }}
       <a class="btn btn-info pull-right" href="{% url cal.app_add_new_app_admin year month day doctor.id patient.id %}"><i class="icon-pencil icon-white"></i> {% trans "Asignar cita" %}</a>
   </div>
  </legend>


  <div class="well">
    <h4>Dr. {{ doctor.get_profile.name }} {{ doctor.get_profile.first_surname }}</h4>
  </div>
  <div class="well">
    <h4>{% trans "Paciente:" %} {{ patient.get_profile.name }} {{ patient.get_profile.first_surname }} {{ patient.get_profile.second_surname }}</h4>
  </div>
 
  {% if events.object_list.count > 0 %}
    

    <table id="events_list" class="table table-striped">
      <thead>
          <tr>
            <th>{% trans "Fecha" %}</th>
            <th>{% trans "Inicio" %}</th>
            <th>{% trans "Final" %}</th>
            <th>{% trans "Paciente" %}</th>
            <th>{% trans "Tipo de cita" %}</th>
            <th>{% trans "Notas" %}</th>
          </tr>
      </thead>
      <tbody>
        {% for event in events.object_list %}
          {% include "cal/app/appointment.html" %}
        {% endfor %}
      </tbody>
    </table>
    <div id="events-paginator" class="pagination pagination-centered">
      <ul>
        {% if events.has_previous %}
          <li><a href="?page={{ events.previous_page_number }}">←</a></li>
        {% else %}
          <li class="disabled"><a>←</a></li>
        {% endif %}

        {% if events.has_next %}
          <li><a href="?page={{ events.next_page_number }}">→</a></li>
        {% else %}
          <li class="disabled"><a>→</a></li>
        {% endif %}
      </ul>
    </div>

    <div id="preview"></div>
  {% else %}
    <div class="alert alert-info">{% trans "No hay citas concertadas para este día" %}</div>
  {% endif %}

{% endblock %}
{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/loading.gif' alt='loading...'/>";

$('table tbody tr').live('click', function(event){
  var id = $(this).attr('data-msg');
  var id_patient = $(this).attr('id');
  if(id){
    $('table').hide();
    window.location.href = '/calendar/app/edit/' +id+ '/' + id_patient + '/{{ doctor.id }}';
  }
});
{% endblock %}