{% load i18n %}
{% load l10n %}
{% load stadistic %}

{% if reports|length %}
<div class="alert alert-info">La consulta devolvió <strong class="text-info">{{reports|length}}</strong> resultados</div>

<div id="myCarousel" class="carousel slide hide" data-interval="">
  <div class="carousel-inner" style="min-height: 500px">
    <div class="item">
      <div id="vis" class="center" style="min-height: 500px"></div>
      <div class="carousel-caption">
        <h4>{% trans 'Valor medio de las variables' %}</h4>
        <p>Pase el ratón por cada variable para comparar sus valores.</p>
      </div>
    </div>
    <div class="active item">
      <div id="pie" class="center" style="min-height: 500px"></div>
      <div class="carousel-caption">
        <h4>{% trans 'Distribución por edades' %}</h4>
        <p></p>
      </div>
    </div>
    <div class="item">
      <div id="donuts" class="center" style="min-height: 500px">
      </div>
      <div class="carousel-caption">
        <h4>{% trans 'Estratificación de pacientes' %}</h4>
        <p></p>
      </div>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<script type="text/javascript">
if ($.browser.msie && $.browser.version < '9') {
  $('#myCarousel').remove();
} else {
  $('#myCarousel').on('slid',function(){
    $(this).find('.active').find('.carousel-caption').fadeIn('slow').delay(5000).fadeOut('slow');
    {% if data|length > 2 %}
    if($(this).find('.active').id = 'donuts') {
      //$(this).find('.active').empty();
      graphToday();
    }
    {% endif %}
  });
  $('#myCarousel').fadeIn('slow');
  var data = [
  {% for labelname, values in data.items %}
    {% localize off %}
      {"sharedLabel": "{{labelname}}", "barData1": {% if values.1 %}{{values.1|unlocalize}}{% else %}0{% endif %}, "barData2": {% if values.2 %}{{values.2|unlocalize}}{% else %}0{% endif %}},
    {% endlocalize %}
  {% endfor %}
  ];
  init_bars(data, '#vis');
  data = [
    {% for labelname, value in data1|sorteditems %}
      {% if value %}
      {
      "age":"{% if labelname %}{% if labelname = labels_for_data1|first %}≤{% endif %}{{labelname|safe}}{% else %}?{% endif %} [{{value}}]", "population":{{value}}
      }, 
      {% endif %}
    {% endfor %}
  ];
  init_pie(data, '#pie');
  

  {% if data2|length  and data2|length < 3 %}
    var dataset = {
      {% for k, v in data2.items %}
      '{{k|upper}}': {{v}},
      {% endfor %}
    };
 
    init_donuts(dataset, '#donuts');
  {% else %}
    {% if data|length > 2 %}
    function graphToday() {
      var data = [
        { label: "{% trans 'MUJERES' %}", data: [ {% for labelname, values in data.items %}[{{forloop.counter0}},{% if values.1 %}{{values.1|unlocalize}}{% else %}0{% endif %} ],{% endfor %} ],"spider":{show:true, fill:true }, "color":"#F9A52E" },
        { label: "{% trans 'HOMBRES' %}", data: [ {% for labelname, values in data.items %}[{{forloop.counter0}},{% if values.2 %}{{values.2|unlocalize}}{% else %}0{% endif %} ],{% endfor %} ],"spider":{show:true, fill:true }, "color":"#0088CC" }
        ];

      var options = {
        series:{
          spider:{
            active: true,
            highlight: {mode: "area"},
            legs: { 
              font: "12px Arial",
              data: [{% for labelname, values in data.items %}{ label: "{{labelname}}" }{% if not forloop.last %}, {% endif %}{% endfor %}],
              legStartAngle: 0,
              legScaleMin: 0
            },
            spiderSize: 0.64,
            pointSize: 4,
            scaleMode: 'others',
            debug:{ active:false}       
          }
        },
        grid:{ hoverable: true, clickable: true, tickColor: "rgba(0,0,0,0.15)",mode: "radar"},
      };

      $.plot($("#donuts"), data , options);

    };
    {% else %}
      $('#donuts').parent().remove();
    {% endif %}

  {% endif %}
};
</script>

{% else %}
<div class="alert alert-warning">
  <p>La consulta no devolvió <strong class="text-info">ningún</strong> resultado.</p>
  <p>Utilice criterios de filtrado menos restrictivos e inténtelo de nuevo.</p>
</div>
{% endif %}

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{% trans 'Explotación de resultados' %}</h3>
  </div>
  <div class="modal-body" style="max-height: 300px; overflow: auto">
    <div id="data">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Profesión</th>
            <th>{% if group %}
              <small>Episodio más reciente</small>
              {% else %}
                Fecha 
              {% endif %}
            </th>
          {% for d in dimensions %}
            <td><small>Dimensión {{d.name}}</small></td>
          {% endfor %}
          {% for v in variables %}
            <td><small>{{v.name}}</small></td>
          {% endfor %}
          {% for s in status %}
            <td><small>{{s}}</small></td>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for r in reports %}
          <tr>
            <td>{{r.patient.id}}</td>
            <td>{% if r.age %}{{r.age}}{% endif %}</td>
            <td>{{r.patient.get_sex}}</td>
            <td>{{r.profession}}</td>
            <td>{{r.task.end_date|date:"j/m/Y"}}</td>
            {% for d in dimensions %}
              <td title="{{d.name}}">{% dictvalue r.dimensions d.name %}</td>
            {% endfor %}
            {% for v in variables %}
              <td title="{{v.name}}">{% dictvalue r.variables v.name %}</td>
            {% endfor %}
            {% for s in status %}
              <td title="{{s}}">{% dictvalue r.status s %}</td>
            {% endfor %}
          </tr>
        {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>#</th>
              <th>Edad</th>
              <th>Sexo</th>
              <th>Profesión</th>
              <th>Fecha</th>
            {% for d in dimensions %}
              <td><small>Dimensión {{d.name}}</small></td>
            {% endfor %}
            {% for v in variables %}
              <td><small>{{v.name}}</small></td>
            {% endfor %}
            {% for s in status %}
              <td><small>{{s}}</small></td>
            {% endfor %}
            </tr>
          </tfoot>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{% trans 'Cerrar' %}</button>
  </div>
</div>


