{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Events list' %}{% endblock %}

{% block right %}
  {% comment %} {% include "cal/includes/events/calendar.html" %} {% endcomment %}
{% endblock %}

{% block container %}
  <div class="page-header">
    <h1>{% trans 'Nuevo tipo de cita' %}
            <div class="btn-group pull-right">
                  <a class="btn btn-info" href="{% url cal.list_slot_type %}">
                     <i class="icon-arrow-left icon-white"></i>
                    {% trans 'Volver' %}
                  </a>
            </div>
        </h1>
  </div>

<div class="well center">

<form class="form-horizontal" method="post" action="{% url cal.add_slot_type %}">{% csrf_token %}
  <fieldset>

      {% if  form.non_field_errors  %}
        <div class="alert alert-error">
            {% for error in form.non_field_errors %}
                <strong>{% trans '¡Error!' %}</strong>
                {{ error|escape }}
            {% endfor %}
        </div>
      {% endif %}

      <!-- TITLE -->
      {% if form.title.errors %}
        <div class="control-group error">
          <label for="id_title" class="control-label">{{form.title.label}}</label>
          <div class="controls">
            {{ form.title }}
            {% for error in form.title.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_title" class="control-label">{{form.title.label}}</label>
          <div class="controls">
            {{ form.title }}
          </div>
        </div>
      {% endif %}
      <!-- END TITLE -->

      <!-- DURATION -->
      {% if form.duration.errors %}
        <div class="control-group error">
          <label for="id_duration" class="control-label">{{form.duration.label}}</label>
          <div class="controls">
            {{ form.duration }}
            {% for error in form.duration.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_duration" class="control-label">{{form.duration.label}}</label>
          <div class="controls">
            {{ form.duration }}
          </div>
        </div>
      {% endif %}
      <!-- END DURATION -->

      <!-- DESCRIPTION -->
      {% if form.description.errors %}
        <div class="control-group error">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
            {% for error in form.description.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
          </div>
        </div>
      {% endif %}
      <!-- END DESCRIPTION -->

      <p class="center">
        <button class="btn btn-large btn-primary" type="submit">
          <i class="icon-ok-sign icon-white"></i>
          {% trans 'Add' %}</button>
      </p>

  </fieldset>
</form>
</div>
{% endblock %}

{% block jquery_init %}{% endblock %}
