{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Events list' %}{% endblock %}

{% block left_panel %}
  {% comment %} {% include "cal/includes/events/calendar.html" %} {% endcomment %}
{% endblock %}

{% block right_panel %}

<a class="btn btn-primary" href="{% url cal.list_slot_type %}">
  <i class="icon-arrow-left icon-white"></i>
  {% trans 'Back' %}
</a>

  <legend>{% trans 'New Slot Type' %}</legend>

  <div class="offset1">

<form class="form-horizontal" method="post" action="{% url cal.add_slot_type %}">{% csrf_token %}
  <fieldset>

      <!-- TITLE -->
      {% if form.title.errors %}
        <div class="control-group error">
          <label for="id_title" class="control-label">{{form.title.label}}</label>
          <div class="controls">
            {{ form.title }}
            {% for error in form.title.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_title" class="control-label">{{form.title.label}}</label>
          <div class="controls">
            {{ form.title }}
          </div>
        </div>
      {% endif %}
      <!-- END TITLE -->

      <!-- DURATION -->
      {% if form.duration.errors %}
        <div class="control-group error">
          <label for="id_duration" class="control-label">{{form.duration.label}}</label>
          <div class="controls">
            {{ form.duration }}
            {% for error in form.duration.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_duration" class="control-label">{{form.duration.label}}</label>
          <div class="controls">
            {{ form.duration }}
          </div>
        </div>
      {% endif %}
      <!-- END DURATION -->

      <p class="center">
        <button class="btn btn-large btn-primary" type="submit">
          <i class="icon-play icon-white"></i>
          {% trans 'Add' %}</button>
      </p>

  </fieldset>
</form>
</div>
{% endblock %}

{% block jquery_init %}{% endblock %}
