{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Type Events list' %}{% endblock %}

{% block right %}
  {% comment %} {% include "cal/includes/events/calendar.html" %} {% endcomment %}
{% endblock %}

{% block container %}

  <div class="page-header">
    <h1>{% trans 'Tipos de cita' %}
            <div class="btn-group pull-right">
                  <a class="btn btn-info" href="{% url cal.add_slot_type %}"><i class="icon-pencil icon-white"></i> {% trans "Nuevo tipo" %}</a>
            </div>
        </h1>
  </div>


  {% if slot_type.object_list.count > 0 %}
    

    <table id="events_list" class="table table-striped">
      <thead></thead>
      <tbody>
        {% for slot in slot_type.object_list %}
          {% include "cal/slot_type/slot_type.html" %}
        {% endfor %}
      </tbody>
    </table>
    <div id="type_events-paginator" class="pagination pagination-centered">
      <ul>
        {% if type_events.has_previous %}
          <li><a href="?page={{ type_events.previous_page_number }}">←</a></li>
        {% else %}
          <li class="disabled"><a>←</a></li>
        {% endif %}

        {% if type_events.has_next %}
          <li><a href="?page={{ type_events.next_page_number }}">→</a></li>
        {% else %}
          <li class="disabled"><a>→</a></li>
        {% endif %}
      </ul>
    </div>

    <div id="preview"></div>
  {% else %}
    <div class="alert alert-info">{% trans "There are no slots type" %}</div>
  {% endif %}
{% endblock %}

{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/loading.gif' alt='loading...'/>";

$('table tbody tr').live('click', function(event){
  var id = $(this).attr('data-msg');
  if(id){
    $('table').hide();
    $('#message-paginator').hide();
    window.location.href = '/calendar/slot/type/edit/' + id;
  }
});
{% endblock %}
