{% extends "ui/app.html" %}

{% load i18n %}
{% load l10n %}
{% load stadistic %}

{% block css_inline %}
  .shared, .bar, .label {
    font-size: 8pt;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  .femalebar {
    fill: #AAAADD;
    }
  .malebar {
    fill: #8E8EB5;
  }
  .highlight rect.malebar, .highlight rect.femalebar {
    fill: #555566;
  }
  text.malebar, text.femalebar {
    display: none;
  }
  .highlight text {
    display: block;
    fill: #000;
  }
  .accordion-inner {
    max-height:300px; 
    overflow-y:auto
  }

  .accordion-heading {
    font-weight: bold;
  }

  .arc path {
    stroke: #fff;
  }

  thead { display:block }
  thead th { width: 100px; }
  tbody { display:block; overflow-y:auto; overflow-x:hidden; height:200px; }
  tbody tr {height: 20px}
{% endblock %}

{% block css_files %}
  {{block.super}}
  <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/jquery-ui-1.9.1.custom.css" rel="stylesheet"/>
{% endblock %}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-ui-1.9.1.custom.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}js/locales/bootstrap-datepicker.es.js"></script>
{% endblock %}

{% block jquery_init %}

$('button[type="reset"]').on('click', function(){
  var $form = $(this).parent();
  $form.find('.span3:hidden').val('');
  $(".range").each(function(){
    var min = $(this).find('input[id$="_0"]').attr('min');
    var max = $(this).find('input[id$="_0"]').attr('max');
    $(this).slider("values", 0, min);
    $(this).slider("values", 1, max);
  });
  $form.find('.text-info').html('');
  $form.find('input').removeAttr('checked');
});

$('#download_xls').live("click", function(e) {
    var $form = $('#form');
    var orig_action = $form.attr('action');
    $form.attr('action', orig_action+'?as=xls');
    $form.submit();
    $form.attr('action', orig_action);
});

$('#refresh').live("click", function(e) {
    var $form = $('#form');
    $('#query-data').fadeTo(500, 0.25);
    $form.ajaxSubmit({  target: '#query-data',
                        clearForm: false,
                        success: function(){
                          $('#query-data').fadeTo(750, 1);
                      }
                    });
});

$(".range").each(function(){
    var min = $(this).find('input[id$="_0"]').attr('min');
    var max = $(this).find('input[id$="_0"]').attr('max');
    var selected_min = ($(this).find('input[id$="_0"]').val()) ? $(this).find('input[id$="_0"]').val() : min;
    var selected_max = ($(this).find('input[id$="_1"]').val()) ? $(this).find('input[id$="_1"]').val() : max;

    if ($(this).find('input[id$="_1"]').val() | $(this).find('input[id$="_0"]').val()) {
      var value = selected_min + ' - ' + selected_max;
      $(this).parentsUntil('div.stop').parent().find('.text-info').html(value);
      $(this).parent().find('.text-info').html(value);
    }
    $(this).slider({
      range: true,
      min: min,
      max: max,
      values: [eval(selected_min), eval(selected_max)],
      slide: function( event, ui ) {
          if (ui.values[0] == ui.values[1]){
            value = ui.values[0];
          } 
          else {
            value = ui.values[0] + ' - ' + ui.values[1];
          }
          $(this).parentsUntil('div.stop').parent().find('.text-info').html(value);
          $(this).parent().find('.text-info').html(value);
          $(this).find('input[id$="_0"]').val(ui.values[0]);
          $(this).find('input[id$="_1"]').val(ui.values[1]);
      }
    });
});

$('#id_date_0').datepicker({format: 'dd/mm/yyyy'}).on('changeDate',
    function(ev){$('#id_date_0').datepicker('hide');
  });
$('#id_date_1').datepicker({format: 'dd/mm/yyyy'}).on('changeDate',
    function(ev){$('#id_date_1').datepicker('hide');
  });

$('ul').addClass("without_decorator");

$('#reload_button').live('click',function(){
    $(this).html('<img src="{{STATIC_URL}}/img/ajax-bar-loader.gif" />&nbsp;Actualizando...');  
    $(this).addClass('disabled');
    $(this).load('{% url rebuild_data %}', function(){
      location.reload();
  });
})
{% endblock %}

{% block left %}
  {% include "ui/includes/nav_bar_doctor_statistic.html" %}
{% endblock left%}

{% block right %}
<script type="text/javascript">
  $('#right_bar').find('.fixable').removeClass('fixable');
</script>
<div class="page-header" style="margin-top:36px">
  <h4>{% trans 'Opciones de filtrado' %}</h4>
</div>
<form class="form-inline" id="form" action="{{request.path}}" method="post" accept-charset="utf-8">
  {% csrf_token %}
  
  <div class="accordion" id="accordion_filter">
  {% for f in form %}
  <div class="accordion-group stop">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_filter" href="#collapse_{{forloop.counter}}">
      {{f.label}}
      <span class="pull-right text-info"></span>
      </a>
    </div>
    <div id="collapse_{{forloop.counter}}" class="accordion-body collapse">
      <div class="accordion-inner">
        {{f}}
        {% if f.help_text %}
          <em class="muted">{{f.help_text}}</em>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_filter" href="#collapse_variables">
      {% trans 'Variables' %}
      </a>
    </div>
    <div id="collapse_variables" class="accordion-body collapse">
      <div class="accordion-inner">
        {% for f in form.variables %}
        <div class="stop">
          <p>{{f.label|cut:"variables."}}<span class="pull-right text-info"></span></p>
          {{f.draw}}
        </div><br>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_filter" href="#collapse_dimensions">
      {% trans 'Dimensiones' %}
      </a>
    </div>
    <div id="collapse_dimensions" class="accordion-body collapse">
      <div class="accordion-inner">
        {% for f in form.dimensions %}
        <div class="stop">
          <div>{{f.label|cut:"dimensions."}}<span class="pull-right text-info"></span></div>
          {{f.draw}}
        </div><br>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_filter" href="#collapse_treatment">
      {% trans 'Tratamiento' %}
      </a>
    </div>
    <div id="collapse_treatment" class="accordion-body collapse">
      <div class="accordion-inner">
        {% for f in form.treatment %}
        {% if forloop.counter = 1 %}
          <div class="stop">
            <div>{{f.label|cut:"variables."}}<span class="pull-right text-info"></span></div>
            {{f.draw}}
          </div>
          <hr />
          <h5>{% trans 'Fármaco' %}<small class="text-info pull-right">[mg/día]</small></h5>
           <em class="muted">
            <p>{% trans 'Sólo se muestran los recetados en alguna ocasión' %}</p>
          </em>
        {% else %}
          <div class="stop">
            <div>{{f.label|cut:"treatment."}}<span class="pull-right text-info"></span></div>
            {{f.draw}}
          </div>
          <br>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  
  </div>
  <hr>
  <button type="reset" class="btn btn-small btn-block">
    {% trans 'Limpiar filtros' %}
  </button>
</form>
{% endblock %}


{% block container %}
<section>
<div class="page-header">
  <h1>{% trans 'Explotación de datos' %}
    <div class="btn-group pull-right">
       <button id="reload_button" type="button" class="btn btn-info" data-loading-text="Actualizando..."><i class="icon-refresh icon-white"></i> {% trans "Actualizar datos" %}</button>
    </div>
  </h1>
</div>

<div class="hero-unit center">
  <button id="download_xls" class="btn btn-primary btn-block btn-large {% if not reports|length %}disabled{% endif %}">{% trans 'Descargar datos en formato Excel' %}</button>
  <br>
  <div class="btn-group">
    <a href="#myModal" role="button" class="btn btn-large {% if not reports|length %}disabled{% endif %}" data-toggle="modal"><i class="icon-eye-open"></i> {% trans 'Previsualizar datos' %}</a>
    <button id="refresh" class="btn btn-large"><i class="icon-refresh"></i></button>
  </div>
</div>

<script src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
<script src="{{ STATIC_URL }}js/explotation-data.plot.js"></script>

<div id="query-data">
{% include 'consulting/stadistic/explotation-ajax.html' %}
</div>
</section>

{% endblock %}



