{% extends "ui/app.html" %}

{% load i18n %}
{% load l10n %}
{% load stadistic %}

{% block css_inline %}
  .shared, .bar, .label {
    font-size: 8pt;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  .femalebar {
    fill: #AAAADD;
    }
  .malebar {
    fill: #8E8EB5;
  }
  .highlight rect.malebar, .highlight rect.femalebar {
    fill: #555566;
  }
  text.malebar, text.femalebar {
    display: none;
  }
  .highlight text {
    display: block;
    fill: #000;
  }
  .accordion-inner {
    max-height:300px; 
    overflow-y:auto
  }

  .accordion-heading {
    font-weight: bold;
  }

  .arc path {
    stroke: #fff;
  }

  thead { display:block }
  thead th { width: 100px; }
  tbody { display:block; overflow-y:auto; overflow-x:hidden; height:200px; }
  tbody tr {height: 20px}
{% endblock %}

{% block css_files %}
  {{block.super}}
  <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/jquery-ui-1.8.18.custom.css" rel="stylesheet"/>
{% endblock %}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block jquery_init %}

$('button[type="reset"]').on('click', function(){
  var form = $(this).parentsUntil('form').parent();
  form.clearForm('.span3:hidden');
  form.find('.text-info').html('');
  form.find('input').removeAttr('checked');
});

$('#download_xls').live("click", function(e) {
    var form = $('#form');
    var orig_action = form.attr('action');
    form.attr('action', orig_action+'?as=xls');
    form.submit();
    form.attr('action', orig_action);
});

$('#myCarousel').on('slid',function(){
    $(this).find('.active').find('.carousel-caption').fadeIn('slow').delay(5000).fadeOut('slow');
});

$(".range").each(function(){
    var min = $(this).find('input[id$="_0"]').attr('min');
    var max = $(this).find('input[id$="_0"]').attr('max');
    var selected_min = ($(this).find('input[id$="_0"]').val()) ? $(this).find('input[id$="_0"]').val() : min;
    var selected_max = ($(this).find('input[id$="_1"]').val()) ? $(this).find('input[id$="_1"]').val() : max;

    if ($(this).find('input[id$="_1"]').val() | $(this).find('input[id$="_0"]').val()) {
      var value = selected_min + ' - ' + selected_max;
      $(this).parentsUntil('div.stop').parent().find('.text-info').html(value);
      $(this).parent().find('.text-info').html(value);
    }

    $(this).slider({
      range: true,
      min: min,
      max: max,
      values: [eval(selected_min), eval(selected_max)],
      slide: function( event, ui ) {
          if (ui.values[0] == ui.values[1]){
            value = ui.values[0];
          } 
          else {
            value = ui.values[0] + ' - ' + ui.values[1];
          }
          $(this).parentsUntil('div.stop').parent().find('.text-info').html(value);
          $(this).parent().find('.text-info').html(value);
          $(this).find('input[id$="_0"]').val(ui.values[0]);
          $(this).find('input[id$="_1"]').val(ui.values[1]);
      }
  });
});

$('#id_date_0').datepicker().on('changeDate',
    function(ev){$('#id_date_0').datepicker('hide');
  });
$('#id_date_1').datepicker().on('changeDate',
    function(ev){$('#id_date_1').datepicker('hide');
  });

$('ul').addClass("without_decorator");

$('#reload_button').live('click',function(){
    $(this).html('<img src="{{STATIC_URL}}/img/loading.gif" />Actualizando...');  
    $(this).addClass('disabled');
    $(this).load('{% url rebuild_data %}', function(){
      location.reload();
  });
})

if ($.browser.msie && $.browser.version < '9') {
  $('#myCarousel').remove();
} else {
  $('#myCarousel').fadeIn('slow');
  var data = [
  {% for labelname, values in data.items %}
    {% localize off %}
      {"sharedLabel": "{{labelname}}", "barData1": {% if values.1 %}{{values.1|unlocalize}}{% else %}0{% endif %}, "barData2": {% if values.2 %}{{values.2|unlocalize}}{% else %}0{% endif %}},
    {% endlocalize %}
  {% endfor %}
  ];
  init_bars(data, '#vis');
  data = [
    {% for labelname, value in data1.items %}
      {% if value %}
      {
      "age":"{% if labelname = labels_for_data1|first %}≤{% endif %}{{labelname}} [{{value}}]", "population":{{value}}
      }, 
      {% endif %}
    {% endfor %}
  ];
  init_pie(data, '#pie');
  

  var dataset = {
    ANSIEDAD: {{data2.hamilton}},
    DEPRESION: {{data2.beck}}
  };  
  init_donuts(dataset, '#donuts');
};


{% endblock %}

{% block left %}
  {% include "ui/includes/nav_bar_doctor_statistic.html" %}
{% endblock left%}

{% block right %}
<script type="text/javascript">
  $('#right_bar').find('.fixable').removeClass('fixable');
</script>
<h4>{% trans 'Opciones de filtrado' %}</h4>
<hr>
<form class="form-inline" id="form" action="{{request.path}}" method="post" accept-charset="utf-8">
  {% csrf_token %}
  <div class="btn-group center">
    <button type="reset" class="btn btn-small">
      {% trans 'Limpiar filtros' %}
    </button>
    <button type="submit" class="btn btn-small btn-primary"><i class="icon-filter icon-white"></i>
      {% trans 'Aplicar filtros' %}
    </button>
  </div>
  <hr>
  <div class="accordion" id="accordion_filter">
  {% for f in form %}
  <div class="accordion-group stop">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_filter" href="#collapse_{{forloop.counter}}">
      {{f.label}}
      <span class="pull-right text-info"></span>
      </a>
    </div>
    <div id="collapse_{{forloop.counter}}" class="accordion-body collapse">
      <div class="accordion-inner">
        {{f}}
        {% if f.help_text %}
          <em class="muted">{{f.help_text}}</em>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_filter" href="#collapse_variables">
      {% trans 'Variables' %}
      </a>
    </div>
    <div id="collapse_variables" class="accordion-body collapse">
      <div class="accordion-inner">
        {% for f in form.variables %}
        <div class="stop">
          <p>{{f.label|cut:"variables."}}<span class="pull-right text-info"></span></p>
          {{f.draw}}
        </div><br>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_filter" href="#collapse_dimensions">
      {% trans 'Dimensiones' %}
      </a>
    </div>
    <div id="collapse_dimensions" class="accordion-body collapse">
      <div class="accordion-inner">
        {% for f in form.dimensions %}
        <div class="stop">
          <div>{{f.label|cut:"dimensions."}}<span class="pull-right text-info"></span></div>
          {{f.draw}}
        </div><br>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_filter" href="#collapse_treatment">
      {% trans 'Tratamiento' %}
      </a>
    </div>
    <div id="collapse_treatment" class="accordion-body collapse">
      <div class="accordion-inner">
        {% for f in form.treatment %}
        {% if forloop.counter = 1 %}
          <div class="stop">
            <div>{{f.label|cut:"variables."}}<span class="pull-right text-info"></span></div>
            {{f.draw}}
          </div>
          <hr />
          <h5>{% trans 'Fármaco' %}<small class="text-info pull-right">[mg/día]</small></h5>
           <em class="muted">
            <p>{% trans 'Sólo se muestran los recetados en alguna ocasión' %}</p>
          </em>
        {% else %}
          <div class="stop">
            <div>{{f.label|cut:"treatment."}}<span class="pull-right text-info"></span></div>
            {{f.draw}}
          </div>
          <br>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  
  </div>

</form>
{% endblock %}


{% block container %}
<div class="page-header">
  <h1>{% trans 'Explotación de datos' %}
    <div class="btn-group pull-right">
       <button id="reload_button" type="button" class="btn btn-info" data-loading-text="Actualizando..."><i class="icon-refresh icon-white"></i> {% trans "Actualizar datos" %}</button>
    </div>
  </h1>
</div>
{% if reports|length %}
<div class="alert alert-info">La consulta devolvió <strong class="text-info">{{reports|length}}</strong> resultados</div>
<div class="hero-unit">
  <button id="download_xls" class="btn btn-primary btn-block btn-large">{% trans 'Descargar datos en formato Excel' %}</button>
  <a href="#myModal" role="button" class="btn  btn-block" data-toggle="modal">{% trans 'Previsualizar datos' %}</a>
</div>


<div id="myCarousel" class="carousel slide hide" data-interval="">
  <div class="carousel-inner" style="min-height: 500px">
    <div class="item">
      <div id="vis" class="center"></div>
      <div class="carousel-caption">
        <h4>{% trans 'Valor medio de las variables' %}</h4>
        <p>Pase el ratón por cada variable para comparar sus valores.</p>
      </div>
    </div>
    <div class="active item">
      <div id="pie" class="center"></div>
      <div class="carousel-caption">
        <h4>{% trans 'Distribución por edades' %}</h4>
        <p></p>
      </div>
    </div>
    <div class="item">
      <div id="donuts" class="center">
      </div>
      <div class="carousel-caption">
        <h4>{% trans 'Estratificación de pacientes' %}</h4>
        <p></p>
      </div>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


{% else %}
  <div class="alert alert-warning">
    <p>La consulta no devolvió <strong class="text-info">ningún</strong> resultado.</p>
    <p>Utilice criterios de filtrado menos restrictivos e inténtelo de nuevo.</p>
  </div>
{% endif %}

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{% trans 'Explotación de datos' %}</h3>
  </div>
  <div class="modal-body" style="max-height: 300px; overflow: auto">
    <div id="data">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Profesión</th>
            <th>Fecha</th>
          {% for d in dimensions %}
            <td><small>Dimensión {{d.name}}</small></td>
          {% endfor %}
          {% for v in variables %}
            <td><small>{{v.name}}</small></td>
          {% endfor %}
          {% for s in status %}
            <td><small>{{s}}</small></td>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for r in reports %}
          <tr>
            <td>{{r.patient.id}}</td>
            <td>{{r.age}}</td>
            <td>{{r.patient.get_sex}}</td>
            <td>{{r.profession}}</td>
            <td>{{r.task.end_date|date:"j/m/Y"}}</td>
            {% for d in dimensions %}
              <td>{% dictvalue r.dimensions d.name %}</td>
            {% endfor %}
            {% for v in variables %}
              <td>{% dictvalue r.variables v.name %}</td>
            {% endfor %}
            {% for s in status %}
              <td>{% dictvalue r.status s %}</td>
            {% endfor %}
          </tr>
        {% endfor %}
          <tr>
            <th>#</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Profesión</th>
            <th>Fecha</th>
          {% for d in dimensions %}
            <td><small>Dimensión {{d.name}}</small></td>
          {% endfor %}
          {% for v in variables %}
            <td><small>{{v.name}}</small></td>
          {% endfor %}
          {% for s in status %}
            <td><small>{{s}}</small></td>
          {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{% trans 'Cerrar' %}</button>
  </div>
</div>

<script src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
<script src="{{ STATIC_URL }}js/explotation-data.plot.js"></script>
{% endblock %}



