{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/pyramid.js"></script>
{% endblock %}

{% block jquery_init %}
       $('#pyramid_anxiety').Pyramid({
          'height': 360,
          'slices':4,
          'slice_separation': 0.15,
          'colours': ['#356635', '#999999', '#f89406', '#b94a48'],
          'text': ['1', '2', '3', '4']
       })
       .on('click', function(event){ alert(event.text) });

        $('#pyramid_depression').Pyramid({
          'height': 360,
          'slices':5,
          'slice_separation': 0.15,
          'colours': ['#468847', '#3a87ad', '#999999', '#f89406', '#b94a48'],
          'text': ['12 (12%)', '250 (34%)', '3', '4', '5']
       })
       .on('click', function(event){ alert(event.text) });

{% endblock %}


{% block body %}
    <div class="container">
      <div class="row-fluid">
        <div class="span2 bs-docs-sidebar">
          {% block left %}
          {% include "ui/includes/nav_bar_doctor_statistic.html" %}
          {% endblock left%}
        </div>
        <div id="main" class="span10">
          {% block container %}
           <section>
              <div class="page-header">
                <h1>{% trans 'Pirámides de estratificación' %}</h1>
              </div>
              <div class="row-fluid">
                <div class="span5" id="a">
                    <h2><small>Ansiedad</small></h2>
                    <div id="pyramid_anxiety"></div>
                    <hr>
                </div>
                <div class="span5" id="a">
                  <h2><small>Depresión</small></h2>
                      <div id="pyramid_depression"></div>
                    <hr>
                </div>
              </div>
            </section>
          {% endblock container %}
        </div>
      </div>
    </div>
    {% endblock body %}


