{% extends "ui/app.html" %}

{% load i18n %}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/pyramid.js"></script>
{% endblock %}

{% block jquery_init %}
$('#main').remove();
$('#right_bar').remove();

 $('#pyramid_anxiety').Pyramid({
    'height': 300,
    'base': 400,
    'top': 100,
    'slices':{{anxiety_list|length}},
    'slice_separation': 0.1,
    'colours': ['#999999', '#F89406', '#B94A48', '#202020'],
    'text': [{% for l in anxiety_list %}'{{l|length}} ({% widthratio l|length num_patient 100 %}%)',{% endfor %}]
 })
 .on('click', function(event){ 
    url = '{% url stratification_list 'anxiety' 0 %}';
    $('#modal_patient .modal-body').load(url.replace('0', event.id),'',$('#modal_patient').modal('show'));
  });

  $('#pyramid_depression').Pyramid({
    'height': 300,
    'base': 400,
    'top': 100,
    'slices':{{depression_list|length}},
    'slice_separation': 0.10,
    'colours': ['#0088CC', '#999999', '#F89406', '#B94A48', '#202020'],
    'text': [{% for l in depression_list %}'{{l|length}} ({% widthratio l|length num_patient 100 %}%)',{% endfor %}]
 })
 .on('click', function(event){
    url = '{% url stratification_list 'depression' 0 %}';
    $('#modal_patient .modal-body').load(url.replace('0', event.id),'',$('#modal_patient').modal('show'));
});

{% endblock %}


{% block left %}
  {% include "ui/includes/nav_bar_doctor_statistic.html" %}
{% endblock left%}

{% block large %}
<div class="page-header">
  <h1>{% trans 'Pirámides de estratificación' %}</h1>
</div>
 <section>
    <div class="row-fluid">
      <div style="min-width:400px; float:left" id="a">
        <h2><small>Ansiedad</small></h2>
        <div id="pyramid_anxiety" style="width: 400px; height:300px"></div>
      </div>
      <div style="min-width:400px; float:left" id="d">
        <h2><small>Depresión</small></h2>
        <div id="pyramid_depression" style="width: 400px; height:300px"></div>
      </div>
      <div class="span2 center well" style="min-width:105px">
        <legend>Escala</legend>
        <p><span class="label label-inverse">Muy grave</span></p>
        <p><span class="label label-important">&nbsp;&nbsp;&nbsp;&nbsp;Grave&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
        <p><span class="label label-warning">Moderado</span></p>
        <p><span class="label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
        <p><span class="label label-info">&nbsp;Muy leve&nbsp;</span></p>
      </div>
    </div>
   
  </section>

<div id="modal_patient" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Pacientes' %}</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans 'Cerrar' %}</a>
  </div>
</div>
{% endblock %}


