{% extends "ui/app.html" %}

{% load i18n %}

{% block js_files %}
  {{ block.super }}
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/svgweb/svg-uncompressed.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}js/pyramid.js"></script>
{% endblock %}

{% block js %}
function show_patient_list(illness, level) {
  
  url = {anxiety: '{% url stratification_list 'anxiety' 0 %}',
         depression: '{% url stratification_list 'depression' 0 %}'} ;

  if($('#myfilter').hasClass('active')){
    url[illness] += '?filter=mine';
  }
  $('#modal_patient .modal-body').html('<div class="center"><img src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." /></div>');
  $('#modal_patient .modal-body').load(url[illness].replace('0', level),'',$('#modal_patient').modal('show'));
}
{% endblock %}

{% block jquery_init %}
$('#main').remove();
$('#right_bar').remove();
$('#myfilter').on('click', function(e){
  $(this).html('<img src="{{ STATIC_URL }}/img/ajax-bar-loader.gif" alt="loading..." />');
  if($(this).hasClass('active')){
    window.location = '{{request.path}}';
  }
  else {
    window.location = '{{request.path}}?filter=mine';
  }
})

 $('#pyramid_anxiety').Pyramid({
    'height': 350,
    'base': 390,
    'top': 100,
    'slices':{{anxiety_list|length}},
    'slice_separation': 0.1,
    'colours': ['#FFFFFF', '#468847', '#999999', '#F89406', '#B94A48', '#202020'],
    'text': [{% for l in anxiety_list %}'{% if forloop.counter = 1 %}{% trans 'No diagnosticados: '%}{% endif %}{{l|length}} ({% widthratio l|length num_patient 100 %}%)',{% endfor %}]
 })
 .on('click', function(event){ 
    show_patient_list('anxiety', event.id-2);
  });

  $('#pyramid_depression').Pyramid({
    'height': 350,
    'base': 390,
    'top': 100,
    'slices':{{depression_list|length}},
    'slice_separation': 0.10,
    'colours': ['#FFFFFF', '#468847', '#0088CC', '#999999', '#F89406', '#B94A48', '#202020'],
    'text': [{% for l in depression_list %}'{% if forloop.counter = 1 %}{% trans 'No diagnosticados: '%}{% endif %}{{l|length}} ({% widthratio l|length num_patient 100 %}%)',{% endfor %}]
 })
 .on('click', function(event){
    show_patient_list('depression', event.id-2);
});



{% endblock %}


{% block left %}
  {% include "ui/includes/nav_bar_doctor_statistic.html" %}
{% endblock left%}

{% block large %}
<section>
<div class="page-header">
  <h1>{% trans 'Pirámides de estratificación' %}</h1>
</div>
<div class="row-fluid img-polaroid">
  <div style="float:left; margin-left: 10px" id="a">
    <h2><small>Ansiedad</small></h2>
    <div id="pyramid_anxiety" style="width: 400px; height:360px">
      <!--[if lte IE 8]><script type="image/svg+xml">
       <svg name="mySVG" width="400" height="360" preserveAspectRatio="xMidYMid slice" viewBox="0 0 420 380" xmlns:dc="http://purl.org/dc/elements/1.1/">
        <g id="myGroup">
          <polygon points="0 350,400 350,376.25 294.58333333333337,23.749999999999982 294.58333333333337" fill="#FFFFFF" stroke="black"  onclick="show_patient_list('anxiety', -1);" />
          <text x="200" y="328.95833333333337" font-size="20" font-family="arial" text-anchor="middle" fill="black" onclick="show_patient_list('anxiety', -1);">No diagnosticados: {{anxiety_list.0|length}} ({% widthratio anxiety_list.0|length num_patient 100 %}%)</text>
          <id>1</id>
          <polygon points="26.25 288.75,373.75 288.75,351.25 236.24999999999997,48.75000000000001 236.24999999999997" fill="#468847" stroke="black" onclick="show_patient_list('anxiety', 0);" />
          <text x="200" y="269.1666666666667" font-size="20" font-family="arial" text-anchor="middle" fill="white" onclick="show_patient_list('anxiety', 0);">{{anxiety_list.1|length}} ({% widthratio anxiety_list.1|length num_patient 100 %}%)</text>
          <id>2</id>
          <polygon points="51.25 230.41666666666666,348.75 230.41666666666666,326.25 177.91666666666666,73.75 177.91666666666666" fill="#999999" stroke="black" onclick="show_patient_list('anxiety', 1);" />
          <text x="200" y="210.83333333333331" font-size="20" font-family="arial" text-anchor="middle" fill="white" onclick="show_patient_list('anxiety', 1);">{{anxiety_list.2|length}} ({% widthratio anxiety_list.2|length num_patient 100 %}%)</text>
          <id>3</id>
          <polygon points="76.24999999999999 172.08333333333334,323.75 172.08333333333334,301.25 119.58333333333333,98.75 119.58333333333333" fill="#F89406" stroke="black" onclick="show_patient_list('anxiety', 2);" />
          <text x="200" y="152.5" font-size="20" font-family="arial" text-anchor="middle" fill="white" onclick="show_patient_list('anxiety', 2);">{{anxiety_list.3|length}} ({% widthratio anxiety_list.3|length num_patient 100 %}%)</text>
          <id>4</id>
          <polygon points="101.25 113.74999999999999,298.75 113.74999999999999,276.25 61.24999999999998,123.75 61.24999999999998" fill="#B94A48" stroke="black" onclick="show_patient_list('anxiety', 3);" />
          <text x="200" y="94.16666666666666" font-size="20" font-family="arial" text-anchor="middle" fill="white" onclick="show_patient_list('anxiety', 3);">{{anxiety_list.4|length}} ({% widthratio anxiety_list.4|length num_patient 100 %}%)</text>
          <id>5</id>
          <polygon points="126.25000000000001 55.41666666666665,273.75 55.41666666666665,250 0,150 0" fill="#202020" stroke="black" onclick="show_patient_list('anxiety', 4);" />
          <text x="200" y="34.37499999999999" font-size="20" font-family="arial" text-anchor="middle" fill="white" onclick="show_patient_list('anxiety', 4);">{{anxiety_list.5|length}} ({% widthratio anxiety_list.5|length num_patient 100 %}%)</text>
          <id>6</id>
        </g>
       </svg>
       </script><![endif]-->
    </div>
  </div>
  <div style="float:left; margin-left: 10px" id="d" >
    <h2><small>Depresión</small></h2>
    <div id="pyramid_depression" style="width: 400px; height:360px">
      <!--[if lte IE 8]><script type="image/svg+xml">
       <svg name="mySVG" width="400" height="360" preserveAspectRatio="xMidYMid slice" viewBox="0 0 420 380" xmlns:dc="http://purl.org/dc/elements/1.1/">
        <g id="myGroup">
          <polygon points="0 350,400 350,379.64285714285717 302.5,20.357142857142858 302.5" fill="#FFFFFF" stroke="black" onclick="show_patient_list('depression', -1);" />
          <text x="200" y="332.9166666666667" font-size="20" font-family="arial" text-anchor="middle" onclick="show_patient_list('depression', -1);" fill="black">No diagnosticados: {{depression_list.0|length}} ({% widthratio depression_list.0|length num_patient 100 %}%)</text>
          <id>1</id>
          <polygon points="22.5 297.5,377.5 297.5,358.2142857142857 252.5,41.785714285714285 252.5" fill="#468847" stroke="black" onclick="show_patient_list('depression', 0);" />
          <text x="200" y="281.6666666666667" font-size="20" font-family="arial" text-anchor="middle" onclick="show_patient_list('depression', 0);" fill="white">{{depression_list.1|length}} ({% widthratio depression_list.1|length num_patient 100 %}%)</text>
          <id>2</id>
          <polygon points="43.92857142857142 247.5,356.07142857142856 247.5,336.7857142857143 202.5,63.21428571428571 202.5" fill="#0088CC" stroke="black" onclick="show_patient_list('depression', 1);" />
          <text x="200" y="231.66666666666666" font-size="20" font-family="arial" text-anchor="middle" onclick="show_patient_list('depression', 1);" fill="white">{{depression_list.2|length}} ({% widthratio depression_list.2|length num_patient 100 %}%)</text>
          <id>3</id>
          <polygon points="65.35714285714285 197.5,334.64285714285717 197.5,315.3571428571429 152.5,84.64285714285714 152.5" fill="#999999" stroke="black" onclick="show_patient_list('depression', 2);" />
          <text x="200" y="181.66666666666666" font-size="20" font-family="arial" text-anchor="middle" onclick="show_patient_list('depression', 2);" fill="white">{{depression_list.3|length}} ({% widthratio depression_list.3|length num_patient 100 %}%)</text>
          <id>4</id>
          <polygon points="86.78571428571428 147.5,313.2142857142857 147.5,293.92857142857144 102.5,106.07142857142857 102.5" fill="#F89406" stroke="black" onclick="show_patient_list('depression', 3);" />
          <text x="200" y="131.66666666666666" font-size="20" font-family="arial" text-anchor="middle" onclick="show_patient_list('depression', 3);" fill="white">{{depression_list.4|length}} ({% widthratio depression_list.4|length num_patient 100 %}%)</text>
          <id>5</id>
          <polygon points="108.21428571428571 97.5,291.7857142857143 97.5,272.5 52.5,127.5 52.5" fill="#B94A48" stroke="black" onclick="show_patient_list('depression', 4);" />
          <text x="200" y="81.66666666666667" font-size="20" font-family="arial" text-anchor="middle" onclick="show_patient_list('depression', 4);" fill="white">{{depression_list.5|length}} ({% widthratio depression_list.5|length num_patient 100 %}%)</text>
          <id>6</id>
          <polygon points="129.64285714285714 47.5,270.3571428571429 47.5,250 0,150 0" fill="#202020" stroke="black" onclick="show_patient_list('depression', 5);" />
          <text x="200" y="30.416666666666668" font-size="20" font-family="arial" text-anchor="middle" onclick="show_patient_list('depression', 5);" fill="white">{{depression_list.6|length}} ({% widthratio depression_list.6|length num_patient 100 %}%)</text>
          <id>7</id>
        </g>
       </svg>
       </script><![endif]-->
    </div>
  </div>
  <div class="center" style="float: right; margin: 50px 11px 0 0; min-width:100px; max-width:179px">
    <div class="well">
      <legend>Escala</legend>
      <p><span class="label label-inverse">Muy grave</span></p>
      <p><span class="label label-important">&nbsp;&nbsp;&nbsp;&nbsp;Grave&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
      <p><span class="label label-warning">Moderado</span></p>
      <p><span class="label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
      <p><span class="label label-info">&nbsp;Muy leve&nbsp;</span></p>
      <p><span class="label label-success">&nbsp;Ausente&nbsp;&nbsp;</span></p>
    </div>
    <button id="myfilter" type="button" class="btn {% if filtered %}active btn-info{% endif %}" data-toggle="button">{% trans 'Sólo mis pacientes' %}</button>
  </div>
</div>
   

<div id="modal_patient" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Pacientes' %}</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans 'Cerrar' %}</a>
  </div>
</div>
</section>
{% endblock %}


