{% extends "consulting/consultation/monitoring/index.html" %}

{% load i18n%}

{% block container %}
<div class="page-header">
    <h1>{% trans 'Listado de encuestas sin completar' %}</h1>
</div>
  <section>
    {% if tasks.object_list %}
    <div class="accordion" id="accordion_tasks">
      {% for task in tasks.object_list %}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_tasks" href="#collapse{{task.id}}">
          <h4>{{task.survey.name|upper}} <small>[{{task.get_kind}}]</small>
          <div class="muted pull-right">{{task.updated_at|date:'d/M/y H:i'}}</div></h4>
          </a>
        </div>
        <div id="collapse{{task.id}}" class="accordion-body collapse">
          <div class="accordion-inner">
            {% if task.observations %}
              <h4>{% trans 'Síntomas y/o empeoramiento' %}</h4>
              <p><span>{{task.observations}}</span></p>
            {% endif %}
            <br />
            <div class="btn-group center">
              <a id="assess{{task.id}}" class=" btn btn-large btn-warning" data-toggle="modal" data-target="#modal" href="{% url consulting_not_assess_task task.id  %}"> <i class="icon-off icon-white"></i> {% trans 'DESCARTAR' %}</a>
              {% if task.questions.count > 0 %}
                <a id="edit{{task.id}}" class="btn btn-large btn-info"  data-toggle="modal" data-target="#modal_var" href="{% url consulting_config_variables task.id %}"><i class="icon-th-list icon-white" ></i> {% trans 'VARIABLES' %}</a>
              {% endif %}
              <a id="complete{{task.id}}" class="btn btn-large btn-primary" href="{% url consulting_show_task_block appointment.id illness.code task.id 0 %}"><i class="icon-edit icon-white"></i> {% trans 'COMPLETAR' %}</a>
            </div> 
            <br />
          </div>
        </div>
      </div>
    {% endfor%}
    </div>

    
    <div id="medicine-paginator" class="pagination pagination-centered">
      <ul class="pagination">
        {% if tasks.has_previous %}
          <li><a href="?page={{ tasks.previous_page_number }}">←</a></li>
        {% else %}
          <li class="disabled"><a>←</a></li>
        {% endif %}

        {% if tasks.has_next %}
          <li><a href="?page={{ tasks.next_page_number }}">→</a></li>
        {% else %}
          <li class="disabled"><a>→</a></li>
        {% endif %}
      </ul>
    </div>     
    <div id="overwrite"></div>                                       
    {% else %}
        <div class="alert alert-info">{% trans "No hay encuestas sin completar" %}</div>                  
    {% endif %}
    <div id="modal" class="modal hide fade" style="display: block;">
      <input id="id_task" type="hidden">
      <div class="modal-header">
          <button class="close" data-dismiss="modal">
            ×
          </button>
          <h3>Aviso del sistema</h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" href="#" class="btn btn-primary">Cerrar</a>
      </div>    
    </div>  
        <div id="modal_var" class="modal hide fade" style="display: block;">
      <input id="id_task" type="hidden">
      <div class="modal-header">
          <button class="close" data-dismiss="modal">
            ×
          </button>
          <h3>Configurador de variables</h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
         <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cerrar' %}</a>
         <a id="save" href="#" class="btn btn-primary">{% trans 'Guardar cambios' %}</a>
      </div>    
    </div>                     
  </section>
{% endblock container %}

{% block jquery_init %} 
    $('#modal').on('hidden', function () {
      location.reload(true);
    });
    $('ul').addClass("without_decorator");
    $('#save').on('click', function () {
      var $form = $('#modal_var').find('form');
      $form.ajaxSubmit({target:'.modal_body'});
      $('#modal_var').modal('hide');
    });
{% endblock %}