<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Consulting 3.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block js_files %}
      <script src="{{ STATIC_URL }}js/jquery.js"></script>
      <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
      <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
      <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
      <script src="{{ STATIC_URL }}js/bootstrap-editable.min.js"></script>
    {% endblock %}

    {% block css_files %}
      <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}css/bootstrap-editable.css" rel="stylesheet">
      <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}css/table-calendar.css" rel="stylesheet"/>
    {% endblock %}

    <style type="text/css">
    {% block css_inline %}
    {% endblock %}
    </style>

    <script type="text/javascript">
      function fix_bars(){
        if ($(window).width() >= 1024) {
          $("div.fixable").affix();
        }
        else {
          $("div.fixable").removeAttr('data-spy');
        }
      };
      {% block js %}
      {% endblock %}

      $(document).ready(function(){
        $("#notes").editable();
        $(window).resize(fix_bars);
        fix_bars();
        {% block jquery_init %}
        {% endblock %}
      })
    </script>

    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>

  <body>
    {% block header%}
      {% if request.user.get_profile.is_doctor %}
        {% include "ui/includes/header_doctor.html" %}
      {% else %}
        {% if request.user.get_profile.is_administrative %}
          {% include "ui/includes/header_administrative.html" %}
        {% else %}
          {% if request.user.get_profile.is_patient %}
            {% include "ui/includes/header_patient.html" %}
          {% endif%}
        {% endif%}
      {% endif%}
    {% endblock  %}
    {% block nav-bar%}{% endblock  %}
    <div class="offset2 span10">
    {% block subheader %}
    {% endblock subheader %}
    </div>

    {% block body %}
    <div class="container">
      <div class="row-fluid">
        <div id="left_bar" class="span2">
          <div class="fixable" style="max-width:180px">
          {% block left %}
          <!--Left Sidebar content-->&nbsp;
          {% endblock left%}
          </div>
        </div>    
        <div id="main" class="span7">
          {% block container %}
           <!--Body content-->
          {% endblock container %}
        </div>
        <div id="right_bar" class="span3">
          <div class="fixable" style="max-width:270px">
          {% block right %}
          <!--Right Sidebar content-->
          {% endblock right %}
          </div>
        </div>
        <div id="large" class="span10">
          {% block large %}
          {% endblock %} 
        </div>
      </div>
    </div>
    {% endblock body %}

    

    {% block footer%}
    {% endblock %}
  </body>
</html>
