<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Consulting 3.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block js_files %}
      <script src="{{ STATIC_URL }}js/jquery.js"></script>
      <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    {% endblock %}

    {% block css_files %}
      <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}css/table-calendar.css" rel="stylesheet"/>
    {% endblock %}

    <script type="text/javascript">
      {% block js %}
      {% endblock %}

      $(document).ready(function(){
        {% block jquery_init %}
        {% endblock %}
      })
    </script>

    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>

  <body>

    {% block header%}
    {% endblock  %}

    {% block body %}
      {% block nav-bar%}{% endblock  %}
    {% endblock body %}

    {% block footer%}
    {% endblock %}
  </body>
</html>
