{% load i18n%}
{% load consulting %}

{% url main_index as main_index %}
{% url newpatient as newpatient %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="./index.html">Consulting 3.0</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="{% active request main_index %}">
                    <a href="{% url main_index %}">
                        {% trans 'Inicio' %}
                    </a>
                <li class="{% active request newpatient %}">
                    <a href="{% url newpatient %}">
                      {% trans 'Alta Paciente' %}
                    </a>
                </li>
                <li>
                    <a href="#">{% trans 'Baja Paciente' %}</a>
                </li>
                <li>
                    <a href="#">{% trans 'Activar Paciente' %}</a>
                </li>          
            </ul>
            <ul class="nav pull-right">
                <li class="navbar-text">
                    {% trans 'Logado como '%} 
                    {{ user.first_name }}
                    {{ user.last_name}}
                </li>
                <li class="navbar-text">
                    <a href='{% url logout %}'>{% trans 'Salir' %}</a>
                <li>
            </ul>                    
        </div>
    </div>
  </div>
</div>
