<footer>
 <div class="navbar navbar-fixed-bottom" style="height: 20px">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/" style="padding: 0; font-size: 0.8em">Consulting 3.0</a>
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav pull-right">
                <li>
                    <p>&copy; Company 2012</p>
                </li>
            </ul>
        </div>
    </div>
  </div>
 </div>
</footer>