{% load i18n%}
{% load consulting %}

{% url consulting_index as consulting_index %}
{% url consulting_newpatient as consulting_newpatient %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="./index.html">Consulting 3.0</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="{% active request consulting_index %}">
                    <a href="{% url consulting_index %}">
                        {% trans 'INICIO' %}
                    </a>
                </li>
                <li class="{% active request consulting_newpatient %}">
                    <a href="{% url consulting_newpatient %}">
                      {% trans 'ALTA PACIENTE' %}
                    </a>
                </li>
                <li>
                    <a href="#">{% trans 'BAJA PACIENTE' %}</a>
                </li>
                <li>
                    <a href="#">{% trans 'ACTIVAR PACIENTE' %}</a>
                </li>          
            </ul>
            <ul class="nav pull-right">
                <li class="navbar-text">
                    {% trans 'Logado como '%} 
                    {{ user.first_name }}
                    {{ user.last_name}}
                </li>
                <li class="navbar-text">
                    <a href='{% url registration_logout %}'>
                        {% trans 'Salir' %}
                    </a>
                <li>
            </ul>                    
        </div>
    </div>
  </div>
</div>
