{% load i18n%}
{% load consulting %}

{% url consulting_newpatient as newpatient %}
{% url cal.index as cal %}


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{% url consulting_index %}">Consulting 3.0</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="{% active_root request newpatient %}">
                    <a href="{% url consulting_newpatient %}">
                      {% trans 'ALTA PACIENTE' %}
                    </a>
                </li>
                <li class="{% active_root request cal %}">
                    <a href="{% url cal.index %}">
                      {% trans 'GESTIÓN AGENDA' %}
                    </a>
                </li>                                                     
            </ul>
            <ul class="nav pull-right">
                <div class="btn-group ">
                    <a class="btn btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {{user.username}}
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-user"></i><strong>{{ user.first_name }} {{ user.last_name }}</strong></a></li>
                        <li class="divider"></li>
                        <li><a href="{% url registration_logout %}"><i class="icon-off"></i>{% trans 'Desconectar' %}</a></li>
                    </ul>
                </div>
            </ul>                  
        </div>
    </div>
  </div>
</div>
