{% load i18n%}
{% load consulting %}

{% url consulting_newpatient as newpatient %}
{% url consulting_today as today %}
{% url consulting_index_pm as index_pm %}
{% url consulting_stratification_statistic as index_statistic %}
{% url private_messages_inbox as inbox %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{% url consulting_index %}">Consulting 3.0</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="{% active_root request today %}">
                    <a href="{% url consulting_today %}">
                      {% trans 'CONSULTA' %}
                    </a>
                </li>
                
                <li class="{% active_root request newpatient %}">
                    <a href="{% url consulting_newpatient %}">
                      {% trans 'ALTA PACIENTE' %}
                    </a>
                </li>
                <li>
                    <a href="{% url cal.index %}">
                      {% trans 'GESTIÓN AGENDA' %}
                    </a>
                </li>
                <li class="{% active_root request index_pm %}">
                    <a href="{% url consulting_index_pm %}">
                        {% trans 'INFORMACIÓN PACIENTE' %}
                    </a>
                </li>
                <li class="{% active_root request index_statistic %}">
                    <a href="{% url consulting_stratification_statistic %}">{% trans 'ESTADÍSTICA' %}</a>
                </li>
                <li class="{% active_root request inbox %}">
                    <a href="{% url private_messages_inbox %}">
                        {% trans 'MENSAJERÍA' %}
                    </a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="navbar-text">
                    <i class="icon-user"></i>                
                </li>
                <li class="navbar-text">
                    {{ user.first_name }}
                    {{ user.last_name}}
                </li>
                <li class="navbar-text">
                    <div>
                    <a  class="exit btn"href='{% url registration_logout %}'>
                        {% trans 'Salir' %}
                    </a>
                    </div>
                <li>
            </ul>
        </div>
    </div>
  </div>
</div>
