{% load i18n%}
{% load consulting %}

{% url consulting_index as consulting_index %}
{% url consulting_index_pm as consulting_index_pm %}
{% url private_messages_inbox as inbox %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="./index.html">Consulting 3.0</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="{% active request consulting_index %}">
                    <a href="{% url consulting_index %}">
                        {% trans 'INICIO' %}
                    </a>
                <li>
                    <a href="#">
                      {% trans 'ADMINISTRACIÓN' %}
                    </a>
                </li>
                <li class="{% active request consulting_index_pm %}">
                    <a href="{% url consulting_index_pm %}">
                        {% trans 'GESTIÓN PACIENTE' %}
                    </a>
                </li>
                <li>
                    <a href="#">{% trans 'ESTADÍSTICA' %}</a>
                </li> 
                <li class="{% active request inbox %}">
                    <a href="{% url private_messages_inbox %}">
                        {% trans 'MENSAJERÍA' %}
                    </a>
                </li>         
            </ul>
            <ul class="nav pull-right">
                <li class="navbar-text">
                    {% trans 'Logado como '%} 
                    {{ user.first_name }}
                    {{ user.last_name}}
                </li>
                <li class="navbar-text">
                    <a href='{% url registration_logout %}'>
                        {% trans 'Salir' %}
                    </a>
                <li>
            </ul>                    
        </div>
    </div>
  </div>
</div>