{% load i18n%}
{% load consulting %}

{% url consulting_index as index %}
{% url consulting_list_surveys as surveys %}
{% url private_messages_inbox as inbox %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="./">{% get_brand %}</a>
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">
                <li class="{% active_root request index %}">
                    <a href="{% url consulting_index %}">
                        {% trans 'INICIO' %}
                    </a>
                <li class="{% active_root request surveys %}">
                    <a href="{% url consulting_list_surveys %}">
                      {% trans 'ENCUESTAS' %}
                    </a>
                </li>
                {% if user.get_profile.doctor %}
                <li class="{% active_root request inbox %}">
                    <a href="{% url private_messages_inbox %}">
                        {% trans 'MENSAJERÍA' %}
                        {% if user.get_profile.get_unread_messages.count %}
                            <span class="badge badge-important"><small  id="unread_messages">{{user.get_profile.get_unread_messages.count}}</small></span>
                        {% endif %}
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle btn-success" data-toggle="dropdown" href="#">
                    <i class="icon-user icon-white"></i> {{user.username}}
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-user"></i> <strong>{{ user.get_profile.get_full_name }}</strong></a></li>
                        <li><a href="{% url password_change %}"><i class="icon-lock"></i> {% trans 'Cambiar contraseña' %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url registration_logout %}"><i class="icon-off"></i> {% trans 'Desconectar' %}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
