{% load i18n%}
{% load consulting %}

{% url consulting_newpatient as newpatient %}
{% url consulting_index_pm as index_pm %}
{% url private_messages_inbox as inbox %}
{% url cal.index as cal %}


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{% url consulting_index %}">{% get_brand %}</a>
        <div class="nav-collapse collapse navbar-responsive-collapse" style="height: auto;">
            <ul class="nav">
                <li class="{% active_root request index_pm %}">
                    <a href="{% url consulting_index_pm %}">
                        {% trans 'GESTIÓN PACIENTES' %}
                    </a>
                </li>
                <li class="{% active_root request cal %}">
                    <a href="{% url cal.index %}">
                      {% trans 'GESTIÓN AGENDA' %}
                    </a>
                </li>
                <li class="{% active_root request inbox %}">
                    <a href="{% url private_messages_inbox %}">
                        {% trans 'MENSAJERÍA' %}
                        {% if user.get_profile.get_unread_messages.count %}
                            <span id="unread_messages" class="badge badge-important"><small>{{user.get_profile.get_unread_messages.count}}</small></span>
                        {% endif %}
                    </a>
                </li>                                                     
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle btn-inverse" data-toggle="dropdown" href="#">
                    <i class="icon-user icon-white"></i> {{user.username}}
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-user"></i> <strong>{{ user.get_profile.get_full_name }}</strong></a></li>
                        <li><a href="{% url password_change %}"><i class="icon-lock"></i> {% trans 'Cambiar contraseña' %}</a></li>
                        <li><a href="{% url consulting_user_guide %}"><i class="icon-file"></i> {% trans 'Descargar manual' %} (PDF)</a></li>
                        {% if request.user.is_staff %}
                        <li class="divider"></li>
                        <li><a href="/admin/" target="_blank"><i class="icon-wrench"></i> {% trans 'PANEL ADMINISTRATIVO' %}</a></li>
                        {% endif %}
                        <li class="divider"></li>
                        <li><a href="{% url registration_logout %}"><i class="icon-off"></i> {% trans 'Desconectar' %}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
