{% load i18n%}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner" style="background: #0088CC;">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="#">Consulting 3.0</a>            

            <div class="pull-right">
                <div class="row">
                    <div class="span4" style="text-align: right;color:#ffffff;">
                        <p class="navbar-text">
                            {% trans 'Logado como '%} 
                            {{ user.first_name }}
                            {{ user.last_name}}
                        </p>
                    </div>
                    <div class="span1">
                        <p class="navbar-text">
                           <a href='{% url logout %}' style="color:#ffffff;">{% trans 'Salir' %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
