{% load i18n%}
{% load consulting %}

{% url consulting_list_medicines_before_pm as list_medicines_before %}
{% url consulting_list_medicines_after_pm as list_medicines_after %}
{% url consulting_new_medicine_pm as new_medicine %}

<ul class="nav nav-pills nav-stacked" style="padding-top: 30px;">
    <li class="{% active_granchild request new_medicine %}">
        <a href="{% url consulting_new_medicine_pm %}" >
            {% trans "Recetar" %}
        </a>
    </li>
    <li class="{% active_granchild request list_medicines_before %}">
        <a href="{% url consulting_list_medicines_before_pm %}">
            {% trans "Fármacos Antes de la Primera Cita" %}
        </a>
    </li>
    <li class="{% active_granchild request list_medicines_after %}">
        <a href="{% url consulting_list_medicines_after_pm %}">
            {% trans "Fármacos Después de la Primera Cita" %}
        </a>
    </li>    
</ul>
