{% load i18n%}
{% load consulting %}

{% url main_index as main_index %}
{% url newpatient as newpatient %}


<div class="container">
  <div class="subnav">
    <ul class="nav nav-pills">
        
      <li class="{% active request main_index %}">
        <a href="{% url main_index %}">
          {% trans 'Inicio' %}
        </a>
      <li class="{% active request newpatient %}">
        <a href="{% url newpatient %}">
          {% trans 'Alta Paciente' %}
        </a>
      </li>
      <li>
        <a href="#">{% trans 'Baja Paciente' %}</a>
      </li>
      <li>
        <a href="#">{% trans 'Activar Paciente' %}</a>
      </li>
    </ul>
  </div>
</div>