{% load i18n%}
<div class="subnav">
    <ul class="nav nav-pills">
        <!-- <li class="dropdown active">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Buttons <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="active"><a href="#buttonGroups">Button groups</a></li>
            <li><a href="#buttonDropdowns">Button dropdowns</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Navigation <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#navs">Nav, tabs, pills</a></li>
            <li><a href="#navbar">Navbar</a></li>
            <li><a href="#breadcrumbs">Breadcrumbs</a></li>
            <li><a href="#pagination">Pagination</a></li>
          </ul>
        </li>-->
        <li class="active">
          <a href="#inicio">{% trans 'Inicio' %}</a>
        </li>
        <li>
          <a href="#patients">{% trans 'Cuestionario' %}</a>
        </li>
        <li>
          <a href="#initial-val">{% trans 'Mensajería' %}</a>
        </li>
    </ul>
</div>
