{% load i18n%}
<script type="text/javascript">
  $(document).ready(function(){
    $('li a').click(function(event){       
      $(this).parent().addClass('active').siblings().removeClass('active');
    });   
  })
</script>
<div class="container">
  <div class="subnav">
    <ul class="nav nav-pills">      
      <li>
        <a href="#">{% trans 'Inicio' %}</a>
      </li>
      <li id="bea">
        <a href="#">{% trans 'Alta Paciente' %}</a>
      </li>
      <li>
        <a href="#">{% trans 'Baja Paciente' %}</a>
      </li>
      <li>
        <a href="#">{% trans 'Activar Paciente' %}</a>
      </li>
    </ul>
  </div>
</div>