{% load i18n%}
{% load consulting %}

{% url consulting_personal_data_pm as personal_data %}
{% url consulting_list_medicines_before_pm as list_medicines_before %}

<div class="subnav">
  <ul class="nav nav-pills">
    <li class="{% active_child request personal_data %}">
      <a href="{% url consulting_personal_data_pm %}">
        {% trans 'DATOS PERSONALES' %}
      </a>
    </li>    
    <li>
      <a href="#">
        {% trans 'INFORMES' %}
      </a>
    </li>
    <li>
      <a href="#">
        {% trans 'RECOMENDACIONES' %}
      </a>
    </li>
    <li>
      <a href="#">
        {% trans 'PARÁMETROS' %}
      </a>
    </li>
    <li class="{% active_child request list_medicines_before %}">
      <a href="{% url consulting_list_medicines_before_pm %}">
        {% trans 'FÁRMACOS' %}
      </a>      
    </li>
    <li>
      <a href="#">
        {% trans 'HISTORIAL CITAS' %}
      </a>
    </li>
  </ul>
</div>