{% load i18n%}
{% load consulting %}

{% url consulting_newpatient as newpatient %}
{% url cal.index as cal %}

<div class="subnav">
  <ul class="nav nav-pills">
      <li class="{% active_root request newpatient %}">
          <a href="{% url consulting_newpatient %}">
            {% trans 'ALTA PACIENTE' %}
          </a>
      </li>
      <li class="{% active_root request cal %}">
          <a href="{% url cal.index %}">
            {% trans 'GESTIÓN AGENDA' %}
          </a>
      </li>                                                     
  </ul>  
</div>