{% load i18n%}
{% load consulting %}


{% url stratification_statistic as stratification %}
{% url explotation_statistic as explotation %}

<ul class="nav nav-pills nav-stacked">
  <li class="{% active_child request stratification %}">
    <a href="{% url stratification_statistic %}">
      {% trans 'NIVELES DE ESTRATIFICACIÓN' %}
    </a>
  </li>
 <li class="{% active_child request explotation %}">
    <a href="{% url explotation_statistic %}">
      {% trans 'EXPLOTACIÓN DE RESULTADOS' %}
    </a>
  </li> 
</ul>

