{% load i18n%}
{% load consulting %}

{% if illness %}

{% url consulting_list_incomplete_tasks appointment.id illness.code as incomplete_tasks %}
{% url consulting_list_self_administered_tasks appointment.id illness.code as self_administered_tasks %}
{% url consulting_select_successive_survey appointment.id illness.code as successive_tasks %}
{% url consulting_list_provisional_reports appointment.id illness.code as provisional_reports %}
{% url consulting_next_self_administered_survey appointment.id illness.code as next_self_survey %}
{% url consulting_prev_treatment_block appointment.id illness.code as treatment_survey %}
{% url consulting_show_prescription appointment.id illness.code as treatment %}
{% url consulting_set_conclusion appointment.id illness.code as conclusion %}
{% url consulting_new_app appointment.id illness.code as scheduler %}
{% url consulting_register_payment appointment.id illness.code as payment %}


  <ul class="nav nav-list">
      {% if not appointment.is_first_appointment %}
      <li class="nav-header">{% trans 'COMPLETAR' %}</li>
      <li class="{% active_leaf request incomplete_tasks %}">
          <a href="{{ incomplete_tasks }}">
            {% trans 'Cuestionarios<br>Pendientes' %}
          </a>
      </li>
      <li class="{% active_leaf request self_administered_tasks %}">
          <a href="{{self_administered_tasks}}">
            {% trans 'Cuestionario<br>Autoadministrado' %}
          </a>
      </li>
      {% endif %}
      <li class="nav-header">{% trans 'REALIZAR' %}</li>
      <li class="{% active_leaf request successive_tasks %}">
          <a href="{{successive_tasks}}">
            {% trans 'Cuestionario<br>Heteroadministrado' %}
          </a>
      </li>
      <li class="divider"></li>
      <li class="{% active_leaf request provisional_reports %}">
        <a href="{{provisional_reports}}">{% trans 'INFORMES' %}</a>
      </li>
      <li class="divider"></li>
      <li class="nav-header">{% trans 'FINALIZAR CONSULTA' %}</li>
      <li class="{% active_leaf request treatment %}">
        <a href="{{treatment}}">{% trans 'Prescribir' %}</a>
      </li>
      <li class="{% active_leaf request scheduler %}">
        <a href="{{scheduler}}">{% trans 'Dar cita' %}</a>
      </li>
      {% if appointment.patient.get_profile.email %}
      <li class="{% active_leaf request next_self_survey %}">
        <a href="{{next_self_survey}}">{% trans 'Asignar<br>Cuestionario' %}</a>
      </li>
      {% endif %}
      <li class="{% active_leaf request conclusion %}">
        <a href="{{conclusion}}">{% trans 'Conclusiones' %}</a>
      </li>
      <li class="{% active_leaf request payment %}">
        <a href="{{payment}}">{% trans 'Registrar pago' %}</a>
      </li>                                                  
  </ul>
  {% endif %}