{% load i18n%}
<header id="overview" class="jumbotron subhead">
<div class="subnav">
  <ul class="nav nav-pills">
    <li>
      <a href="#">
        {% trans 'DATOS PERSONALES' %}
      </a>
    </li>
    <li>
      <a href="#">
        {% trans 'INFORMES' %}
      </a>
    </li>
    <li>
      <a href="#">
        {% trans 'RECOMENDACIONES' %}
      </a>
    </li>
    <li>
      <a href="#">
        {% trans 'PARÁMETROS' %}
      </a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        {% trans 'FÁRMACOS' %} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">
            {% trans 'Listado de Tratamientos Farmacológicos' %}
          </a>
        </li>
        <li>
          <a href="#">
            {% trans 'Nuevo Tratamiento Farmacológicos' %}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        {% trans 'CITAS' %}
      </a>
    </li>
  </ul>
</div>
</header>