{% load i18n%}
{% load consulting %}

{% url consulting_list_treatments_pm as consulting_list_treatments_pm %}
{% url consulting_newtreatment_pm as consulting_newtreatment_pm %}


<div class="subnav">
  <ul class="nav nav-pills">
    <li>
      <a href="#">
        {% trans 'DATOS PERSONALES' %}
      </a>
    </li>
    <li>
      <a href="#">
        {% trans 'INFORMES' %}
      </a>
    </li>
    <li>
      <a href="#">
        {% trans 'RECOMENDACIONES' %}
      </a>
    </li>
    <li>
      <a href="#">
        {% trans 'PARÁMETROS' %}
      </a>
    </li>
    <li class="dropdown {% active request consulting_list_treatments_pm %}">
      <a id="medicine" class="dropdown-toggle" href="#" >
        {% trans 'FÁRMACOS' %} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="{% url consulting_list_treatments_pm %}">
            {% trans 'Listado de Tratamientos Farmacológicos' %}
          </a>
        </li>
        <li class="{% active request consulting_newtreatment_pm %}">
          <a href="{% url consulting_newtreatment_pm %}">
            {% trans 'Nuevo Tratamiento Farmacológico' %}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        {% trans 'CITAS' %}
      </a>
    </li>
  </ul>
</div>