{% load i18n%}
{% load consulting %}

<script type="text/javascript">
  $(document).ready(function(){
    if($("#list").attr('class')=='active' || $("#new").attr('class')=='active'){      
      $("#medicine").addClass('active')
    }
    else{
      $("#medicine").removeClass('active')
    }
  })
</script>

{% url consulting_personal_data_pm patient_id as personal_data %}
{% url consulting_list_treatments_pm as list_treatments %}
{% url consulting_newtreatment_pm as newtreatment %}

<div class="subnav">
  <ul class="nav nav-pills">
    <li class="{% active_child request personal_data %}">
      <a href="{% url consulting_personal_data_pm patient_id %}">
        {% trans 'DATOS PERSONALES' %}
      </a>
    </li>    
    <li>
      <a href="#">
        {% trans 'INFORMES' %}
      </a>
    </li>
    <li>
      <a href="#">
        {% trans 'RECOMENDACIONES' %}
      </a>
    </li>
    <li>
      <a href="#">
        {% trans 'PARÁMETROS' %}
      </a>
    </li>
    <li id="medicine" class="dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        {% trans 'FÁRMACOS' %} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li id="list" class="{% active_child request list_treatments %}">
          <a href="{% url consulting_list_treatments_pm %}">
            {% trans 'Listado de Tratamientos Farmacológicos' %}
          </a>
        </li>
        <li id="new" class="{% active_child request newtreatment %}">
          <a href="{% url consulting_newtreatment_pm %}">
            {% trans 'Nuevo Tratamiento Farmacológico' %}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        {% trans 'CITAS' %}
      </a>
    </li>
  </ul>
</div>