{% load i18n%}
{% load consulting %}

{% if illness %}

{% url consulting_list_incomplete_tasks appointment.id illness.code as incomplete_tasks %}
{% url consulting_list_self_administered_tasks appointment.id illness.code as self_administered_tasks %}
{% url consulting_select_successive_survey appointment.id illness.code as successive_tasks %}
{% url consulting_list_provisional_reports appointment.id illness.code as provisional_reports %}
{% url consulting_next_self_administered_survey appointment.id illness.code as next_self_survey %}
{% url consulting_show_prescription appointment.id illness.code as treatment %}
{% url consulting_prev_treatment_block appointment.id illness.code as prev_treatment %}
{% url consulting_set_conclusion appointment.id illness.code as conclusion %}
{% url consulting_new_app appointment.id illness.code as scheduler %}

  <ul class="nav nav-pills nav-stacked bs-docs-sidenav">
      {% if not appointment.is_first_appointment %}
      <li>
          <a href="{{ incomplete_tasks }}">
            {% trans 'ENCUESTAS<br>SIN COMPLETAR' %}
          </a>
      </li>
      <li>
          <a href="{{self_administered_tasks}}">
            {% trans 'ENCUESTA<br>AUTOADMINISTRADA' %}
          </a>
      </li>
      {% endif %} 
      <li>
          <a href="{{successive_tasks}}">
            {% trans 'ENCUESTA<br>HETEROADMINISTRADA' %}
          </a>
      </li>
      {% if not appointment.is_first_appointment %}
      <li>
          <a href="{{prev_treatment}}">
            {% trans 'ENCUESTA<br>ADHERENCIA AL TRATAMIENTO' %}
          </a>
      </li>
      {% endif %}
      <li class="divider"></li>
      <li>
        <a href="{{provisional_reports}}">{% trans 'INFORMES<br>GENERADOS' %}</a>
      </li>
      <li>
        <a href="{{treatment}}">{% trans 'PRESCRIBIR' %}</a>
      </li>
      <li>
        <a href="{{scheduler}}">{% trans 'DAR CITA' %}</a>
      </li>
      {% if illness.code == 2 %}
      <li>
        <a href="{{next_self_survey}}">{% trans 'ASIGNAR ENCUESTA<br>AUTOADMINISTRADA' %}</a>
      </li>
      {% endif %}
      <li class="">
          <a data-toggle="modal" href="{{conclusion}}">
            {% trans 'FINALIZAR<br>CONSULTA' %}
          </a>
      </li>                                                  
  </ul>

  {% endif %}