{% load i18n consulting%}

<div class="row-fluid">
  {% if objects.paginator.num_pages > 1 %}
  <div id="paginator" class="pagination pagination-centered span8">
    <ul>
      {% if objects.has_previous %}
        <li><a href="{{ request.path }}?page={{ objects.previous_page_number }}">←</a></li>
      {% else %}
        <li class="disabled"><a>←</a></li>
      {% endif %}
      {% for l in objects|get_pages_list %}
        {% if forloop.counter0 and forloop.revcounter0 %}
          {% for p in l %}
           <li {% if p = objects.number %}class="active" style="font-weight: bold;"{% endif %}><a href="{{ request.path }}?page={{ p }}">{{ p }}</a></li>
          {% endfor %}
        {% else %}
          {% if l %}
          <li>
            <a href="{{ request.path }}?page={{ l.0|add:"1" }}">...</a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if objects.has_next %}
        <li><a href="{{ request.path }}?page={{ objects.next_page_number }}">→</a></li>
      {% else %}
        <li class="disabled"><a>→</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
  <div class="pull-right pagination span4">
      <p class="pull-right muted">{% trans 'Elementos mostrados' %}: <em>{{objects.start_index}} - {{objects.end_index}} {% trans 'de' %} {{objects.paginator.count}}</em></p>
  </div>
</div>

<script>
  {% if request.is_ajax %}
  $('#message-paginator').find('a').live('click', function(e){
    e.preventDefault();
    $('#message-paginator').parent().parent().load($(this).attr('href'));
  });
  {% endif %}
</script>
