{% load i18n consulting %}

<div class="row-fluid">
  {% if objects.paginator.num_pages > 1 %}
  <div id="paginator" class="pagination pagination-centered span8">
    <ul>
      {% if objects.has_previous %}
        <li><a href="{{ request.path }}?page={{ objects.previous_page_number }}">←</a></li>
      {% else %}
        <li class="disabled"><a>←</a></li>
      {% endif %}
      {% for l in objects|get_pages_list %}
        {% if forloop.counter0 and forloop.revcounter0 %}
          {% for p in l %}
           <li {% if p = objects.number %}class="active" style="font-weight: bold;"{% endif %}><a href="{{ request.path }}?page={{ p }}{% if queries %}&amp;{{queries.urlencode}}{% endif %}">{{ p }}</a></li>
          {% endfor %}
        {% else %}
          {% if l %}
            {% if forloop.counter0 = 0 %}
              <li>
                <a href="{{ request.path }}?page={{ objects.paginator.page_range|first }}{% if queries %}&amp;{{queries.urlencode}}{% endif %}">{{ objects.paginator.page_range|first }}</a>
              </li>
              {% if l|length > 1%}
              <li>
                <a href="{{ request.path }}?page={{ l|last }}{% if queries %}&amp;{{queries.urlencode}}{% endif %}">...</a>
              </li>
              {% endif %}
            {% endif %}
            {% if forloop.revcounter0 = 0 %}
              {% if l|length > 1%}
                <li>
                  <a href="{{ request.path }}?page={{ l|first }}{% if queries %}&amp;{{queries.urlencode}}{% endif %}">...</a>
                </li>
              {% endif %}
              <li>
                <a href="{{ request.path }}?page={{ objects.paginator.page_range|last }}{% if queries %}&amp;{{queries.urlencode}}{% endif %}">{{ objects.paginator.page_range|last }}</a>
              </li>
            {% endif %}
             
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if objects.has_next %}
        <li><a href="{{ request.path }}?page={{ objects.next_page_number }}{% if queries %}&amp;{{queries.urlencode}}{% endif %}">→</a></li>
      {% else %}
        <li class="disabled"><a>→</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
  <div class="pull-right pagination span4">
      <p class="pull-right muted">{% trans 'Elementos mostrados' %}: <em>{{objects.start_index}} - {{objects.end_index}} {% trans 'de' %} {{objects.paginator.count}}</em></p>
  </div>
</div>

<script>
  {% if request.is_ajax %}
  $('#paginator.pagination').find('a').on('click', function(e){
    e.preventDefault();
    $(this).parentsUntil('.pagination').parent().parent().parent().load($(this).attr('href'), set_events);
  });
  {% endif %}
</script>
