{% extends "consulting/consultation/monitoring/index.html" %}

{% load i18n %}

{% block container %}
  <section>
  <div class="page-header">
    <h1>{% trans 'Encuesta comportamiento durante la entrevista' %}</h1>
  </div>
      <div class="hero-unit">
        <form class="form-horizontal" method="post" action="{% url consulting_select_behavior_survey appointment.id %}">{% csrf_token %}
          {% if form.survey.errors %}
            <div class="control-group error">
              <label class="control-label">
                {{form.survey.label}}
              </label>
              <div class="controls">
                {{ form.survey }}
                {% for error in form.survey.errors %}
                  <span class="help-inline">
                    {{ error|escape }}
                  </span>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div class="control-group">
              <label class="control-label">
                {{form.survey.label}}
              </label>
              <div class="controls">
                {{ form.survey }}
              </div>
            </div>
          {% endif %}
          <div class="center">
            <button type="submit" class="btn btn-primary btn-large">
              Continuar
            </button>
          </div>      
        </form>
      </div>
</section>
{% endblock container %}


{% block jquery_init %}
  $('ul').addClass("without_decorator");
{% endblock %}