{% extends "consulting/consultation/monitoring/index.html" %}

{% load i18n%}

{% block container %}
  <section>
    <div class="page-header">
      <h1>{% trans 'Conclusión' %}</h1>
    </div>
    <div class="row">
      <div class="span8">      
        <form class="form-horizontal" id="form" action="{% url consulting_conclusion_monitoring appointment.id %}" method="post" accept-charset="utf-8">{% csrf_token %}
            {{form.component}}
            <div class="control-group">
              <label class="control-label">
                {{form.observation.label}}
              </label>
              <div class="controls">
                {{form.observation}}
                {% if form.observation.errors %}
                  {{ form.observation.errors }}
                {% endif %}
              </div>
            </div>                                  
            <div class="control-group">
              <label class="control-label">
                {{form.recommendation.label}}
              </label>
              <div class="controls without_text_decorator">
                {{form.recommendation}}
                {% if form.recommendation.errors %}
                  {{ form.recommendation.errors }}
                {% endif %}
              </div>
            </div>
            <div class="controls">
              <button type="submit" class="btn btn-primary btn-large">
                {% trans 'Guardar' %}
              </button>
            </div>
        </form>          
      </div>
    </div>
  </section>
 {% endblock container %}