{% extends "consulting/consultation/monitoring/index.html" %}

{% load i18n%}

{% block container %}
    <div class="page-header">
      <h1>{% trans 'Observaciones y recomendaciones' %}
        <div class="btn-group pull-right">
            <a class="btn btn-info" href="{% if illness %}{% url 'consulting_main' id_appointment=appointment.id code_illness=illness.code %}{% else %} javascript:history.back();{% endif %}">
               <i class="icon-arrow-left icon-white"></i>
              {% trans 'Volver' %}
            </a>
      </div>
      </h1>
    </div>
  <section>
    {% if form.non_field_errors %}
    <div class="alert-error alert">
      {{form.non_field_errors}}
    </div>
    {% endif %}
     <form class="form-horizontal well" id="form" action="{{request.path}}" method="post" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}
            
            <div class="control-group">
              <label class="control-label">
                {{form.observation.label}}
                <br>
                <small><em>*Sólo para el profesional médico</em></small>
              </label>
              <div class="controls">
                {{form.observation}}
                {% if form.observation.errors %}
                  {{ form.observation.errors }}
                {% endif %}
              </div>
            </div>
            <hr>                                  
            <div class="control-group">
              <label class="control-label">
                {{form.recommendation.label}}
              </label>
              <div class="controls without_text_decorator">
                {{form.recommendation}}
                {% if form.recommendation.errors %}
                  {{ form.recommendation.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {{form.extra.label}}
              </label>
              <div class="controls without_text_decorator">
                {{form.extra}}
                {% if form.extra.errors %}
                  {{ form.extra.errors }}
                {% endif %}
              </div>
            </div>
            <div class="controls">
              <input type='hidden' name='action' value="save" />
              {% if conclusion and conclusion.pk %}
                <a href="#" id="delbtn" class="btn btn-danger btn-large">
                {% trans 'Borrar' %}
              </a>
              {% endif %}
              <button type="submit" class="btn btn-primary btn-large">
                {% trans 'Guardar' %}
              </button>
            </div>
        </form>          
  </section>
 {% endblock container %}

 {% block jquery_init %}
    $('#delbtn').click(function(ev){
      ev.preventDefault();
      $('input[name="action"]').val('delete');
      $('form').submit();
  })
 {% endblock %}