{% extends "consulting/consultation/monitoring/index.html" %}

{% load i18n %}

{% block right %}
   {% include "consulting/consultation/monitoring/finish/calendar.html" %}
{% endblock %}

{% block container %}
<div class="page-header">
  <h1>{% trans "CITAS " %}{{ day }} {% trans "de" %} {{ mname }} {% trans "de" %} {{ year }}
        <div class="btn-group pull-right">
            <a class="btn btn-primary btn" href="{% url consulting_app_add_monitoring year month day patient_user.id appointment.id %}"><i class="icon-pencil icon-white"></i> {% trans "Nueva cita" %}</a>
            </a>
        </div>
    </h1>
</div>
  <section>
      {% if events.object_list.count > 0 %}


      <table id="events_list" class="table table-striped">
        <thead>
            <tr>
              <th>{% trans "Hora" %}</th>
              <th>{% trans "Paciente" %}</th>
              <th>{% trans "Tipo de cita" %}</th>
              <th>{% trans "Nota" %}</th>
            </tr>
        </thead>
        <tcontainer>
          {% for event in events.object_list %}
            {% include "consulting/consultation/appointment.html" %}
          {% endfor %}
        </tcontainer>
      </table>
      <div id="events-paginator" class="pagination pagination-centered">
        <ul>
          {% if events.has_previous %}
            <li><a href="?page={{ events.previous_page_number }}">←</a></li>
          {% else %}
            <li class="disabled"><a>←</a></li>
          {% endif %}

          {% if events.has_next %}
            <li><a href="?page={{ events.next_page_number }}">→</a></li>
          {% else %}
            <li class="disabled"><a>→</a></li>
          {% endif %}
        </ul>
      </div>

      <div id="preview"></div>
      {% else %}
        <div class="alert alert-info">{% trans "No hay citas" %}</div>
      {% endif %}
    </section>
{% endblock container %}
