{% extends "consulting/consultation/monitoring/index.html" %}

{% load i18n %}

{% block container %}
      <section>
      <div class="span3">
        {% include "consulting/consultation/monitoring/finish/calendar.html" %}
      </div>
      <div class="span9">
        {% if events.object_list.count > 0 %}
        <div id="message-paginator" class="pagination pagination-centered">
          <ul>
            {% if events.has_previous %}
              <li><a href="?page={{ events.previous_page_number }}">←</a></li>
            {% else %}
              <li class="disabled"><a>←</a></li>
            {% endif %}

            {% if events.has_next %}
              <li><a href="?page={{ events.next_page_number }}">→</a></li>
            {% else %}
              <li class="disabled"><a>→</a></li>
            {% endif %}
          </ul>
        </div>

        <table id="message_list" class="table table-striped">
          <thead></thead>
          <tcontainer>
            {% for event in events.object_list %}
              {% include "cal/app/appointment.html" %}
            {% endfor %}
          </tcontainer>
        </table>

        <div id="preview"></div>
        {% else %}
        <h6>{% trans "No hay citas concertadas para este día" %}</h6>
        {% endif %}
      </div>
      </section>
{% endblock container %}