{% extends "ui/app.html" %}

{% load i18n %}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
  {% block nav-bar%}
      {% include "ui/includes/nav_bar_doctor_monitoring.html" %}       
  {% endblock  %}
  <section>
    <div class="page-header">
      <h1>{% trans 'Encuesta autoadministrada' %}</h1>
    </div>
    <div class="row">
      <div class="span8">
        <div class="hero-unit">
          <form class="form-horizontal" method="post" action="{% url consulting_select_self_administered_survey_monitoring appointment.id %}">{% csrf_token %}
            {% if form.from_date.errors %}
              <div class="control-group error">
                <label for="id_from_date" class="control-label">{{form.from_date.label}}</label>
                <div class="controls">
                  <div id="from_date" class="input-append date" data-date-format="dd/mm/yyyy" data-date-weekstart="1">
                    {{ form.from_date }} 
                    <span class="add-on">
                      <i class="icon-th"></i>
                    </span>                   
                    {% for error in form.from_date.errors %}
                       <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                  </div>
                </div>              
              </div>
            {% else %}
              <div class="control-group">
                <label for="from_date" class="control-label">{{form.from_date.label}}</label>
                <div class="controls">
                  <div id="from_date" class="input-append date" data-date-format="dd/mm/yyyy" data-date-weekstart="1">
                    {{ form.from_date }}
                    <span class="add-on">
                      <i class="icon-th"></i>
                    </span>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if form.to_date.errors %}
              <div class="control-group error">
                <label for="to_date" class="control-label">{{form.to_date.label}}</label>
                <div class="controls">
                  <div id="to_date" class="input-append date" data-date-format="dd/mm/yyyy" data-date-weekstart="1">
                    {{ form.to_date }}
                    <span class="add-on">
                      <i class="icon-th"></i>
                    </span>
                    {% for error in form.to_date.errors %}
                       <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% else %}
              <div class="control-group">
                <label for="id_to_date" class="control-label">{{form.to_date.label}}</label>
                <div class="controls">
                  <div id="to_date" class="input-append date" data-date-format="dd/mm/yyyy" data-date-weekstart="1">
                    {{ form.to_date }}
                    <span class="add-on">
                      <i class="icon-th"></i>
                    </span>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if form.survey.errors %}
              <div class="control-group error">
                <label class="control-label">
                  {{form.survey.label}}
                </label>
                <div class="controls">
                  {{ form.survey }}
                  <button type="submit" class="btn">
                    Ir
                  </button>
                  {% for error in form.survey.errors %}
                    <span class="help-inline">
                      {{ error|escape }}
                    </span>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div class="control-group">
                <label class="control-label">
                  {{form.survey.label}}
                </label>
                <div class="controls">
                  {{ form.survey }}
                  <button type="submit" class="btn">
                    Enviar
                  </button>
                </div>
              </div>
            {% endif %}
            {% if form.variables.errors %}
              <div id="error_variables" class="control-group error">
                <div class="offset1">
                  {{ form.variables }}
                  {% for error in form.variables.errors %}
                    <span class="help-inline">
                      {{ error|escape }}
                    </span>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div id="variables" class="control-group" style="display: none;">
                <div class="offset1">
                  {{ form.variables }}
                </div>
              </div>
            {% endif %}
          </form>
        </div>
      </div>
      <!-- PATIENT CARD -->
      <div class="span4">
          {% include "consulting/patient/card.html" %}
      </div>
    </div>
  </section>
</div>
{% endblock body %}


{% block jquery_init %}
  $('ul').addClass("without_decorator");

  $('#from_date').datepicker().on('changeDate',
    function(ev){$('#from_date').datepicker('hide');
  });
  $('#to_date').datepicker().on('changeDate',
    function(ev){$('#to_date').datepicker('hide');
  });

  $("#id_survey").change(function() {
        if($(this).val() == {{code_variables}}){
          $('#variables').css("display", "block");
          $('#error_variables').css("display", "block");
        }else{
          $('#variables').css("display", "none");
          $('#error_variables').css("display", "none");          
        }
  });
{% endblock %}