{% extends "consulting/consultation/monitoring/index.html" %}

{% load i18n%}

{% block container %}
<legend><h2>{% trans 'Calendario' %}</h2></legend>
<div class="row">
    <ul class="pager">
        <li class="previous">
            <a href="{% url consulting_select_year_month_monitoring year|add:'-3' patient_user.id  appointment.id%}">&larr; Prev</a>
        </li>
        <li class="next">
            <a href="{% url consulting_select_year_month_monitoring year|add:'3' patient_user.id  appointment.id %}">Next &rarr;</a>
        </li>
    </ul>
</div>
<div class="row-fluid">
{% for year, months in years %}
    <div class="span3 well center">
        <h2 class="label label-info">{{ year }}</h2>
        <ul class="unstyled">
        {% for month in months %}
            {% if month.entry %}<b>{% endif %}
            <li>                                
                <a class={% if month.current %}"label label-info"{% else %}""{% endif %}
                href="{% url consulting_day_monitoring year month.n today patient_user.id appointment.id %}">{{ month.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>

{% endblock container %}
