{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.ui.core.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.ui.position.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
{% endblock %}

{% block css_files %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/jquery-ui-1.8.18.custom.css" rel="stylesheet">
{% endblock %}

{% block jquery_init %}
    $("#searcher").autocomplete({
            source: function(request, response){
                $.ajax({
                    url: '{% url searcher %}',
                    type:'POST',
                    data: {
                        start: function() { return $("#searcher").val(); },
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                    },
                    dataType: "json",
                    success: function(data){
                        response(data['usernames'])
                    }
                })
            }
    });
{% endblock %}

{% block header%}

{% endblock  %}

{% block body %}
    {% include "ui/includes/header.html" %}
    <div class="container">
        {% include "ui/includes/nav-bar.html" %}
    </div>
    <div class="container" style="padding-top:100px;">
        <div class="row" >
            <div class="span6 offset3">
            <form class="well form-horizontal">{% csrf_token %}
                <label class="control-label span2" style="text-align: center;">
                        {% trans 'PACIENTE' %}
                </label>
                <input type="text" id="searcher" class="input-medium span3">
            </form>
            </div>
        </div>
        <div class="row">
            <div style="padding-left:15px;" class="span4 offset4">
                <a href="{% url newpatient %}" class="btn btn-large btn-primary span3">
                {% trans 'ALTA PACIENTE' %}
                </a>
            </div>
        </div>
    </div>
{% endblock body %}
