{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.core.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.position.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/jquery-ui-1.8.18.custom.css" rel="stylesheet">
{% endblock %}

{% block jquery_init %}  
  $("#searcher").autocomplete({
    source: function(request, response){
              $.ajax({
                  url: '{% url consulting_searcher %}',
                  type:'POST',
                  data: {
                      start: function() { return $("#searcher").val(); },
                      csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                  },
                  dataType: "json",
                  success: function(data){
                      response(data['completed_names'])
                  }
              })
            },
    select: function(event, ui){
            var url = '/personal_data_pm/' + ui.item.id;
            $(window.location).attr('href', url);
            },
    
  }); 

{% endblock %}

{% block header%}
  {% include "ui/includes/header_doctor.html" %}
{% endblock  %}

{% block body %}
  <div id="overwrite" class="container">
    <div class="row" style="margin-top:150px;">      
      <div class="span5" style="text-align:right;">
        <h3>{% trans 'BUSCAR PACIENTE' %}</h3>
      </div>
      <div class="span7">
        <form class="form-horizontal">{% csrf_token %}
          <input type="text" id="searcher" class="input-medium span4">
        </form>
      </div>     
    </div>  
  </div>
{% endblock body %}