{% extends "ui/app.html" %}

{% load i18n%}

{% block jquery_init %}
    $('.treatment').each(function(){
        $(this).on("click", function(){ 
            var treatment_id = $(this).attr("id");
            $('#overwrite').load(
                  '{% url consulting_detail_treatment_pm %}',
                  {'treatment_id': treatment_id,
                  'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()});
            });
    }); 

    
{% endblock %}

{% block header%}
  {% include "ui/includes/header_doctor.html" %}
{% endblock  %}


{% block body %}
  <div class="container">
    {% block nav-bar%}
        {% include "ui/includes/nav_bar_doctor_pm.html" %}       
    {% endblock  %}
    <input name="csrfmiddlewaretoken" type="hidden" value="{{csrf_token}}">
    <section>
      <div class="page-header">
          <h1>{% trans 'Listado de Tratamientos' %}</h1>                
      </div>
      <div class="row">
        {% if treatments.object_list %}
          <div class="span8">                         
            <table id="list_treatment" class="table table-bordered table-condensed">  
                <thead>
                  <tr>            
                    <th style="text-align:center;">
                      {% trans 'FECHA' %}
                    </th>                
                  </tr>
                </thead>        
                <tbody>                  
                  {% for treatment in treatments.object_list %}
                    <tr id="{{treatment.id}}" class="treatment">
                      <td style="text-align:center;">{{treatment.date}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table> 
            <div id="treatment-paginator">
              <ul class="pagination">
                {% if treatments.has_previous %}
                  <li><a href="?page={{ treatments.previous_page_number }}">←</a></li>
                {% else %}
                  <li class="disabled"><a>←</a></li>
                {% endif %}

                {% if treatments.has_next %}
                  <li><a href="?page={{ treatments.next_page_number }}">→</a></li>
                {% else %}
                  <li class="disabled"><a>→</a></li>
                {% endif %}
              </ul>
            </div>             
            <div id="overwrite"></div>
          </div>            
        {% else %}
          <div class="span8">
            <h6>{% trans "No hay tratamientos" %}</h6>
          </div>
        {% endif %}
          <!-- PATIENT CARD -->
          <div class="span4">
              {% include "consulting/card.html" %}
          </div>
      </div>
    </section>                
  </div>
{% endblock body %}