{% extends "ui/app.html" %}
{% load i18n%}
{% block jquery_init %}
  $('#dp').datepicker().on('changeDate', 
    function(ev){$('#dp').datepicker('hide');
  });
  $('#doctor').change(function() {
    var id_doctor = $("#id_doctor option:selected").val()

    $('#appointments').load('{% url appointments_doctor %}',
                            {'id_doctor': id_doctor,
                            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()});
  });
{% endblock %}
{% block body %}
    {% include "ui/includes/header.html" %}
    <div class="container">
        {% include "ui/includes/nav-bar.html" %}
    </div>    
    <div class="container" style="padding-top:100px;">      
      <div class="row" >
        <div class="span8 offset2 well">
          <form class="form-horizontal" id="form" 
                action="{% url newappointment id_newpatient %}" 
                method="post" accept-charset="utf-8">{% csrf_token %}  
            <h2>{% trans 'NUEVA CITA' %}</h2>              
            <div class="control-group span4">
              <div>              
                <label class="control-label">
                  {% trans 'Médico' %}
                </label>
                <div id="doctor" class="controls">
                  {{form.doctor}}
                  {% if form.doctor.errors %}
                    {{ form.doctor.errors }}                
                  {% endif %}
                </div>
              </div>
              <div class="control-group span4"> 
                <div id="appointments"></div>
              </div>
            </div>
            <div class="control-group span8">
              <label class="control-label">
                {% trans 'Paciente' %}
              </label>
              <div class="controls" style="padding-top:5px;" >
                {{name}} {{surnames}}
              </div>
            </div> 
            <div class="control-group span8">
              <label class="control-label">
                {% trans 'Fecha' %}
              </label>
              <div class="controls">
                <div id="dp" class="input-append date" data-date-format="dd/mm/yyyy" data-date-weekstart="1">
                  {{form.date}}
                  <span class="add-on">
                    <i class="icon-th"></i>
                  </span>
                </div>
                {% if form.date.errors %}
                  {{ form.date.errors }}                
                {% endif %}
              </div>             
            </div>
            <div class="control-group span8">
              <label class="control-label">
                {% trans 'Hora' %}
              </label>
              <div class="controls">
                {{form.hour}}
                {% if form.hour.errors %}
                  {{ form.hour.errors }}                
                {% endif %}
                <span class="help-inline">{% trans 'Formato HH:MM' %}</span>
              </div>
            </div>            
            <div class="controls span8">
              <button type="submit" class="btn">{% trans 'Guardar' %}</button>
            </div>
          </form> 
                   
        </div>
      </div>      
    </div>
{% endblock body %}