{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block jquery_init %}
  $('#dp').datepicker().on('changeDate',
    function(ev){$('#dp').datepicker('hide');
  });
{% endblock %}

{% block body %}
    {% include "ui/includes/header.html" %}
    <div class="container">
        {% include "ui/includes/nav-bar.html" %}
    </div>
    <div class="container" style="padding-top:100px;">
      <div class="row" >
        <div class="span8 offset2 well">
          <form class="form-horizontal" id="form" action="." method="post" accept-charset="utf-8">{% csrf_token %}
            {% if exituser %}
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert">×</a>
              <strong>
                {% trans 'El usuario ya existe' %}
              </strong>
            </div>
            {% endif %}
            <div class="control-group">
              <label class="control-label">
                {% trans 'Nombre' %}
              </label>
              <div class="controls">
                {{form.name}}
                {% if form.name.errors %}
                  {{ form.name.errors }}
                {% endif %}
              </div>
            </div>
             <div class="control-group">
              <label class="control-label">
                {% trans 'Primer Apellido' %}
              </label>
              <div class="controls">
                {{form.first_surname}}
                {% if form.first_surname.errors %}
                  {{ form.first_surname.errors }}
                {% endif %}
              </div>
            </div>
           <div class="control-group">
              <label class="control-label">
                {% trans 'Segundo Apellido' %}
              </label>
              <div class="controls">
                {{form.second_surname}}
                {% if form.second_surname.errors %}
                  {{ form.second_surname.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {% trans 'NIF' %}
              </label>
              <div class="controls">
                {{form.nif}}
                {% if form.nif.errors %}
                  {{ form.nif.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {% trans 'Sexo' %}
              </label>
              <div class="controls">
                {{form.sex}}
                {% if form.sex.errors %}
                  {{ form.sex.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {% trans 'Domicilio' %}
              </label>
              <div class="controls">
                {{form.address}}
                {% if form.address.errors %}
                  {{ form.address.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {% trans 'Municipio' %}
              </label>
              <div class="controls">
                {{form.town}}
                {% if form.town.errors %}
                  {{ form.town.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {% trans 'Código Postal' %}
              </label>
              <div class="controls">
                {{form.postcode}}
                {% if form.postcode.errors %}
                  {{ form.postcode.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {% trans 'Estado Civil' %}
              </label>
              <div class="controls">
                {{form.status}}
                {% if form.status.errors %}
                  {{ form.status.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {% trans 'Fecha de Nacimiento' %}
              </label>
              <div class="controls">
                <div id="dp" class="input-append date" data-date-format="dd/mm/yyyy" data-date-weekstart="1">
                  {{form.dob}}
                  <span class="add-on">
                    <i class="icon-th"></i>
                  </span>
                </div>
                {% if form.dob.errors %}
                  {{ form.dob.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {% trans 'Teléfono1' %}
              </label>
              <div class="controls">
                {{form.phone1}}
                {% if form.phone1.errors %}
                  {{ form.phone1.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {% trans 'Teléfono2' %}
              </label>
              <div class="controls">
                {{form.phone2}}
                {% if form.phone2.errors %}
                  {{ form.phone2.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {% trans 'Correo electrónico' %}
              </label>
              <div class="controls">
                {{form.email}}
                {% if form.email.errors %}
                  {{ form.email.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {% trans 'Profesión' %}
              </label>
              <div class="controls">
                {{form.profession}}
                {% if form.profession.errors %}
                  {{ form.profession.errors }}
                {% endif %}
              </div>
            </div>
            <div class="controls">
              <button type="submit" class="btn">{% trans 'Guardar' %}</button>
            </div>
          </form>

        </div>
      </div>
    </div>
{% endblock body %}
