{% extends "ui/app.html" %}

{% load i18n%}

{% block header%}
    {% if user.get_profile.is_doctor %}
        {% include "ui/includes/header_doctor.html" %}
    {% endif %}
    {% if user.get_profile.is_administrative %}
        {% include "ui/includes/header_administrative.html" %}
    {% endif %}
{% endblock  %}

{% block body %}
<div class="container">
    {% if user.get_profile.is_doctor %}
        {% include "ui/includes/nav_bar_doctor_admin.html" %}
    {% endif %}
    <section>
        <div class="page-header">
          <h1>{% trans 'Credenciales Nuevo Paciente' %}</h1>                
        </div>
        <div class="row" >
            <div class="span8">
                <div class="alert alert-info">
                    <div class="row">
                        <div class="span3 offset1">
                            {% trans 'Nombre de usuario' %}
                            <strong>{{profile.username}}</strong>
                        </div>
                        <div class="span3">
                            {% trans 'Contraseña' %}
                            <strong>{% trans '1234' %}</strong>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <h4>
                        {% trans '¿Desea crear una cita al paciente que acaba de dar de alta?' %}
                    </h4>
                    <p>
                        <!-- <a href="{% url consulting_newappointment patient_user.id %}" class="btn btn-primary">
                            Sí
                        </a>
                        <a href="{% url consulting_index %}" class="btn">
                            No
                        </a> -->
                        <a href="#" class="btn btn-primary">
                            Sí
                        </a>
                        <a href="#" class="btn">
                            No
                        </a>
                    </p>                    
                </div>   
            </div>
            <div class="span4">
                {% include "consulting/card.html" %}
            </div>  
        </div>
    </section>
</div>
{% endblock body %}
