{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.core.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.position.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/jquery-ui-1.8.18.custom.css" rel="stylesheet">
{% endblock %}

{% block jquery_init %}
  <!-- DISABLED searcher_component BY DEFAULT-->
  if($("input[type='radio']:checked").val() == undefined){
    $('#id_searcher_component').attr('disabled','disabled')
  }

  <!-- ENABLED searcher_component WHEN CLICK SOME OF INPUT TYPE RADIO -->
  $('.radio_js').each(function(){
    $(this).on("click", function(){ 
      $('#id_searcher_component').removeAttr('disabled');     
    });      
  });     

  <!-- LOOK FOR COMPONENT -->
  $("#id_searcher_component").autocomplete({
    source: function(request, response){
              $.ajax({
                  url: '{% url consulting_searcher_component %}',
                  type:'POST',
                  data: { 
                      kind_component: $("input[type='radio']:checked").val(),
                      start: function() { return $("#id_searcher_component").val(); },
                      csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                  },
                  dataType: "json",
                  success: function(data){
                      response(data['components'])
                  }
              })
            },
    select: function(event, ui){
              $("#id_components").attr('value', ui.item.id);            
            },
    
  }); 

  <!-- REMOVE PRESCRIPTION -->
 $('.remove_prescription').each(function(){
    $(this).on("click", function(){ 
                            var id = $(this).attr("id");
                            $('#prescription_id').val(id);     
                        });      
  });   
 
  $("#yes").click(function(){
                    treatment_id = $('#treatment_id').val()
                    prescription_id = $('#prescription_id').val()
                    $('#overwrite').load(
                                  '{% url consulting_remove_prescription_pm %}',
                                  {'treatment_id': treatment_id,
                                  'prescription_id': prescription_id,
                                  'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()});
}); 

{% endblock %}

{% block header%}
  {% include "ui/includes/header_doctor.html" %}
{% endblock  %}

{% block body %}
  <div class="container">
    {% block nav-bar%}
      {% include "ui/includes/nav_bar_doctor_pm.html" %}
    {% endblock  %}
    <section>
      <div class="page-header">
        <h1>{% trans 'Fármaco' %}</h1>
      </div>
      <div class="row">
        <div class="span8">
          <form class="form-horizontal" id="form" action="{% url consulting_add_prescriptions_treatment_pm treatment_id %}" method="post" accept-charset="utf-8">{% csrf_token %}
            <input type="hidden" name="treatment_id"
            value='{{treatment_id}}'>
              {{form.component}}                                  
              <div class="control-group">
                <label class="control-label">
                  {{form.kind_component.label}}
                </label>
                <div class="controls without_text_decorator">
                  {{form.kind_component}}
                  {% if form.kind_component.errors %}
                    {{ form.kind_component.errors }}
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">
                  {{form.searcher_component.label}}
                </label>
                <div class="controls">
                  {{form.searcher_component}}
                  {% if form.searcher_component.errors %}
                    {{ form.searcher_component.errors }}
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">
                  {{form.before_after.label}}
                </label>
                <div class="controls">
                  {{form.before_after}}
                  {% if form.before_after.errors %}
                    {{ form.before_after.errors }}
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">
                  {{form.months.label}}
                </label>
                <div class="controls">
                  {{form.months}}                    
                  {% if form.months.errors %}
                    {{ form.months.errors }}
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">
                  {{form.posology.label}}
                </label>
                <div class="controls">
                  {{form.posology}}
                  {% if form.posology.errors %}
                    {{ form.posology.errors }}
                  {% endif %}
                </div>
              </div>
              <div class="controls">
                <button type="submit" class="btn btn-primary btn-large">
                  {% trans 'Añadir Fármaco' %}
                </button>
              </div>
          </form>
          <section>
            <div class="page-header">
              <h1>{% trans 'Tratamiento Farmacológico' %}</h1>
            </div>
            <div class="row">
              <div id="overwrite" class="span8">
                <table id="treatment" class="table table-bordered table-condensed">  
                  <thead>
                    <tr>            
                      <th style="text-align:center;">
                        {% trans 'FÁRMACO' %}
                      </th>
                      <th style="text-align:center;">
                        {% trans 'ANTERIOR/POSTERIOR SÍNTOMAS' %}
                      </th>
                      <th style="text-align:center;">
                        {% trans 'MESES' %}
                      </th>
                      <th style="text-align:center;">
                        {% trans 'POSOLOGÍA (mg/día)' %}
                      </th>
                      <th style="text-align:center;"></th>
                    </tr>
                  </thead>        
                  <tbody>
                    {% if prescriptions %}
                      {% for prescription in prescriptions %}
                        <tr>
                          <td>{{prescription.component}}</td>
                          <td>{{prescription.get_before_after}}</td>
                          <td>{{prescription.months}}</td>
                          <td>{{prescription.posology}}</td>
                          <td>                      
                            <a id="{{prescription.id}}" class="icon-trash remove_prescription" data-toggle="modal" href="#check_remove_prescription"></a>
                          </td>
                        </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
        <!-- PATIENT CARD -->
        <div class="span4">
            {% include "consulting/card.html" %}
        </div>
      </div>
    </section>    
    <div id="check_remove_prescription" class="modal hide fade" style="display: block;">
      <input id="treatment_id" type="hidden" name="treatment" value='{{treatment_id}}'>
      <input id="prescription_id" type="hidden">
      <div class="modal-header">
          <button class="close" data-dismiss="modal">
            ×
          </button>
          <h3>Borrar Componente</h3>
      </div>
      <div class="modal-body">
          <p>
            {% trans '¿Está seguro que quiere borrar éste componente?' %}
          </p>
      </div>
      <div class="modal-footer">
        <a id="yes" data-dismiss="modal" href="#" class="btn">Sí</a>
        <a data-dismiss="modal" href="#" class="btn btn-primary">No</a>
      </div>    
    </div>
  </div>
{% endblock body %}