{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/pyramid.js"></script>
{% endblock %}

{% block jquery_init %}
       $('#pyramid_anxiety').Pyramid({
          'height': 350,
          'width': 350,
          'slices':4,
          'slice_separation': 0.1,
          'colours': ['red', 'yellow', 'green', 'blue'],
          'text': ['1', '2', '3', '4']
       })
       .on('click', function(event){ alert(event.text) });

        $('#pyramid_depression').Pyramid({
          'height': 500,
          'width': 500,
          'slices':4,
          'slice_separation': 0.25,
          'colours': ['red', 'yellow', 'green', 'blue'],
          'text': ['12 (12%)', '250 (34%)', '3', '4', '5']
       })
       .on('click', function(event){ alert(event.text) });

{% endblock %}

{% block header%}
  {% include "ui/includes/header_doctor.html" %}
{% endblock  %}

{% block body %}
    <div class="container">
      {% block nav-bar%}
          {% include "ui/includes/nav_bar_doctor_statistic.html" %}
      {% endblock  %}
      <div class="">
        <h2>Pirámides <small></small></h2>
        <hr>
        <div class="row">
            <div class="span6" id="a"/>
                <h2><small>Ansiedad</small></h2>
                <div id="pyramid_anxiety"></div>
                <hr>
            </div>
            <div class="span6" id="a"/>
              <h2><small>Depresión</small></h2>
                  <div id="pyramid_depression"></div>
                <hr>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
