{% load i18n%}
    <h4>Detalles</h4>
    <dl class="dl-horizontal">
        <dt>{% trans 'Fármaco' %}</dt>
        <dd><span>{{medicine.component}}</span></dd>

        <dt>{% trans 'Inicio' %}</dt>
        <dd><span>{{medicine.get_before_after_symptom}} a los sintomas</span></dd>
        <!-- <dd><span>{{medicine.get_before_after}}</span></dd> -->

        <dt>{% trans 'Durante' %}</dt>
        <dd><span>{{medicine.months}} meses</span></dd>

        <dt>{% trans 'Posología' %}</dt>
        <dd><span>{{medicine.posology}} (mg/día)</span></dd>
    </dl>
