{% load i18n %}

<table class="table-striped table">
{% for medicine in medicines.object_list %}
  {% if not medicine.is_active and not medicine.is_previous %}
  <tr id="{{medicine.id}}" class="medicine">
    <td><em>{{medicine.created_at|date:'d/M/Y'}}</em></td>
    <td><em>{{medicine.date|date:'d/M/Y'}}</em></td>
    <td><strong>{{medicine.component}}</strong></td>
    <td>{{medicine.posology}} mg/día</td>
  </tr>
  {% endif %}
{% endfor %}
</table>


{% if medicines.paginator.num_pages > 1 %}
  <div id="medicine-paginator" class="pagination pagination-centered">
    <ul class="pagination">
      {% if medicines.has_previous %}
        <li><a href="{% url consulting_get_medicines filter_option=filter_option id_patient=patient_user.id %}?page={{ medicines.previous_page_number }}">←</a></li>
      {% else %}
        <li class="disabled"><a>←</a></li>
      {% endif %}
       {% for p in medicines.paginator.page_range %}
         <li {% if p = medicines.number %}class="disabled"{% endif %}><a href="{% url consulting_get_medicines filter_option=filter_option id_patient=patient_user.id %}?page={{p}}">{{p}}</a></li>
      {% endfor %}
      {% if medicines.has_next %}
        <li><a href="{% url consulting_get_medicines filter_option=filter_option id_patient=patient_user.id %}?page={{ medicines.next_page_number }}">→</a></li>
      {% else %}
        <li class="disabled"><a>→</a></li>
      {% endif %}
    </ul>
  </div>          
{% endif %}

