{% load i18n %}

<table class="table-striped table">
  <thead>
    <tr>
      <th>{% trans 'Inicio' %}</th>
      <th>{% trans 'Fin' %}</th>
      <th>{% trans 'Componente/Fármaco' %}</th>
      <th>{% trans 'Posología' %}</th>
      <th>{% trans 'Dosificación' %}</th>
    </tr>
  </thead>
  <tbody>
{% for medicine in medicines.object_list %}
  {% if not medicine.is_active and not medicine.is_previous %}
  <tr id="{{medicine.id}}" class="medicine">
    <td><em>{{medicine.created_at|date:'d/M/Y'}}</em></td>
    <td><em>{{medicine.date|date:'d/M/Y'}}</em></td>
    <td><strong>{{medicine.component}}</strong></td>
    <td>{{medicine.posology|floatformat:"-4" }} mg/día</td>
    <td>{{medicine.dosification}}</td>
  </tr>
  {% endif %}
{% endfor %}
</tbody>
</table>
<div>
  <p style="text-align: right; margin: 5px 20px" class="muted">{% trans 'Elementos mostrados' %}: <em>{{medicines.start_index}} -  {{medicines.end_index}} {% trans 'de' %} {{medicines.paginator.count}}</em></p>
</div>

{% if medicines.paginator.num_pages > 1 %}
  <div id="medicine-paginator2" class="pagination pagination-centered">
    <ul class="pagination">
      {% if medicines.has_previous %}
        <li><a href="{% url consulting_get_medicines filter_option=filter_option id_patient=patient_user.id %}?page={{ medicines.previous_page_number }}">←</a></li>
      {% else %}
        <li class="disabled"><a>←</a></li>
      {% endif %}
       {% for p in medicines.paginator.page_range %}
         <li {% if p = medicines.number %}class="disabled"{% endif %}><a href="{% url consulting_get_medicines filter_option=filter_option id_patient=patient_user.id %}?page={{p}}">{{p}}</a></li>
      {% endfor %}
      {% if medicines.has_next %}
        <li><a href="{% url consulting_get_medicines filter_option=filter_option id_patient=patient_user.id %}?page={{ medicines.next_page_number }}">→</a></li>
      {% else %}
        <li class="disabled"><a>→</a></li>
      {% endif %}
    </ul>
  </div>          
{% endif %}

