{% load i18n%}
<script type="text/javascript">
    $('.medicine').each(function(){
      $(this).on("click", function(){ 
          var medicine_id = $(this).attr("id");

          $(this).css("background", "#D9EDF7").siblings().removeAttr("style")

          $('#overwrite').load(
                '{% url consulting_detail_medicine_pm %}',
                {'medicine_id': medicine_id,
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()});
          });
    });
    $('.remove_medicine').each(function(){
        $(this).on("click", function(){ 
                            var id = $(this).attr("id");
                            $('#medicine_id').val(id);     
                        });      
    });
</script>
{% if medicines.object_list %}
<div id="medicine-paginator" class="pagination pagination-centered">
  <ul class="pagination">
    {% if medicines.has_previous %}
      <li><a href="?page={{ medicines.previous_page_number }}">←</a></li>
    {% else %}
      <li class="disabled"><a>←</a></li>
    {% endif %}

    {% if medicines.has_next %}
      <li><a href="?page={{ medicines.next_page_number }}">→</a></li>
    {% else %}
      <li class="disabled"><a>→</a></li>
    {% endif %}
  </ul>
</div>                        
<table id="list_medicine" class="table table-bordered table-condensed">  
  <thead>
    <tr>            
      <th style="text-align:center;">
        {% trans 'FECHA' %}
      </th>
      <th style="text-align:center;">
        {% trans 'Fármaco' %}
      </th>
      <th></th>                
    </tr>
  </thead>        
  <tbody>                  
    {% for medicine in medicines.object_list %}
      <tr id="{{medicine.id}}" class="medicine">
        <td style="text-align:center;">{{medicine.date}}</td>
        <td style="text-align:center;">{{medicine.component}}</td>                      
        <td>                      
          <a id="{{medicine.id}}" class="icon-trash remove_medicine" data-toggle="modal" href="#check_remove_medicine"></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>             
<div id="overwrite"></div>                                         
{% else %}
    <div class="alert alert-info">{% trans "No hay Fármacos" %}</div>
{% endif %}