{% load i18n %}

<table class="table-striped table">
{% for medicine in medicines.object_list %}
  {% if medicine.is_active and not medicine.is_previous %}
  <tr id="{{medicine.id}}" class="medicine">
    <td><em>{{medicine.created_at|date:'d/M/Y'}}</em></td>
    <td><strong>{{medicine.component}}</strong></td>
    <td>{{medicine.posology}} mg/día</td>
    <td>{{medicine.dosification}}</td>
     <td><a href="#" id="{{medicine.id}}"  data-toggle="modal" data-target="#check_stop_medicine" class="stop_medicine"><i class="icon-stop"></i></a></td>
  </tr>
  {% endif %}
{% endfor %}
</table>
<div>
  <p style="text-align: right; margin: 5px 20px" class="muted">{% trans 'Elementos mostrados' %}: <em>{{medicines.start_index}} -  {{medicines.end_index}} {% trans 'de' %} {{medicines.paginator.count}}</em></p>
</div>
<a class="btn btn-block btn-primary" data-toggle="modal" data-target="#modal_medicament" href="{% if appointment %}{% url consulting_add_medicine action='prescribe' id_appointment=appointment.id %}{% else %}{% url consulting_add_medicine action='prescribe' %}{% endif %}">{% trans 'Prescribir nuevo fármaco' %}</a>

{% if medicines.paginator.num_pages > 1 %}
  <div id="medicine-paginator1" class="pagination pagination-centered">
    <ul class="pagination">
      {% if medicines.has_previous %}
        <li><a href="{% url consulting_get_medicines filter_option=filter_option id_patient=patient_user.id %}?page={{ medicines.previous_page_number }}">←</a></li>
      {% else %}
        <li class="disabled"><a>←</a></li>
      {% endif %}
      {% for p in medicines.paginator.page_range %}
         <li {% if p = medicines.number %}class="disabled"{% endif %}><a href="{% url consulting_get_medicines filter_option=filter_option id_patient=patient_user.id %}?page={{p}}">{{p}}</a></li>
      {% endfor %}
      {% if medicines.has_next %}
        <li><a href="{% url consulting_get_medicines filter_option=filter_option id_patient=patient_user.id %}?page={{ medicines.next_page_number }}">→</a></li>
      {% else %}
        <li class="disabled"><a>→</a></li>
      {% endif %}
    </ul>
  </div>     
{% endif %}



<div id="check_stop_medicine" class="modal hide fade" style="display: block;">
  <input id="medicine_id" type="hidden">
  <div class="modal-header">
      <button class="close" data-dismiss="modal">
        ×
      </button>
      <h3>Modificar Prescripción</h3>
  </div>
  <div class="modal-body">
      <p>
        {% trans '¿Está seguro que quiere cancelar el tratamiento de este fármaco?' %}
      </p>
  </div>
  <div class="modal-footer">
    <a id="yes_stop" data-dismiss="modal" href="#" class="btn">Sí</a>
    <a data-dismiss="modal" href="#" class="btn btn-primary">No</a>
  </div>
</div>