{% load i18n%}
<section>
  <div class="well">
    <form class="form-horizontal" id="form" action="{{request.path}}" method="post" accept-charset="utf-8">
      {% csrf_token %}
      {{form.component}}
                       
      <div class="control-group {% if form.kind_component.errors %}error{% endif %}">
        <label class="control-label">
          {{form.kind_component.label}}
        </label>
        <div class="controls without_text_decorator">
          {{form.kind_component}}
          {% if form.kind_component.errors %}
            {{ form.kind_component.errors }}
          {% endif %}
        </div>
      </div>
      <div class="control-group {% if form.searcher_component.errors %}error{% endif %}">
        <label class="control-label">
          {{form.searcher_component.label}}
        </label>
        <div class="controls">
          {{form.searcher_component}}
          {% if form.searcher_component.errors %}
            {{ form.searcher_component.errors }}
          {% endif %}
        </div>
      </div>
      {% if form.after_symptoms %}
      <div class="control-group {% if form.after_symptoms.errors %}error{% endif %}">
        <label class="control-label">
          {{form.after_symptoms.label}}
        </label>
        <div class="controls">
          {{form.after_symptoms}}
          {% if form.after_symptoms.errors %}
            {{ form.after_symptoms.errors }}
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% if form.months %}
      <div class="control-group {% if form.months.errors %}error{% endif %}">
        <label class="control-label">
          {{form.months.label}}
        </label>
        <div class="controls">
          {{form.months}}                    
          {% if form.months.errors %}
            {{ form.months.errors }}
          {% endif %}
        </div>
      </div>
      {% endif %}
      <div class="control-group {% if form.posology.errors %}error{% endif %}">
        <label class="control-label">
          {{form.posology.label}}
        </label>
        <div class="controls">
          {{form.posology}}
          {% if form.posology.errors %}
            {{ form.posology.errors }}
          {% endif %}
        </div>
      </div>
      {% if form.dosification %}
        <div class="control-group {% if form.dosification.errors %}error{% endif %}">
          <label class="control-label">
            {{form.dosification.label}}
          </label>
          <div class="controls">
            {{form.dosification}}                    
            {% if form.dosification.errors %}
              {{ form.dosification.errors }}
            {% endif %}
          </div>
        </div>
        {% endif %}
    </form>          
  </div>
</section>

<script type="text/javascript">
 //DISABLED searcher_component BY DEFAULT-->
  if($("input[type='radio']:checked").val() == undefined){
    $('#id_searcher_component').attr('disabled','disabled')
  }

  // ENABLED searcher_component WHEN CLICK SOME OF INPUT TYPE RADIO -->
  $('.radio_js').each(function(){
    $(this).on("click", function(){ 
      $('#id_searcher_component').removeAttr('disabled');     
    });      
  });     

  //LOOK FOR COMPONENT -->
  $("#id_searcher_component").autocomplete({
    source: function(request, response){
              $.ajax({
                  url: '{% url 'consulting_searcher_component' %}',
                  type:'POST',
                  data: { 
                      kind_component: $("input[type='radio']:checked").val(),
                      start: function() { return $("#id_searcher_component").val(); },
                      csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                  },
                  dataType: "json",
                  success: function(data){
                      response(data['components'])
                  }
              })
            },
    select: function(event, ui){
              $("#id_components").attr('value', ui.item.id);            
            }    
  });
</script>