{% extends "ui/app.html" %}

{% load i18n %}

{% block jquery_init %}
	setTimeout(function() {
		window.location = '{% url 'consulting_index' %}';
	}, 15000);
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>{% trans 'Restablecimiento de contraseña exitoso' %}</h1>
</div>  
<div class="alert alert-success alert-block">
	{% trans 'Le hemos enviado un correo electrónico con instrucciones para cambiar su contraseña a la dirección que nos ha suministrado. Debería recibirlo en breve.' %}
</div>
<br>
<a class="btn btn-primary pull-right" href="{% url 'consulting_index' %}">
	{% trans 'Volver' %}
</a>

{% endblock %}