{% extends "ui/app.html" %}

{% load i18n%}

{% block container %}
<div class="page-header">
    <h1>{% trans 'Cambiar contraseña' %}</h1>
</div>  
<section>
	<form class="form-horizontal hero-unit" id="form" action="." method="post" accept-charset="utf-8">
		{% csrf_token %}
		{% for field in form %}
		<div class="control-group {% if field.errors %}error{% endif %}">
          <label class="control-label">
            {{ field.label }}
          </label>
          <div class="controls">
            {{field}}
            {% for error in field.errors %}
              <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>

        </div>

        {% endfor %}
		<div class="center">
          <button type="submit" class="btn btn-primary btn-large">
            {% trans 'Aplicar cambios' %}
          </button>
        </div>
	</form>
</section>
{% endblock %}