{% extends "ui/app.html" %}

{% load i18n%}

{{ block body}}
<div class="container" style="padding-top:100px;">
      <div class="row" >
        <div class="span8 well">
        <!-- ERRORS -->

        <form class="form-horizontal" method="post" id="login-form" name="form" action="{% url register %}">
          {% csrf_token %}
          <fieldset>
              <legend>Login</legend>

              {{ form.errors }}
              {% if form.errors %}
                <div class="alert alert-error">
                  <a class="close" data-dismiss="alert">×</a>
                  <strong>{{form.errors}}</strong>
                </div>
              {% endif %}

              {% if form.username.errors %}
                <div class="control-group error">
                  <label for="inputError" class="control-label">{{form.username.label}}</label>
                  <div class="controls">
                    <input type="text" id="inputError">
                    {% for error in form.username.errors %}
                       <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="control-group">
                  <label for="focusedInput" class="control-label">{{form.username.label}}</label>
                  <div class="controls">
                    <input type="text" id="focusedInput" class="input-xlarge focused">
                  </div>
                </div>
              {% endif %}

              {% if form.password.errors %}
                <div class="control-group error">
                  <label for="inputError" class="control-label">{{form.password.label}}</label>
                  <div class="controls">
                    <input type="text" id="inputError">
                    {% for error in form.password.errors %}
                       <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="control-group">
                  <label for="focusedInput" class="control-label">{{form.password.label}}</label>
                  <div class="controls">
                    <input type="text" id="focusedInput" class="input-xlarge focused">
                  </div>
                </div>
              {% endif %}

        </div>
      </div>
    </div>
{{ endblock }}
