{% extends "cal/includes/base.html" %}

{% load i18n messages userprofile %}

{% block right %}
  {% include "cal/includes/calendar.html" with doctor=doctor patient_user=patient_user %}
{% endblock %}

{% block container %}
<div class="page-header">
  <h1>{% trans 'Asignar cita' %}<small> {{ day }} {% trans "de" %} {{ mname }} {% trans "de" %} {{ year }}</small>
    <div class="btn-group pull-right">
      <a class="btn btn-info" href="{% if patient_user %}{% url cal.views.day year month day patient_user.id %}{% else %}{% url cal.views.doctor_day doctor.id year month day %}{% endif %}">
      <i class="icon-arrow-left icon-white"></i>
      {% trans 'Volver' %}
      </a>
    </div>
  </h1>
</div>


{% if request.user.get_profile.is_administrative %}
<div class="well">
  <h4>{{ doctor.get_profile|name_with_title}}</h4>
</div>
{% endif %}
{% if patient_user %}
<div class="well">
  <h4>{% trans "Paciente" %}: {{ patient_user.get_profile.get_full_name }}</h4>
</div>
{% endif %}

{% if form %}
<div class="well">
<form id="appform" class="form-horizontal" method="post" action="{% if patient_user %}{% url cal.add year month day patient_user.id %}{% else %}{% url cal.add year month day doctor.id%}{% endif %}">{% csrf_token %}

  <fieldset>
      {% if not_available_error %}
        <div class="alert alert-error">
            <strong>{% trans '¡Error!' %}</strong>
            {{ error_msg|escape }}
            {% if conflicts %}
              <ul>
                {% for c in conflicts %}
                  <li>{{c.date}} :: {{c.start_time|time}}-{{c.end_time|time}}</li>
                {% endfor %}
              </ul>
            {% endif %}
        </div>
      {% endif %}
      {% if successful_check %}
        <div class="alert alert-success">
            <strong>{% trans '¡Bien!' %}</strong>
            {{ error_msg|escape }}
        </div>
      {% endif %}

      {% if form.non_field_errors  %}
        <div class="alert alert-error">
            {% for error in form.non_field_errors %}
                <strong>{% trans '¡Error!' %}</strong>
                {{ error|escape }}
            {% endfor %}
        </div>
      {% endif %}

      <!-- EVENT_TYPE -->
    {% if form.app_type.errors %}
      <div class="control-group error">
        <label for="id_app_type" class="control-label">{{form.app_type.label}}</label>
        <div class="controls">
          <div class="input-prepend span9">
            <span class="add-on"><a href="{% url cal.add_slot_type %}?next={{request.path}}" rel="tooltip" data-title="{% trans 'Crear nuevo tipo' %}"><i class="icon-plus-sign"></i></a></span>
            {{ form.app_type }}
          </div>
          {% for error in form.app_type.errors %}
             <span class="help-inline">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="control-group">
        <label for="id_event_type" class="control-label">{{form.app_type.label}}</label>
        <div class="controls">
          <div class="input-prepend span9">
            <span class="add-on"><a href="{% url cal.add_slot_type %}?next={{request.path}}" rel="tooltip" data-title="{% trans 'Crear nuevo tipo' %}"><i class="icon-plus-sign"></i></a></span>
            {{ form.app_type }}
          </div>
        </div>
      </div>
    {% endif %}
      <!-- END EVENT_TYPE -->
      
      <div class="control-group">
        <label for="id_event_type" class="control-label">{{form.notify.label}}</label>
        <div class="controls">
          {{ form.notify }}
          <em class="text-info" style="display: inline"> * {{  form.notify.help_text }}</em>
        </div>
      </div>

      <!-- STATUS -->
        {% if form.status.errors %}
          <div class="control-group error">
            <label for="id_status" class="control-label">{{form.status.label}}</label>
            <div class="controls">
              {{ form.status }}
              {% for error in form.status.errors %}
                 <span class="help-inline">{{ error|escape }}</span>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <label for="id_status" class="control-label">{{form.status.label}}</label>
            <div class="controls">
              {{ form.status }}
            </div>
          </div>
        {% endif %}
        <!-- END STATUS -->
      <!-- START_TIME -->
      {% if form.start_time.errors %}
        <div class="control-group error">
          <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.start_time }}
            </div>
            {% for error in form.start_time.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
          <div class="controls">
             <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.start_time }}
            </div>
          </div>
        </div>
      {% endif %}
      <!-- END START_TIME -->

      <!-- END_TIME -->
      {% if form.end_time.errors %}
        <div class="control-group error">
          <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.end_time }}
            </div>
            {% for error in form.end_time.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
          <div class="controls">
           <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.end_time }}
            </div>
          </div>
        </div>
      {% endif %}
      <!-- END END_TIME -->

      <!-- DESCRIPTION -->
      {% if form.description.errors %}
        <div class="control-group error">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
            {% for error in form.description.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
          </div>
        </div>
      {% endif %}
      <!-- END DESCRIPTION -->
      {% if scheduler %}
        <hr>
        <div class="center">
          <div>
            Rerservar 
            {% if scheduler.number.errors %}
              <span class="control-group error" style="display: inline-block">
            {% endif %}
            {{scheduler.number}}
            {% if scheduler.number.errors %}
              </span>
            {% endif %}
            citas como ésta cada
            {% if scheduler.period.errors %}
              <span class="control-group error" style="display: inline-block">
            {% endif %}
            {{scheduler.period}}
            {% if scheduler.period.errors %}
              </span>
            {% endif %}
            {{scheduler.interval}} 
            <a class="btn btn-small btn-info" href="#" id="check_schedule">
              {% trans 'COMPROBAR' %}
            </a>
          </div>
          <div class="text-info" style="max-width:500px; margin: 0 auto; text-align: justify">
            {% trans 'Seleccione intervalos de SEMANAS para que la cita se reserve en el mismo día de la semana. En caso contrario la cita se creará en el mismo día del mes sin diferenciar entre días hábiles y/o festivos' %}
          </div>
        </div>
        <hr>
        <br>
      {% endif %}

      <div class="center">
        <button class="btn btn-large btn-primary" type="submit">
          <i class="icon-ok-sign icon-white"></i>
          {% trans 'Guardar' %}</button>
      </div>

  </fieldset>
</form>

</div>
{% else %}
<div class="center">
  <span class="alert alert-error alert-block">{% trans 'No puede asignar una cita en un día pasado.' %}</span>
</div>
{% endif %}

{% endblock %}

{% block jquery_init %}
  $('#id_date').datepicker({'format':'dd/mm/yyyy', weekStart:1});
  var startPicker = $('#id_start_time').timepicker({'showMeridian': false, 'defaultTime': '{% if  form.start_time.value %}{{ form.start_time.value|time:"H:i" }}{% else %}08:00{% endif %}' });
  var endPicker = $('#id_end_time').timepicker({'showMeridian': false, 'defaultTime': '{{ form.end_time.value|time:"H:i" }}'});
  var app_type_container = $('#id_app_type');
  $('#id_app_type').on("change", update_end_time);
  $('#id_start_time').on("change", update_end_time);

  function update_end_time(){
    if (app_type_container.val()){
      var matches = app_type_container.find(':selected').text().match(/(\d+)/);
      var end_minutes = (parseInt($('#id_start_time').val().split(':')[1], 10)+parseInt(matches[0], 10))%60;
      var end_hour = parseInt($('#id_start_time').val().split(':')[0], 10)+Math.floor((parseInt($('#id_start_time').val().split(':')[1], 10)+parseInt(matches[0], 10))/60);
      if (end_minutes < 10){
        end_minutes='0'+end_minutes;
      }
      if (end_hour < 10){
        end_hour='0'+end_hour;
      }
      $('#id_end_time').val(end_hour+':'+end_minutes);
    }
    else {
      $('#id_end_time').removeClass('disabled');
      $('#id_end_time').val($('#id_start_time').val());
    }
  };

  $('#check_schedule').on('click', function(){
    $('#appform').attr('action', "{% if patient_user %}{% url cal.check year month day patient_user.id %}{% else %}{% url cal.check year month day doctor.id%}{% endif %}").submit();
  });
{% endblock %}
