{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Appointments list' %}{% endblock %}

{% block right %}
  {% include "cal/includes/calendar.html" %}
{% endblock %}

{% block container %}
  <div class="page-header">
    <h1>{% trans 'Asignar cita' %}
            <div class="btn-group pull-right">
                  <a class="btn btn-info" href= "{%if request.user.get_profile.is_doctor%}{%url cal.views.day year month day%}{%else%}{%url cal.views.doctor_day year month day doctor.id%}{%endif%}">
                  <i class="icon-arrow-left icon-white"></i>
                  {% trans 'Volver' %}
                </a>
            </div>
        </h1>
  </div>

<div class="well">
  <p>Dr. {{ doctor.get_profile.get_full_name }}</p>
</div>
<div class="well">
  <p>Paciente {{ patient.get_profile.get_full_name }}</p>
</div>

<div>

<form class="form-horizontal well" method="post" action="{% url cal.add year month day patient.id doctor.id %}">{% csrf_token %}
  <legend>{% trans 'New Appointment' %} {{ day }} {% trans "of" %} {{ mname }} {% trans "of" %} {{ year }}</legend>
  <fieldset>
      {% if not_available_error %}
        <div class="alert alert-error">
            <strong>{% trans '¡Error!' %}</strong>
            {{ error_msg|escape }}
        </div>
      {% endif %}

      {% if  form.non_field_errors  %}
        <div class="alert alert-error">
            {% for error in form.non_field_errors %}
                <strong>{% trans '¡Error!' %}</strong>
                {{ error|escape }}
            {% endfor %}
        </div>
      {% endif %}

      <!-- EVENT_TYPE -->
      {% if form.app_type.errors %}
        <div class="control-group error">
          <label for="id_event_type" class="control-label">{{form.app_type.label}}</label>
          <div class="controls">
            {{ form.app_type }}
            {% for error in form.app_type.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_event_type" class="control-label">{{form.app_type.label}}</label>
          <div class="controls">
            {{ form.app_type }}
          </div>
        </div>
      {% endif %}
      <!-- END EVENT_TYPE -->

      <!-- START_TIME -->
      {% if form.start_time.errors %}
        <div class="control-group error">
          <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
          <div class="controls">
            {{ form.start_time }}
            <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
            {% for error in form.start_time.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
          <div class="controls">
              {{ form.start_time }}
              <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
          </div>
        </div>
      {% endif %}
      <!-- END START_TIME -->

      <!-- END_TIME -->
      {% if form.end_time.errors %}
        <div class="control-group error">
          <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
          <div class="controls">
            {{ form.end_time }}
            <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
            {% for error in form.end_time.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
          <div class="controls">
            {{ form.end_time }}
            <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
          </div>
        </div>
      {% endif %}
      <!-- END END_TIME -->

      <!-- DESCRIPTION -->
      {% if form.description.errors %}
        <div class="control-group error">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
            {% for error in form.description.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
          </div>
        </div>
      {% endif %}
      <!-- END DESCRIPTION -->

      <p class="center">
        <button class="btn btn-large btn-primary" type="submit">
          <i class="icon-play icon-white"></i>
          {% trans 'Add' %}</button>
      </p>

  </fieldset>
</form>

</div>

{% endblock %}

{% block jquery_init %}
  $('#id_date').datepicker({'format':'dd/mm/yyyy'});
  $('#id_start_time').timepicker({'showMeridian': false, 'defaultTime': '{% if  form.start_time.value %}{{ form.start_time.value|time:"H:i" }}{% else %}08:00{% endif %}' });
  $('#id_end_time').timepicker({'showMeridian': false, 'defaultTime': '{{ form.end_time.value|time:"H:i" }}'});
  var app_type_container = $('#id_app_type');
  $('#id_app_type').on("change", update_end_time);
  $('#id_start_time').on("change", update_end_time);
  function update_end_time(){
    if (app_type_container.val()){
      var matches = app_type_container.find(':selected').text().match(/(\d+)/);
      var end_minutes = (parseInt($('#id_start_time').val().split(':')[1], 10)+parseInt(matches[0], 10))%60;
      var end_hour = parseInt($('#id_start_time').val().split(':')[0], 10)+Math.floor((parseInt($('#id_start_time').val().split(':')[1], 10)+parseInt(matches[0], 10))/60);
      if (end_minutes < 10){
        end_minutes='0'+end_minutes;
      }
      if (end_hour < 10){
        end_hour='0'+end_hour;
      }
      $('#id_end_time').val(end_hour+':'+end_minutes);
    }
    else {
      $('#id_end_time').removeClass('disabled');
    }
  };
{% endblock %}
