{% extends "cal/includes/base.html" %}

{% load i18n %}

{% block left %}
    {% include "cal/includes/nav_bar_cal.html" %}
{% endblock  %}

{% block container %}
<legend>{% trans 'Selección de médico' %}</legend>

<div class="hero-unit center">
    <form class="form-horizontal" method="post" action="{% url cal.views.doctor_calendar year month %}">{% csrf_token %}
        <!-- DOCTOR -->
          <div class="control-group {% if form.doctor.errors %}error{% endif %}">
            <label class="control-label" for="id_doctor">{% trans 'Doctor:' %}</label>
            <div class="controls">
              {{ form.doctor }}
                {% if form.doctor.errors %}
                  {% for error in form.doctor.errors %}
                     <span class="help-inline">{{ error|escape }}</span>
                  {% endfor %}
                {% endif %}
            </div>
          </div>
        <!-- END DOCTOR -->
         <button type="submit" class="btn btn-primary btn-large">Continuar</button>
    </form>
  </div>
{% endblock container %}
