{% extends "cal/includes/base.html" %}

{% load i18n %}

{% block container %}
<div class="page-header">
  <h3>{% trans "Selección de médico" %}</h3>
</div>

<div class="hero-unit center">
    <form class="form-horizontal" method="post" action="{{request.path}}">
      {% csrf_token %}
        <!-- DOCTOR -->
          <div class="control-group {% if form.doctor.errors %}error{% endif %}">
            <label class="control-label" for="id_doctor">{% trans 'Doctor/a:' %}</label>
            <div class="controls">
              {{ form.doctor }}
                {% if form.doctor.errors %}
                  {% for error in form.doctor.errors %}
                     <span class="help-inline">{{ error|escape }}</span>
                  {% endfor %}
                {% endif %}
            </div>
          </div>
        <!-- END DOCTOR -->
         <button type="submit" class="btn btn-primary btn-large">Continuar</button>
    </form>
  </div>
{% endblock container %}
