{% load i18n %}

<h4>{{ mname }} {{ year }}</h4>

    <div class="month">
        <table id="calendar" class="">
            <thead>
                <tr>
                    <th class="empty">{% trans "Mon" %}</th>
                    <th class="empty">{% trans "Tue" %}</th>
                    <th class="empty">{% trans "Wed" %}</th>
                    <th class="empty">{% trans "Thu" %}</th>
                    <th class="empty">{% trans "Fri" %}</th>
                    <th class="empty">{% trans "Sat" %}</th>
                    <th class="empty">{% trans "Sun" %}</th>
                </tr>
            </thead>

            <tbody>
                {% for week in month_days %}
                    <tr>
                    {% for day, entries, current in week %}

                        <!-- TD style: empty | day | current; onClick handler and highlight  -->
                        <td class= {% if day == 0 %}"empty"{% endif %}
                        {% if day != 0 and not current %}"day"{% endif %}
                        {% if day != 0 and current %}"current"{% endif %}
                        {% if day != 0 %}
                            onMouseOver="this.bgColor='#eeeeee';"
                            onMouseOut="this.bgColor='white';"
                        {% endif %} >

                        <!-- Day number and entry snippets -->
                        {% if day != 0 %}
                            <a href="{% url cal.views.doctor_day year month day doctor.id %}">
                                <span class={% if current %}"label label-info"{% else %}""{% endif %}>{{ day }}</span>
                                {% if entries.count > 0 %}
                                    <i class="icon-list"></i>
                                {% endif %}
                            </a>
                        {% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>

                <tr>
                    <th id="last" class="sel" colspan="2">
                        <div class="arrow">
                            <a href= "{% url cal.views.doctor_month year month doctor.id "prev" %}">&lt;&lt; Prev</a>
                        </div>
                    </th>
                    <th id="current" class="sel" colspan="3"></th>
                    <th id="next" class="sel" colspan="2">
                        <div class="arrow">
                            <a href= "{% url cal.views.doctor_month year month doctor.id "next" %}">Next &gt;&gt;</a>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>

        <div class="clear"></div>
    </div>
