{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block right %}
  {% include "cal/includes/calendar.html" %}
{% endblock %}

{% block container %}
<div class="page-header">
  <div class="pagination" style="display: inline;">
    <ul>
        <li class="previous">
            <a href= "javascript:prev_day();"><i class="icon-arrow-left"></i></a>
        </li>
        <li>
          <a href="#"><h5 style="display: inline">{{ day }} {% trans "de" %} {{ mname }} {% trans "de" %} {{ year }}</h5></a>
        </li>
        <li class="next">
            <a href= "javascript:next_day();" class="pull-right"><i class="icon-arrow-right"></i></a>
        </li>
    </ul>
  </div>
  <a class="btn btn-info pull-right" style="margin: 5px 0" href="{% url cal.add year month day doctor.id %}"><i class="icon-pencil icon-white"></i> {% trans "Nueva cita" %}</a>
</div>
<div>


  {% if events.object_list.count > 0 %}


    <table id="events_list" class="table table-striped">
      <thead>
          <tr>
            <th>{% trans "Inicio" %}</th>
            <th>{% trans "Final" %}</th>
            <th>{% trans "Paciente" %}</th>
            <th>{% trans "Tipo de cita" %}</th>
            <th>{% trans "Notas" %}</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
        {% for event in events.object_list %}
          {% include "cal/includes/appointment_patient.html" %}
        {% endfor %}
      </tbody>
    </table>
    {% include 'ui/includes/pagination_bar.html' with objects=events %}
    <div id="preview"></div>
  {% else %}
    <div class="alert alert-info alert-block">{% trans "No hay citas concertadas para este día" %}</div>
  {% endif %}
</div>
{% endblock %}

{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/loading.gif' alt='loading...'/>";

$('table tbody tr').live('click', function(event){
  var id = $(this).attr('data-msg');
  if(id){
    $('table').hide();
    $('#message-paginator').hide();
    window.location.href = '/calendar/app/edit/' + id;
  }
});
{% endblock %}
