{% load i18n %}

{% regroup doctor_preferences by get_weekday_display as preferences_by_weekday %}


{% if doctor_preferences %}
<br />

<legend><h4>Prefencias del médico</h4></legend>

<div class="well" style="max-height: 275px; overflow-y: auto;">
    <dl>
    {% for weekday in preferences_by_weekday %}
        <dt>{{ weekday.grouper }}</dt>
              {% for slot in weekday.list %}
                <dd>{{ slot.slot_type }}
                        {{ slot.start_time|time:"H:i" }} - {{ slot.end_time|time:"H:i" }}
                    </dd>
              {% endfor %}
    {% endfor %}
    </dl>
</div>
{% endif %}


