{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Appointments list' %}{% endblock %}

{% block right %}
  {% include "cal/includes/calendar.html" %}
{% endblock %}

{% block container %}

<a class="btn btn-primary" href="{%if request.user.get_profile.is_doctor%}{%url cal.views.day year month day%}{%else%}{%url cal.views.doctor_day year month day doctor.id%}{%endif%}">
  <i class="icon-arrow-left icon-white"></i>
  {% trans 'Back' %}
</a>

<p></p>

{% if vacations %}
  <div class="alert alert-error">
    <p>
      {% if request.user.get_profile.is_doctor %}
        {% trans "You can not set an appointment if you have an event or vacation day" %}
      {% else %}
        {% trans "You can not set an appointment if the doctor has an event or vacation day" %}
      {% endif %}
    </p>
  </div>
{% else %}
  <div class="well">
    <p>Dr. {{ doctor.get_profile.name }} {{ doctor.get_profile.first_surname }}</p>
  </div>
  <div class="well">
    <p>{% trans "Paciente:" %} {{ patient.get_profile.name }} {{ patient.get_profile.first_surname }}</p>
  </div>

  <div>
  <form class="form-horizontal well" method="post" action="{% url cal.edit event.id patient.id doctor.id %}">{% csrf_token %}
    <legend>{% trans 'Edit Appointment' %} {{ day }} {% trans "of" %} {{ mname }} {% trans "of" %} {{ year }}</legend>
    <fieldset>
        {% if not_available_error %}
          <div class="alert alert-error">
              <strong>{% trans '¡Error!' %}</strong>
              {{ error_msg|escape }}
          </div>
        {% endif %}

        {% if  form.non_field_errors  %}
          <div class="alert alert-error">
              {% for error in form.non_field_errors %}
                  <strong>{% trans '¡Error!' %}</strong>
                  {{ error|escape }}
              {% endfor %}
          </div>
        {% endif %}

        <!-- SLOT_TYPE -->
        {% if form.slot_type.errors %}
          <div class="control-group error">
            <label for="id_app_type" class="control-label">{{form.app_type.label}}</label>
            <div class="controls">
              {{ form.app_type }}
              {% for error in form.app_type.errors %}
                 <span class="help-inline">{{ error|escape }}</span>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <label for="id_app_type" class="control-label">{{form.app_type.label}}</label>
            <div class="controls">
              {{ form.app_type }}
            </div>
          </div>
        {% endif %}
        <!-- END SLOT_TYPE -->

        <!-- START_TIME -->
        {% if form.start_time.errors %}
          <div class="control-group error">
            <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
            <div class="controls">
              {{ form.start_time }}
              <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
              {% for error in form.start_time.errors %}
                 <span class="help-inline">{{ error|escape }}</span>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
            <div class="controls">
              {{ form.start_time }}
              <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
            </div>
          </div>
        {% endif %}
        <!-- END START_TIME -->

        <!-- END_TIME -->
        {% if form.end_time.errors %}
          <div class="control-group error">
            <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
            <div class="controls">
              {{ form.end_time }}
              <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
              {% for error in form.end_time.errors %}
                 <span class="help-inline">{{ error|escape }}</span>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
            <div class="controls">
              {{ form.end_time }}
              <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-time"></i>
            </div>
          </div>
        {% endif %}
        <!-- END END_TIME -->

        <!-- NOTE -->
        {% if form.description.errors %}
          <div class="control-group error">
            <label for="id_description" class="control-label">{{form.description.label}}</label>
            <div class="controls">
              {{ form.description }}
              {% for error in form.description.errors %}
                 <span class="help-inline">{{ error|escape }}</span>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <label for="id_description" class="control-label">{{form.description.label}}</label>
            <div class="controls">
              {{ form.description }}
            </div>
          </div>
        {% endif %}
        <!-- END NOTE -->

        <p class="center">
          <a id="remove-event" class="btn btn-large btn-danger" >
            <i class="icon-minus icon-white"></i>
            {% trans 'Delete' %}
          </a>
          <button class="btn btn-large btn-primary" type="submit">
            <i class="icon-play icon-white"></i>
            {% trans 'Save' %}</button>
        </p>

    </fieldset>
  </form>


  </div>

  <div id="modal-screen" class="modal hide">
    <div class="modal-header">
      <h3>{% trans 'Delete Event' %}</h3>
    </div>
    <div class="modal-body">
      <p>"{% trans 'You are going to delete an appointment. Are you sure?' %}"</p>
    </div>
    <div class="modal-footer">
      <a id="confirm-delete" class="btn" data-startmsg="{% trans 'Yes' %}" data-loadingmsg="{% trans 'Removing ... ' %}">{% trans 'Yes' %}</a>
      <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans 'No' %}</a>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block jquery_init %}

  $('#id_date').datepicker({'format':'dd/mm/yyyy'});
  $('#id_start_time').timepicker({'showMeridian': false, 'defaultTime': '{{ form.start_time.value|time:"H:i" }}' });
  $('#id_end_time').timepicker({'showMeridian': false, 'defaultTime': '{{ form.end_time.value|time:"H:i" }}' });

  $('#remove-event').live('click', function(event){
    $('#modal-screen').modal({
      'backdrop':'static',
      'keyboard':false,
    });
  });

  $('#confirm-delete').live('click', function(event){
    event.preventDefault();
    $(this).html($(this).attr('data-loadingmsg') + '<i class="icon-fire"></i>');

    $(this).attr('disabled', true);
    $(this).siblings().attr('disabled', true);
    $(this).siblings().attr('data-dismiss', 'static');

    var json = { app_id: {{ event.id }} };

    $.ajax({
      url: '{% url cal.delete %}',
      type: 'DELETE',
      dataType: 'json',
      contentType: "application/json",
      data: JSON.stringify(json),
      processData: false,
      success:function(data) {
                if(data.action){
                  window.location.href = '{% url cal.views.doctor_day year month day doctor.id %}';
                }
              }
    });

});

{% endblock %}
