{% extends "cal/includes/base.html" %}

{% load i18n messages userprofile %}

{% block right %}
  {% include "cal/includes/calendar.html" with doctor=doctor patient_user=patient_user %}
{% endblock %}


{% block container %}
<div class="page-header">
  <h1>{% trans 'Editar cita' %} <small>{{ day }} {% trans "de" %} {{ mname }} {% trans "de" %} {{ year }}</small>
      <div class="btn-group pull-right">
        <a class="btn btn-primary" href="javascript:history.back();">
          <i class="icon-arrow-left icon-white"></i>
          {% trans 'Volver' %}
        </a>
      </div>
  </h1>
</div>

{% if vacations %}
  <div class="alert alert-error">
    <p>
      {% if request.user.get_profile.is_doctor %}
        {% trans "No es posible crear una cita en un día de vacaciones." %}
      {% else %}
        {% trans "El doctor no está disponible este día." %}
      {% endif %}
      {% trans "Seleccione otro día distinto." %}
    </p>
  </div>
{% endif%}
  {% if request.user.get_profile.is_administrative %}
  <div class="well">
    <h4>{{ doctor.get_profile|name_with_title }}</h4>
  </div>
  {% endif %}
  {% if patient_user %}
  <div class="well">
    <h4>{% trans "Paciente:" %} {{ patient_user.get_profile.get_full_name }}</h4>
  </div>
  {% endif %}

<div class="well">
  <form class="form-horizontal" method="post" action="{{request.path}}">{% csrf_token %}
    
    <fieldset>
        {% if not_available_error %}
          <div class="alert alert-error">
              <strong>{% trans '¡Error!' %}</strong>
              {{ error_msg|escape }}
          </div>
        {% endif %}

        {% if  form.non_field_errors  %}
          <div class="alert alert-error">
              {% for error in form.non_field_errors %}
                  <strong>{% trans '¡Error!' %}</strong>
                  {{ error|escape }}
              {% endfor %}
          </div>
        {% endif %}

        <!-- SLOT_TYPE -->
        {% if form.app_type.errors %}
          <div class="control-group error">
            <label for="id_app_type" class="control-label">{{form.app_type.label}}</label>
            <div class="controls">
              <div class="input-prepend span9">
                <span class="add-on">
                  {% if request.user.get_profile.is_doctor %}
                  <a href="{% url cal.add_slot_type %}?next={{request.path}}" rel="tooltip" data-title="{% trans 'Crear nuevo tipo' %}"><i class="icon-plus-sign"></i></a>
                  {% endif %}
                </span>
                {{ form.app_type }}
              </div>
              {% for error in form.app_type.errors %}
                 <span class="help-inline">{{ error|escape }}</span>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <label for="id_event_type" class="control-label">{{form.app_type.label}}</label>
            <div class="controls">
              <div class="input-prepend span9">
                <span class="add-on">
                {% if request.user.get_profile.is_doctor %}
                  <a href="{% url cal.add_slot_type %}?next={{request.path}}" rel="tooltip" data-title="{% trans 'Crear nuevo tipo' %}"><i class="icon-plus-sign"></i></a>
                  {% endif %}
                </span>
                {{ form.app_type }}
              </div>
            </div>
          </div>
        {% endif %}
        <!-- END SLOT_TYPE -->

        <!-- STATUS -->
        {% if form.status.errors %}
          <div class="control-group error">
            <label for="id_status" class="control-label">{{form.status.label}}</label>
            <div class="controls">
              {{ form.status }}
              {% for error in form.status.errors %}
                 <span class="help-inline">{{ error|escape }}</span>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <label for="id_status" class="control-label">{{form.status.label}}</label>
            <div class="controls">
              {{ form.status }}
            </div>
          </div>
        {% endif %}
        <!-- END STATUS -->

        <!-- DATE -->
      {% if form.date.errors %}
        <div class="control-group error">
          <label for="id_date" class="control-label">{{form.date.label}}</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-calendar"></i></span>
              {{ form.date }}
            </div>
            {% for error in form.date.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_date" class="control-label">{{form.date.label}}</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-calendar"></i></span>
              {{ form.date }}
            </div>
          </div>
        </div>
      {% endif %}
      <!-- END DATE -->

        <!-- START_TIME -->
        {% if form.start_time.errors %}
          <div class="control-group error">
            <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
            <div class="controls">
              <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.start_time }}
            </div>
              {% for error in form.start_time.errors %}
                 <span class="help-inline">{{ error|escape }}</span>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <label for="id_start_time" class="control-label">{{form.start_time.label}}</label>
            <div class="controls">
              <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.start_time }}
            </div>
            </div>
          </div>
        {% endif %}
        <!-- END START_TIME -->

        <!-- END_TIME -->
        {% if form.end_time.errors %}
          <div class="control-group error">
            <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
            <div class="controls">
              <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.end_time }}
            </div>
              {% for error in form.end_time.errors %}
                 <span class="help-inline">{{ error|escape }}</span>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <label for="id_end_time" class="control-label">{{form.end_time.label}}</label>
            <div class="controls">
              <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              {{ form.end_time }}
            </div>
            </div>
          </div>
        {% endif %}
        <!-- END END_TIME -->

        <!-- NOTE -->
        {% if form.description.errors %}
          <div class="control-group error">
            <label for="id_description" class="control-label">{{form.description.label}}</label>
            <div class="controls">
              {{ form.description }}
              {% for error in form.description.errors %}
                 <span class="help-inline">{{ error|escape }}</span>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <label for="id_description" class="control-label">{{form.description.label}}</label>
            <div class="controls">
              {{ form.description }}
            </div>
          </div>
        {% endif %}
        <!-- END NOTE -->

        <div class="center">
          <a id="remove-event" class="btn btn-large btn-danger" >
            <i class="icon-remove-sign icon-white"></i>
            {% trans 'Eliminar' %}
          </a>
          <a class="btn btn-large btn-success" href="{% url cal.edit_payment event.id %}">
            <i class="icon-shopping-cart icon-white"></i>
            {% trans 'Registrar pago' %}
          </a>
          <button class="btn btn-large btn-primary" type="submit">
            <i class="icon-ok-sign icon-white"></i>
            {% trans 'Guardar cambios' %}</button>
          
        </div>

    </fieldset>
  </form>
</div>

<div id="modal-screen" class="modal hide">
  <div class="modal-header">
    <h3>{% trans 'Eliminar cita' %}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans 'Los cambios que va a realizar no se pueden deshacer. Si sólo desea anular la cita cambie su estado y guarde los cambios. ¿Está usted seguro de querer eliminar la cita?' %}</p>
  </div>
  <div class="modal-footer">
    <a id="confirm-delete" class="btn" data-startmsg="{% trans 'Yes' %}" data-loadingmsg="{% trans 'Removing ... ' %}">{% trans 'Sí' %}</a>
    <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans 'No' %}</a>
  </div>
</div>


{% endblock %}


{% block jquery_init %}
  $('#id_date').change(function(){
    var date = $(this).val().split("/");
    if(date.length==3){
    {% if patient_user %}
      $('#right_bar').load("/calendar/widget/this/"+date[2]+"/"+date[1]+"/"+date[0]+"/for/{{patient_user.id}}/");
    {% else %}
      $('#right_bar').load("/calendar/widget/this/"+date[2]+"/"+date[1]+"/"+date[0]+"/for/{{doctor.id}}/");
    {% endif %} 
    }   
  });

  $('#id_date').datepicker({'format':'dd/mm/yyyy', weekStart:1, language: 'es'});
  $('#id_start_time').timepicker({'showMeridian': false, 'defaultTime': '{% if  form.start_time.value %}{{ form.start_time.value|time:"H:i" }}{% else %}08:00{% endif %}' });
  $('#id_end_time').timepicker({'showMeridian': false, 'defaultTime': '{{ form.end_time.value|time:"H:i" }}'});
  var app_type_container = $('#id_app_type');
  $('#id_app_type').on("change", update_end_time);
  $('#id_start_time').on("change", update_end_time);

  function update_end_time(){
    if (app_type_container.val()){
      var matches = app_type_container.find(':selected').text().match(/(\d+)/);
      var end_minutes = (parseInt($('#id_start_time').val().split(':')[1], 10)+parseInt(matches[0], 10))%60;
      var end_hour = parseInt($('#id_start_time').val().split(':')[0], 10)+Math.floor((parseInt($('#id_start_time').val().split(':')[1], 10)+parseInt(matches[0], 10))/60);
      if (end_minutes < 10){
        end_minutes='0'+end_minutes;
      }
      if (end_hour < 10){
        end_hour='0'+end_hour;
      }
      $('#id_end_time').val(end_hour+':'+end_minutes);
    }
    else {
      $('#id_end_time').removeClass('disabled');
      $('#id_end_time').val($('#id_start_time').val());
    }
  };

  $('#remove-event').live('click', function(event){
    $('#modal-screen').modal({
      'backdrop':'static',
      'keyboard':false,
    });
  });

  $('#confirm-delete').live('click', function(event){
    event.preventDefault();
    $(this).html($(this).attr('data-loadingmsg') + '<i class="icon-fire"></i>');

    $(this).attr('disabled', true);
    $(this).siblings().attr('disabled', true);
    $(this).siblings().attr('data-dismiss', 'static');

    var json = { app_id: {{ event.id }} };

    $.ajax({
      url: '{% url cal.delete event.id %}',
      type: 'DELETE',
      dataType: 'json',
      contentType: "application/json",
      data: JSON.stringify(json),
      processData: false,
      success:function(data) {
                if(data.action){
                  back();
                }
              },
      complete: function() {
                $('#modal-screen').modal('hide');
              }
    });

});

{% endblock %}
