{% load i18n %}

<div class="well" style="height: 175px; overflow: auto;">
  <legend>{% trans "Free Slots" %}</legend>

  {% if free_intervals %}

    <table id="free-slots" class="table">
      <thead>
          <tr>
            <th>{% trans "Start Time" %}</th>
            <th>{% trans "End Time" %}</th>
            <th>{% trans "Duration (min)" %}</th>
          </tr>
      </thead>
      <tbody>
        {% for free_interval in free_intervals %}
          {% if free_interval.duration %}
            <tr>
              <td>{{ free_interval.start_time|time:"H:i" }}</td>
              <td>{{ free_interval.end_time|time:"H:i" }}</td>
              <td>{{ free_interval.duration }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    {% trans "All slots are free" %}
  {% endif %}
</div>
