{% load i18n %}

{% if free_intervals %}
<legend>{% trans "Huecos disponibles" %}</legend>
<div class="well" style="max-height: 200px; overflow: auto;">
  {% if free_intervals|length %}
    <table id="free-slots" class="table">
      <thead>
          <tr>
            <th>{% trans "Desde" %}</th>
            <th>{% trans "Hasta" %}</th>
            <th>{% trans "Libre" %}</th>
          </tr>
      </thead>
      <tbody>
        {% for free_interval in free_intervals %}
          {% if free_interval.duration %}
            <tr>
              <td>{{ free_interval.start_time|time:"H:i" }}</td>
              <td>{{ free_interval.end_time|time:"H:i" }}</td>
              <td>{{ free_interval.duration }} min</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    {% trans "Todos los huecos libres" %}
  {% endif %}
</div>
{% endif %}
