{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block right %}
  {% include "cal/includes/calendar.html" %}
{% endblock %}


{% block container %}

  <legend>{{ day }} {% trans "de" %} {{ mname }} {% trans "de " %} {{ year }}</legend>

  {% if vacations %}
    <div class="alert alert-error">
      <strong>Dr. {{ doctor.get_profile.name }} {{ doctor.get_profile.first_surname }}</strong> {% trans " no está disponible este día " %}
    </div>
  {% else %}
    <div class="well">
      <h4>Dr. {{ doctor.get_profile.name }} {{ doctor.get_profile.first_surname }}</h4>
    </div>

    {% if events.object_list.count > 0 %}


      <table id="events_list" class="table table-striped">
        <thead>
            <tr>
              <th>{% trans "Fecha" %}</th>
              <th>{% trans "Inicio" %}</th>
              <th>{% trans "Final" %}</th>
              <th>{% trans "Paciente" %}</th>
              <th>{% trans "Tipo de cita" %}</th>
              <th>{% trans "Notas" %}</th>
            </tr>
        </thead>
        <tbody>
          {% for event in events.object_list %}
            {% include "cal/app/appointment.html" %}
          {% endfor %}
        </tbody>
      </table>
       {% include 'ui/includes/pagination_bar.html' with objects=events %}

      <div id="preview"></div>
    {% else %}
      <div class="alert alert-info">{% trans "No hay citas concertadas para este día" %}</div>
    {% endif %}


  {% endif %}

{% endblock %}

{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/loading.gif' alt='loading...'/>";

$('table tbody tr').live('click', function(event){
  var id = $(this).attr('data-msg');
  var id_patient = $(this).attr('id');
  if(id){
    $('table').hide();
    $('#message-paginator').hide();
    <!-- window.location.href = '/calendar/app/edit/' +id+ '/' + {{ doctor.id }}; -->
    window.location.href = '/calendar/app/edit/' +id+ '/' + id_patient + '/{{ doctor.id }}';
  }
});
{% endblock %}
