{% extends "cal/includes/base.html" %}

{% load i18n%}


{% block container %}

<h1>{% trans 'Calendar' %}</h1>
<div class="">
    <ul class="pager">
        <li class="previous">
            <a href="{% url cal.views.main year|add:'-3' %}">&larr; Prev</a>
        </li>
        <li class="next">
            <a href="{% url cal.views.main year|add:'3' %}">Next &rarr;</a>
        </li>
    </ul>
<div>
<div class="row-fluid">
{% for year, months in years %}
    <div class="span3 well center">
        <h2 class="label label-info">{{ year }}</h2>
        <ul class="unstyled">
            {% for month in months %}
                {% if month.entry %}<b>{% endif %}
                <li>
                    <a class={% if month.current %}"label label-info"{% else %}""{% endif %}
                    href={% if request.user.get_profile.is_doctor %}
                            "{% url cal.views.day year month.n today %}"
                         {% else %}
                            "{% url cal.views.doctor_calendar year month.n %}"
                         {% endif %}>{{ month.name }}</a>
                    {% if request.user.get_profile.is_doctor %}
                        <a href="{% url cal.list_slot year month.n %}"><i class="icon-cog"></i></a>
                    {% endif %}
                </li>
            {% endfor %}

        </ul>
    </div>
{% endfor %}
</div>


{% endblock container %}
