{% extends "cal/includes/base.html" %}

{% load i18n %}

{% block left %}
    {% include "cal/includes/nav_bar_cal.html" %}
{% endblock  %}
 {%block container %}

    <legend>{% trans "Nueva Cita" %}</legend>

    <div class="hero-unit center">
      <p>{% trans 'In order to make an appointment, first you need to choose a doctor:' %}</p>

      <div class="">
        <form class="form-horizontal" method="post" action="{% url cal.select_doctor year month day id_patient %}">{% csrf_token %}
           <!-- DOCTOR -->
          <div class="control-group">
            <label class="control-label" for="id_doctor">{% trans 'Seleccione el médico para el que creará la cita:' %}</label>
            <div class="controls">
              {{ form.doctor }}
                {% if form.doctor.errors %}
                  {% for error in form.doctor.errors %}
                     <span class="help-inline">{{ error|escape }}</span>
                  {% endfor %}
                {% endif %}
            </div>
          </div>
            <!-- END DOCTOR -->
             <button type="submit" class="btn btn-primary btn-large">Continuar</button>
        </form>
      </div>
    </div>


{% endblock %}
