{% extends "ui/app.html" %}

{% load i18n%}


{% block jquery_init %}

        var evnts = function(){
            return {
                    "event": [
                         {"date":"2012-01-25","title":"1"}
                        ,{"date":"2012-02-01","title":"2"}
                        ,{"date":"2012-03-22","title":"34"}
                        ,{"date":"2012-04-03","title":"123"}
                        ,{"date":"2012-05-04","title":"223"}
                        ,{"date":"2012-06-28","title":"4"}
                        ,{"date":"2012-07-28","title":"5"}
                        ,{"date":"2012-08-16","title":"14"}
                        ,{"date":"2012-09-21","title":"10"}
                        ,{"date":"2012-10-21","title":"10"}
                        ,{"date":"2012-11-21","title":"10"}
                        ,{"date":"2012-12-21","title":"10"}
                    ]
                }
            };

       $('#calendar').Calendar({ 'events': evnts, 'weekStart': 1 })
       .on('changeDay', function(event){ alert(event.day.valueOf()); })
       .on('onEvent', function(event){ alert(event.day.valueOf()); })
       .on('onNext', function(event){ alert("Next"); })
       .on('onPrev', function(event){ alert("Prev"); })
       .on('onCurrent', function(event){ alert("Current"); });

       $('#pyramid_anxiety').Pyramid({
          'height': 350,
          'width': 350,
          'slices':4,
          'slice_separation': 0.1,
          'colours': ['red', 'yellow', 'green', 'blue'],
          'text': ['1', '2', '3', '4']
       })
       .on('click', function(event){ alert(event.text) });

        $('#pyramid_depression').Pyramid({
          'height': 500,
          'width': 500,
          'slices':4,
          'slice_separation': 0.25,
          'colours': ['red', 'yellow', 'green', 'blue'],
          'text': ['12 (12%)', '250 (34%)', '3', '4', '5']
       })
       .on('click', function(event){ alert(event.text) });

{% endblock %}

{% block header%}
  {% include "ui/includes/header.html" %}
{% endblock  %}

{% block body %}
    <div class="container">

    <div class="subnav">
        <ul class="nav nav-pills">
            <!-- <li class="dropdown active">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Buttons <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="active"><a href="#buttonGroups">Button groups</a></li>
                <li><a href="#buttonDropdowns">Button dropdowns</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Navigation <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#navs">Nav, tabs, pills</a></li>
                <li><a href="#navbar">Navbar</a></li>
                <li><a href="#breadcrumbs">Breadcrumbs</a></li>
                <li><a href="#pagination">Pagination</a></li>
              </ul>
            </li>-->
            <li class="active"><a href="#inicio">Consulta</a></li>
            <li><a href="#patients">Mensajería</a></li>
            <li><a href="#initial-val">Estadísticas</a></li>
            <li><a href="#dates">Administración</a></li>
        </ul>
    </div>

    <!-- ALERTS -->
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Tiene 15 mensajes privados nuevos</strong>
    </div>

    <div class="alert alert-info">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Tiene 4 mensajes nuevos</strong>
    </div>

    <!-- END ALERTS -->
    <div class="">
        <h2>Citas <small></small></h2>
        <hr>
        <div class="row">
            <div class="span4" id="calendar"/></div>

            <div class="span8">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <td>10</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination pagination-centered">
              <ul>

                <li class="disabled"><a href="#">←</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">→</a></li>
              </ul>
            </div>
        </div>
        <br/>
        <div class="">
          <h2>Pirámides <small></small></h2>
          <hr>
          <div class="row">
              <div class="span6" id="a"/>
                  <h2><small>Ansiedad</small></h2>
                  <div id="pyramid_anxiety"></div>
                  <hr>
              </div>
              <div class="span6" id="a"/>
                <h2><small>Depresión</small></h2>
                    <div id="pyramid_depression"></div>
                  <hr>
              </div>
          </div>
        </div>
    </div>
  </div> <!-- /container -->
{% endblock body %}
