{% extends "ui/app.html" %}

{% load i18n%}

{% block header%}
    {% include "administrative/includes/header.html" %}
{% endblock  %}

{% block body %}
    <div class="container" style="padding-top:100px;">
        <div class="hero-unit">
            <h2>{% trans 'Credenciales Nuevo Paciente' %}</h2>
            <div class="row">
                <div class="offset1">
                    {% trans 'Nombre de usuario: ' %} {{username}}
                </div>
            </div>
            <div class="row">
                <div class="offset1">
                    {% trans 'Contraseña: 1234' %}
                </div>
            </div>
            <div class="alert alert-block alert-error fade in">
                <h4 class="alert-heading">
                    {% trans '¿Desea crear una cita al paciente que acaba de dar de alta?' %}
                </h4>
                <p>
                    <a class="btn btn-danger" href="{% url newappointment id_newpatient %}">
                        Sí
                    </a>
                    <a class="btn btn-danger" href="{% url main_index %}">
                        No
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock body %}
