{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Vacations list' %}{% endblock %}

{% block right %}
  {% comment %}
    {% include "cal/includes/calendar.html" %}

    {% if not request.user.get_profile.is_doctor %}
      {% include "cal/app/doctor_preferences.html" %}
    {% endif %}
  {% endcomment %}

{% endblock %}

{% block container %}

<a class="btn btn-primary" href= "{% url cal.list_vacation %}">
  <i class="icon-arrow-left icon-white"></i>
  {% trans 'Back' %}
</a>

<p></p>

<div class="well">
  <p>Dr. {{ request.user.get_profile.name }} {{ request.user.get_profile.first_surname }}</p>
</div>

<div>

<form class="form-horizontal well" method="post" action="{% url cal.add_vacation %}">{% csrf_token %}
  <legend>{% trans 'New Vacation' %}</legend>
  <fieldset>

      {% if  form.non_field_errors  %}
        <div class="alert alert-error">
            {% for error in form.non_field_errors %}
                <strong>{% trans '¡Error!' %}</strong>
                {{ error|escape }}
            {% endfor %}
        </div>
      {% endif %}

      <!-- DATE -->
      {% if form.date.errors %}
        <div class="control-group error">
          <label for="id_date" class="control-label">{{form.date.label}}</label>
          <div class="controls">
            {{ form.date }}
            <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-calendar"></i>
            {% for error in form.date.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_date" class="control-label">{{form.date.label}}</label>
          <div class="controls">
            {{ form.date }}
            <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-calendar"></i>
          </div>
        </div>
      {% endif %}
      <!-- END DATE -->

      <!-- DESCRIPTION -->
      {% if form.description.errors %}
        <div class="control-group error">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
            {% for error in form.description.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
          </div>
        </div>
      {% endif %}
      <!-- END DESCRIPTION -->

      <p class="center">
        <button class="btn btn-large btn-primary" type="submit">
          <i class="icon-play icon-white"></i>
          {% trans 'Add' %}</button>
      </p>

  </fieldset>
</form>

</div>

{% endblock %}

{% block jquery_init %}

  $('#id_date').datepicker({'format':'dd/mm/yyyy'});

{% endblock %}
