{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Events list' %}{% endblock %}

{% block right %}
  {% comment %} {% include "cal/includes/events/calendar.html" %} {% endcomment %}
{% endblock %}

{% block container %}

  <div class="page-header">
    <h1>{% trans 'Editar día de vacaciones' %}
            <div class="btn-group pull-right">
                  <a class="btn btn-info" href="{% url cal.list_vacation %}">
                     <i class="icon-arrow-left icon-white"></i>
                    {% trans 'Volver' %}
                  </a>
            </div>
        </h1>
  </div>

<div class="well">

<form class="form-horizontal" method="post" action="{% url cal.edit_vacation vacation.id%}">{% csrf_token %}
  <fieldset>

      {% if  form.non_field_errors  %}
        <div class="alert alert-error">
            {% for error in form.non_field_errors %}
                <strong>{% trans '¡Error!' %}</strong>
                {{ error|escape }}
            {% endfor %}
        </div>
      {% endif %}

      <!-- DATE -->
      {% if form.date.errors %}
        <div class="control-group error">
          <label for="id_date" class="control-label">{{form.date.label}}</label>
          <div class="controls">
            {{ form.date }}
            <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-calendar"></i>
            {% for error in form.date.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_date" class="control-label">{{form.date.label}}</label>
          <div class="controls">
            {{ form.date }}
            <i style="margin: 0 0 0 -20px; pointer-events: none; position: relative;" class="icon-calendar"></i>
          </div>
        </div>
      {% endif %}
      <!-- END DATE -->

      <!-- DESCRIPTION -->
      {% if form.description.errors %}
        <div class="control-group error">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
            {% for error in form.description.errors %}
               <span class="help-inline">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label for="id_description" class="control-label">{{form.description.label}}</label>
          <div class="controls">
            {{ form.description }}
          </div>
        </div>
      {% endif %}
      <!-- END DESCRIPTION -->

      <p class="center">
        <a id="remove-event" class="btn btn-large btn-danger" >
          <i class="icon-remove-sign icon-white"></i>
          {% trans 'Delete' %}
        </a>
        <button class="btn btn-large btn-primary" type="submit">
          <i class="icon-ok-sign icon-white"></i>
          {% trans 'Save' %}</button>
      </p>

  </fieldset>
</form>
</div>

<div id="modal-screen" class="modal hide">
  <div class="modal-header">
    <h3>{% trans 'Delete Event' %}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans 'You are going to delete a vacation. Are you sure?' %}</p>
  </div>
  <div class="modal-footer">
    <a id="confirm-delete" class="btn" data-startmsg="{% trans 'Yes' %}" data-loadingmsg="{% trans 'Removing ... ' %}">{% trans 'Yes' %}</a>
    <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans 'No' %}</a>
  </div>
</div>

<div id="modal-screen-error" class="modal hide">
  <div class="modal-header">
    <h3>{% trans 'Can not delete Event' %}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans 'You can not delete a slot type with children' %}</p>
  </div>
  <div class="modal-footer">
    <a href="#" onclick="window.location.href = '{% url cal.list_vacation %}';" class="btn btn-primary" data-dismiss="modal">{% trans 'Ok' %}</a>
  </div>
</div>
{% endblock %}

{% block jquery_init %}

  $('#id_date').datepicker({'format':'dd/mm/yyyy'});

  $('#remove-event').live('click', function(event){
    $('#modal-screen').modal({
      'Volverdrop':'static',
      'keyboard':false,
    });
  });

  $('#confirm-delete').live('click', function(event){
    event.preventDefault();
    $(this).html($(this).attr('data-loadingmsg') + '<i class="icon-fire"></i>');

    $(this).attr('disabled', true);
    $(this).siblings().attr('disabled', true);
    $(this).siblings().attr('data-dismiss', 'static');

    var json = { pk: {{ vacation.id }} };

    $.ajax({
      url: '{% url cal.delete_vacation %}',
      type: 'DELETE',
      dataType: 'json',
      contentType: "application/json",
      data: JSON.stringify(json),
      processData: false,
      success:function(data) {
          if(data.action){
            window.location.href = '{% url cal.list_vacation %}';
          }else{
            $('#modal-screen').hide();
            $('#modal-screen-error').modal({
              'Volverdrop':'static',
              'keyboard':false,
            });
          }
        }
    });
});

{% endblock %}
