{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Events list' %}{% endblock %}

{% block right %}
  {% comment %} {% include "cal/includes/events/calendar.html" %} {% endcomment %}
{% endblock %}

{% block container %}
  <div class="page-header">
    <h1>{% trans 'Eventos' %}
            <div class="btn-group pull-right">
                  <a class="btn btn-info btn" href="{% url cal.add_event %}"><i class="icon-calendar icon-white"></i> {% trans "Añadir evento" %}</a>
            </div>
        </h1>
  </div>


  {% if events.object_list.count > 0 %}
    

    <table id="events_list" class="table table-striped">
      <thead>
          <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Description" %}</th>
          </tr>
      </thead>
      <tbody>
        {% for event in events.object_list %}
          {% include "cal/event/event.html" %}
        {% endfor %}
      </tbody>
    </table>
    <div id="events-paginator" class="pagination pagination-centered">
      <ul>
        {% if events.has_previous %}
          <li><a href="?page={{ events.previous_page_number }}">←</a></li>
        {% else %}
          <li class="disabled"><a>←</a></li>
        {% endif %}

        {% if events.has_next %}
          <li><a href="?page={{ events.next_page_number }}">→</a></li>
        {% else %}
          <li class="disabled"><a>→</a></li>
        {% endif %}
      </ul>
    </div>

    <div id="preview"></div>
  {% else %}
    <div class="alert alert-info">{% trans "There are no events" %}</div>
  {% endif %}
{% endblock %}

{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/loading.gif' alt='loading...'/>";

$('table tbody tr').live('click', function(event){
  var id = $(this).attr('data-msg');
  if(id){
    $('table').hide();
    $('#message-paginator').hide();
    window.location.href = '/calendar/event/edit/' +id;
  }
});
{% endblock %}
