{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block right %}
  {% comment %} {% include "cal/includes/events/calendar.html" %} {% endcomment %}
{% endblock %}

{% block container %}
  <div class="page-header">
    <h1>{% trans 'Eventos' %}
            <div class="btn-group pull-right">
                  <a class="btn btn-info btn" href="{% url cal.add_event %}"><i class="icon-calendar icon-white"></i> {% trans "Añadir evento" %}</a>
            </div>
        </h1>
  </div>


  {% if events.object_list.count > 0 %}
    

    <table id="events_list" class="table table-hover">
      <thead>
          <tr>
            <th>{% trans "Fecha" %}</th>
            <th>{% trans "Desde" %}</th>
            <th>{% trans "Hasta" %}</th>
            <th>{% trans "Descripción" %}</th>
          </tr>
      </thead>
      <tbody>
        {% for event in events.object_list %}
          {% include "cal/event/event.html" %}
        {% endfor %}
      </tbody>
    </table>
    {% include 'ui/includes/pagination_bar.html' with objects=events %}

    <div id="preview"></div>
  {% else %}
    <div class="alert alert-info">{% trans "No hay ningún evento programado" %}</div>
  {% endif %}
{% endblock %}

{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/loading.gif' alt='loading...'/>";

$('table tbody tr').live('click', function(event){
  var id = $(this).attr('data-msg');
  if(id){
    $('table').hide();
    $('#message-paginator').hide();
    window.location.href = '/calendar/event/edit/' +id;
  }
});
{% endblock %}
