{% extends "cal/includes/base.html" %}

{% load i18n messages %}

{% block title %}{% trans 'Events list' %}{% endblock %}

{% block left_panel %}
  {% comment %} {% include "cal/includes/events/calendar.html" %} {% endcomment %}
{% endblock %}

{% block right_panel %}

  <legend>{% trans "Events" %}</legend>

 <!-- Button Toolbar -->
  <div class="row">
    <div class="span5">
      <div class="btn-toolbar" style="margin-bottom: 9px">
          <div class="btn-group">
            <a class="btn btn-primary btn" href="{% url cal.add_event %}"><i class="icon-calendar icon-white"></i> {% trans "Add event" %}</a>
          </div>
      </div>
    </div>
  </div>

  {% if events.object_list.count > 0 %}
    <div id="events-paginator" class="pull-right">
      <ul class="pagination ">
        {% if events.has_previous %}
          <li><a href="?page={{ events.previous_page_number }}">←</a></li>
        {% else %}
          <li class="disabled"><a>←</a></li>
        {% endif %}

        {% if events.has_next %}
          <li><a href="?page={{ events.next_page_number }}">→</a></li>
        {% else %}
          <li class="disabled"><a>→</a></li>
        {% endif %}
      </ul>
    </div>

    <table id="events_list" class="table table-striped">
      <thead>
          <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Description" %}</th>
          </tr>
      </thead>
      <tbody>
        {% for event in events.object_list %}
          {% include "cal/event/event.html" %}
        {% endfor %}
      </tbody>
    </table>

    <div id="preview"></div>
  {% else %}
    <h6>{% trans "There are no events" %}</h6>
  {% endif %}
{% endblock %}

{% block jquery_init %}
var load_icon = "<img src='{{STATIC_URL}}img/loading.gif' alt='loading...'/>";

$('table tbody tr').live('click', function(event){
  var id = $(this).attr('data-msg');
  if(id){
    $('table').hide();
    $('#message-paginator').hide();
    window.location.href = '/calendar/event/edit/' +id;
  }
});
{% endblock %}
