{% load i18n %}
<tr id={{event.patient.id}} data-msg="{{ event.id }}" class="{{ event.get_payment_class }}">
  <td>
    {{ event.date|date:"d/M/Y" }}
  </td>
  <td style="{{event.get_styles}}">{{ event.start_time|time:"H:i" }}-{{ event.end_time|time:"H:i" }}</td>
  <td>{{ event.patient.get_profile.get_full_name }}</td>
  <td>{{ event.app_type }}</td>
  <td>{{ event.get_payment_status }}</td>
  {% comment %}<td><a data-content="{{event.get_log|unordered_list}}" data-html="true" data-placement="left" rel="popover" data-trigger="hover" href="#" data-original-title="{% trans 'Historial de cambios' %}"><i class="icon-list-alt"></i></a></td>{% endcomment %}
</tr>