{% load i18n %}
<tr id={{event.patient.id}} data-msg="{{ event.id }}">
  <td>
    {% if event.is_reserved %}<i class="icon-question-sign"></i>{% endif %}
    {% if event.is_canceled %}<i class="icon-remove-sign"></i>{% endif %}
    {% if event.is_editable %}
    <a href="{% url cal.edit event.id %}" placement="top" rel="tooltip" data-original-title="Editar cita">{{ event.date|date:"d/M/Y" }}</a>
    {% else %}
      {% if request.user.get_profile.is_doctor %}
        <a href="{% url consulting_start event.id %}" placement="top" rel="tooltip" data-original-title="Ir a resumen de la cita">{{ event.date|date:"d/M/Y" }}</a>
      {% else %}
        {{ event.date|date:"d/M/Y" }}
      {% endif %}
    {% endif %}
  </td>
  <td style="{{event.get_styles}}">{{ event.start_time|time:"H:i" }}</td>  
  <td style="{{event.get_styles}}">{{ event.end_time|time:"H:i" }}</td>
  <td>{{ event.patient.get_profile.get_full_name }}</td>
  <td>{{ event.app_type}}</td>
  <td>{{ event.description|striptags|safe|truncatewords:5 }}</td>
  <td><a data-content="{{event.get_log|unordered_list}}" data-html="true" data-placement="left" rel="popover" href="#" data-original-title="{% trans 'Historial de cambios' %}"><i class="icon-list-alt"></i></a></td>
</tr>