{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/bootstrap-timepicker.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}js/json2.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/timepicker.css" rel="stylesheet"/>
  <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet"/>
{% endblock %}

{% block left %}
  {% if request.session.appointment and request.session.illness %}
    {% include "ui/includes/nav_bar_doctor_monitoring.html" with appointment=request.session.appointment illness=request.session.illness %}
  {% else %}
    {% include "cal/includes/nav_bar_cal.html" %}
  {% endif %}
{% endblock %}

