{% load i18n %}
{% load userprofile %}

{% load url from future %}

{% if month_days %}
<div id="bigcal" class="row-fluid">
    <div class="span5 btn-toolbar" style="margin-top: 18px">
        <a class="btn btn-primary"  href="{% url 'search_patient_for_action' action='new_app' %}">
              <i class="icon-calendar icon-white"></i> {% trans 'DAR CITA' %}
        </a>
        {% if request.user.get_profile.is_administrative %}
        <div class="btn-group">
            <button class="btn btn-info disabled"><i class="icon-user icon-white"></i> {% if doctor %}{{doctor.get_profile|name_with_title}}{% else %}{% trans 'DOCTORES' %}{% endif %}</button>
            <button class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
                {% for d in doctors %}
                <li><a class="change_doctor" href="{% url 'doctors_calendar_big' id_doctor=d.user.id year=year month=month change='this' %}">{{d|name_with_title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}  
        {% if request.user.get_profile.is_doctor %}
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-wrench"></i> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'cal.list_slot_type' %}">{% trans 'TIPOS DE CITA' %}</a>
            </li>
            <li>
              <a href="{% url 'cal.list_slot' year %}">{% trans 'GESTIÓN MENSUAL' %}</a>
            </li>
          </ul>
        </div>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-lock"></i> {% trans 'AUSENCIAS' %} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{% url 'cal.list_vacation' %}"><i class="icon-plane"></i>  {% trans "VACACIONES" %}</a>
              </li>
              <li>                                                     
                <a href="{% url 'cal.list_event' %}"><i class="icon-briefcase"></i>  {% trans "EVENTOS" %}</a>
              </li>
            </ul>
        </div>
        {% endif %}  
    </div>
    <div class="pagination pagination-centered span3" >
        <ul>
            <li class="previous">
                <a href= "javascript:prev();">
                    <i class="icon-arrow-left"></i>
                </a>
            </li>
            <li >
                <a id="current" href="#" data-date-minviewmode="months" data-date-viewmode="years" data-date-format="mm/yyyy" data-date="{{month}}/{{year}}"><strong>{{ mname }} {{ year }}</strong></a>
            </li>
            <li class="next">
                <a href= "javascript:next();" class="pull-right">
                    <i class="icon-arrow-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="span4 pagination" style="float: right">
        <form class="form-inline pull-right">
          {% csrf_token %}
          <strong>{% trans 'PACIENTE' %}</strong>
          <input type="text" id="searcher" class="input-medium search-query span8" placeholder="nombre, apellidos, NIF...">
        </form>
    </div>  
</div>   
<table class="table img-polaroid" id="calendar">
    <thead>
      <tr>
        <th>&nbsp;{% trans "Monday" %}</th>
        <th>&nbsp;{% trans "Tuesday" %}</th>
        <th>&nbsp;{% trans "Wednesday" %}</th>
        <th>&nbsp;{% trans "Thursday" %}</th>
        <th>&nbsp;{% trans "Friday" %}</th>
        <th>{% trans "Saturday" %}</th>
        <th>{% trans "Sunday" %}</th>
      </tr>
    </thead>
    <tbody class="table-bordered table-condensed">
        {% for week in month_days %}
            <tr class="center">
            {% for day, apps, current, vacations, events, available in week %}
                {% if day != 0 %}
                <td style="text-align: left; {{current|yesno:'background-color:#eeeeee;border: 1px solid #000000;,'}}{% if vacations %}{% if doctor or request.user.get_profile.is_doctor %}background-color:#f2dede; border: 1px solid #b94a48;{% endif %}{% endif %} {% if doctor %}cursor:pointer;{% endif %} width: 14%">
                {% if request.user.get_profile.is_doctor %}
                    {% url 'cal.views.day' year month day request.user.id as target %}
                {% else %}
                    {% url 'cal.views.day' year month day doctor.id as target %}
                {% endif %}
                
                    <div>
                        {% if request.user.get_profile.is_doctor or doctor %}
                        <a href="{{target}}" onMouseOver="this.className = 'label';" onMouseOut="this.className = '';">
                            <span class="{% if forloop.counter > 5 %}text-error{% endif %}">{{day}}</span>
                        </a>
                        {% else %}
                            <span class="{% if forloop.counter > 5 %}text-error{% endif %}">{{day}}</span>
                        {% endif %}
                    </div>
                    <div id="events_list" style="min-height:50px">
                    {% if request.user.get_profile.is_doctor or doctor %}
                        {% if vacations %}
                           {% for v in vacations %}
                              <div class="text-error"><small>{% trans 'AUSENCIA' %}: {{v.description}}</small></div>  
                            {% endfor %}
                        {% else %}
                            {% for e in events %}
                              <div class="text-warning"><small>{{e.start_time|time}}-{{e.end_time|time}} {{e.description}}</small></div>  
                            {% endfor %}
                            {% for a in apps %}
                              <div class="{% if not a.is_editable %}{{ a.has_activity|yesno:',muted' }}{% else %}text-info{% endif %}"><small><strong>{{a.start_time|time}}</strong>
                              {% if request.user.get_profile.is_doctor %}
                               {{a.patient.get_profile.get_full_name}}
                              {% else %}
                              - {{a.end_time|time}} {{a.app_type.title}}
                              {% endif %}</small></div>  
                            {% endfor %}
                        {% endif %}
                    {% else %}
                      <div style="margin: 0 10px" class="text-info">Citas: <strong class="pull-right">{{apps|length}}</strong></div>
                      <div style="margin: 0 10px" class="text-warning">Eventos: <strong class="pull-right">{{events|length}}</strong></div>
                      <div style="margin: 0 10px" class="text-error">Ausencias: <strong class="pull-right">{{vacations|length}}</strong></div>
                    {% endif %}
                    </div>
                {% else %}
                <td>&nbsp;
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"></h3>
    </div>
    <div id="myModalBody" class="modal-body">
        <div class="center"><img src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." /></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{% trans 'Cerrar' %}</button>
    </div>
</div>

<script src="{{ STATIC_URL }}js/jquery-ui-1.9.1.custom.min.js"></script>

<link href="{{ STATIC_URL }}css/jquery-ui-1.9.1.custom.css" rel="stylesheet">

<script type="text/javascript">
    function next(){
        var loader = '<img src="{{ STATIC_URL }}/img/ajax-bar-loader.gif" alt="loading..." />';
        var width = $('#current').width();
        $('#current').html(loader);
        $('#current').width(width);
        $('#calendar').fadeTo(500, 0.25);
        {% if doctor %}
        $('#large').load('{% url 'doctors_calendar_big' id_doctor=doctor.id year=year month=month change='next' %}'); 
        {% else %}
        $('#large').load('{% url 'calendar_big' year=year month=month change='next' %}'); 
        {% endif %}
    };

    function prev(){
        var loader = '<img src="{{ STATIC_URL }}/img/ajax-bar-loader.gif" alt="loading..." />';
        var width = $('#current').width();
        $('#current').html(loader);
        $('#current').width(width);
        $('#calendar').fadeTo(500, 0.25);
        {% if doctor %}
        $('#large').load('{% url 'doctors_calendar_big' id_doctor=doctor.id year=year month=month change='prev' %}'); 
        {% else %}
        $('#large').load('{% url 'calendar_big' year=year month=month change='prev' %}'); 
        {% endif %}
    };

    $('a.change_doctor').on('click', function(e){
        e.preventDefault();
        $('#large').load($(this).attr('href')); 
     });

    function capture_pager(){
        $('.pagination').find('a').each(function(){
            $(this).on("click", function(e){
                        e.preventDefault();
                        $('#myModalBody').load($(this).attr('href'), capture_pager);
                    });
        });

    };

    $("#searcher").autocomplete({
        minLength: 3,
        autoFocus: false,
        source: function(request, response){
              $.ajax({
                  url: '{% url 'consulting_patient_searcher' %}',
                  type:'POST',
                  data: {
                      start: function() { return $("#searcher").val(); },
                      csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                  },
                  dataType: "json",
                  success: function(data){
                      response(data['completed_names'])
                  }
              })
            },
        select: function(event, ui){
            var pattern = '{% url 'cal.app_list_patient' 1 %}';
            $('#myModalLabel').text('{% trans "Citas de " %}'+ui.item.label);
            $('#myModal').modal('show');
            $('#myModalBody').load(pattern.replace('1', ui.item.id),capture_pager);
            }
    }).data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li style='border-bottom: 1px solid #e0e0e0'>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.label.replace(new RegExp( "(" + $("#searcher").val() + ")" , 'gi' ), "<strong>"+$("#searcher").val().capitalize() + "</strong>") + "<br><small class='text-info'>" + item.nif.replace($("#searcher").val(), "<strong>"+$("#searcher").val() + "</strong>") +"</small></a>" )
                .appendTo( ul );
            };
    $("#searcher").focus();

    $('#calendar').find('td').each(function(){
        $(this).on('click',function(){
            var url = $(this).find('a').attr('href')
            if(url){
                window.location.href = url;
            }  
        })        
    });

    $("current").datepicker();
    $('#main').remove();
    $('#right_bar').remove();
</script>
{% else %}
    <div class="center">
        <img style="padding-top: 100px" src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." />
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#large').load('{% url 'calendar_big' year=year month=month change='this' %}');
        });
    </script>
{% endif %}


