{% load i18n %}

 <script type="text/javascript">
        function next(){
            var loader = '<img src="{{ STATIC_URL }}/img/ajax-bar-loader.gif" alt="loading..." />';
            var width = $('#current').width();
            $('#current').html(loader);
            $('#current').width(width);
            $('#calendar').fadeTo(500, 0.25);

            {% if patient_user %}
            $('#right_bar').load('{% url calendar_widget year=year month=month day=0 id_user=patient_user.id change='next' %}');
            {% else %}
            $('#right_bar').load('{% url calendar_widget year=year month=month day=0 id_user=doctor.id change='next' %}');
            {% endif %}    
        }

        function prev(){
            var loader = '<img src="{{ STATIC_URL }}/img/ajax-bar-loader.gif" alt="loading..." />';
            var width = $('#current').width();
            $('#current').html(loader);
            $('#current').width(width);
            $('#calendar').fadeTo(500, 0.25);
            {% if patient_user %}
            $('#right_bar').load('{% url calendar_widget year=year month=month day=0 id_user=patient_user.id change='prev' %}');
            {% else %}
            $('#right_bar').load('{% url calendar_widget year=year month=month day=0 id_user=doctor.id change='prev' %}');
            {% endif %} 
        }

</script>

{% if month_days %}
<div id="calendar_container">
<div class="pagination pagination-centered">
    <ul>
        <li class="previous">
            <a href= "javascript:prev();"><i class="icon-chevron-left"></i></a>
        </li>
        <li>
            <a id="current" href="#"><strong>{{ mname }} {{ year }}</strong></a>
        </li>
        <li class="next">
            <a href= "javascript:next();" class="pull-right"><i class="icon-chevron-right"></i></a>
        </li>
    </ul>
</div>
<div id="calendar" class="img-polaroid" style="min-width:220px">
<table class="table table-condensed table-nohover">
    <thead>
      <tr>
        <th style="text-align: right">&nbsp;{% trans "Mon" %}</th>
        <th style="text-align: right">&nbsp;{% trans "Tue" %}</th>
        <th style="text-align: right">&nbsp;{% trans "Wed" %}</th>
        <th style="text-align: right">&nbsp;{% trans "Thu" %}</th>
        <th style="text-align: right">&nbsp;{% trans "Fri" %}</th>
        <th style="text-align: right">{% trans "Sat" %}</th>
        <th style="text-align: right">{% trans "Sun" %}</th>
      </tr>
    </thead>
    <tbody>
        {% for week in month_days %}
            <tr class="center">
            {% for day, entries, current, vacations, events, available in week %}
                {% if day != 0 %}
                  {% if patient_user %}
                    {% url cal.views.day year month day patient_user.id as target %}
                  {% else %}
                    {% if request.user.get_profile.is_doctor %}
                        {% url cal.views.day year month day request.user.id as target %}
                    {% else %}
                        {% url cal.views.day year month day doctor.id as target %}
                    {% endif %}
                  {% endif %}
                    <td style="text-align: right">
                      <a rel="tooltip" data-position="top" data-html="true" title="<ul class='unstyled' style='text-align: justify'>{% for e in entries %}<li>{{e.start_time|time}} {{e.app_type.title}}</li><li class='divider'></li>{% endfor %}</ul><strong>Disponible: {{available}} min</strong>" href="{{target}}" onMouseOver="$(this).children().addClass('label')" onMouseOut="$(this).children().not('.label-important, .label-info, .label-warning, .label-inverse').removeClass('label')">                
                        <span class="{% if forloop.counter > 5 %}text-error{% endif %}
                            {% if current %}
                                label label-info
                            {% else %}
                                {% if vacations %}
                                    label label-important
                                {% else %}
                                    {% if events %}
                                        label label-warning
                                    {% else %}
                                        {% if available = 0 %}
                                            label label-inverse
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}">
                            {{ day }}
                        </span>
                      </a>
                {% else %}
                <td>&nbsp;
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<a data-content="<ul class='unstyled muted'>
    <li><span class='label label-info'>&nbsp;&nbsp;</span> {% trans 'Hoy' %}</li>
    <li><span class='label label-warning'>&nbsp;&nbsp;</span> {% trans 'Evento' %}</li>
    <li><span class='label label-important'>&nbsp;&nbsp;</span> {% trans 'Ausencia' %}</li>
    <li><span class='label label-inverse'>&nbsp;&nbsp;</span> {% trans 'Completo' %}</li>
</ul>" data-placement="left" rel="popover" class="btn btn-link btn-block" href="#" data-html="true" data-original-title="Leyenda">{% trans 'Leyenda' %}</a>
<script>
    $('a[rel="popover"]').popover();
    $('a[rel="tooltip"]').tooltip();
</script>
<br>
<div id="info_day">
      {% include "cal/includes/extra_info.html" %}
</div>
</div>

{% else %}
    <div class="center">
        <img style="padding-top: 100px" src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." />
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            {% if patient_user %}
            $('#right_bar').load('{% url calendar_widget year=year month=month day=0 id_user=patient_user.id change='this' %}');
            {% else %}
            $('#right_bar').load('{% url calendar_widget year=year month=month day=0 id_user=doctor.id change='this' %}');
            {% endif %}
        })
    </script>
{% endif %}
