{% load i18n%}
{% load consulting %}

{% url doctors_calendar as doctors_calendar %}
{% url search_patient_for_action action='new_app' as set_appointment  %}
{% url search_patient_for_action action='list_app' as users_appointment %}
{% url cal.list_slot_type as slot_type %}



<ul class="nav nav-pills nav-stacked">
  <li class="{% active_child request set_appointment %}">
      <a href="{{set_appointment}}">
          {% trans 'DAR CITA' %}
      </a>
  </li>
  {% if request.user.get_profile.is_administrative %}
  <li class="{% active_child request doctors_calendar %}">
      <a href="{% url doctors_calendar %}">
          {% trans 'AGENDA MÉDICO' %}
      </a>
  </li>
  {% endif %}
  <li class="{% active_child request users_appointment %}">
      <a href="{{ users_appointment }}">
        {% trans 'CITAS PACIENTE' %}
      </a>
  </li>
  {% if request.user.get_profile.is_doctor %}
  <li  class="dropdown {% active_child request slot_type %}">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {% trans 'PREFERENCIAS' %}<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="{% url cal.list_slot_type %}">{% trans 'TIPOS' %}</a>
        </li>
        <li>
          <a href="#">{% trans 'CITAS' %}</a>
        </li>
      </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {% trans 'AUSENCIAS' %}<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{% url cal.list_vacation %}">{% trans "VACACIONES" %}</a>
      </li>
      <li>                                                     
        <a href="{% url cal.list_event %}">{% trans "EVENTOS" %}</a>
      </li>
    </ul>
  </li>
  {% endif %}
</ul>

    

         
         