django<1.6
PIL
south
MySQL-python
gunicorn==0.13.4
xlwt
requests
django-extensions
django-wkhtmltopdf
django-localflavor
python-memcached
django-memcached2
django-memcache-status
git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/mongodb-engine
