{% extends "ui/app.html" %}

{% load i18n%}

{% block header%}
    {%if request.user.get_profile.is_doctor %}
        {% include "ui/includes/header_doctor.html" %}
    {% else %}
        {% include "ui/includes/header_patient.html" %}
    {% endif %}
{% endblock  %}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/bootstrap-timepicker.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}js/json2.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/timepicker.css" rel="stylesheet"/>
  <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

  <div class="container">
      {% block nav-bar%}{% endblock  %}

      <div class="row">
          <div class="span2">
              {% block left_panel %}{% endblock %}
          </div>

          <div class="span10">
              {% if reminders %}
                  <div class="reminders">
                      <div class="gr">Alerts</div>
                      {% for reminder in reminders %}
                          <p> {{ reminder.short|safe }}</p>
                      {% endfor %}
                  </div>
              {% endif %}
            {% block right_panel %}{% endblock %}
          </div>
      </div>
  </div>

{% endblock body %}
