{% extends "ui/app.html" %}

{% load i18n%}

{% block body %}
<div class="container">
    <section>
        <div class="page-header">
          <h1>{% trans 'Encuesta: ' %}{{task.survey.name}}</h1>              
        </div>
        <div class="row" >
            <div class="span12">                 
                <form class="form-horizontal" method="post" action="{% url consulting_self_administered_block task.id %}">{% csrf_token %}
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="control-group error">
                                <label>
                                    {{field.label}}
                                </label>
                                <div>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <span class="help-inline">
                                            {{ error|escape }}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="control-group">
                                <label>
                                    {{field.label}}
                                </label>
                                <div>
                                    {{ field }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="controls">
                        <button type="submit" class="btn btn-primary btn-large">
                          {% trans 'Guardar y Continuar' %}
                        </button>
                    </div>
                </form>               
            </div> 
        </div>
    </section>
</div>
{% endblock body %}

{% block jquery_init %}
    $('ul').addClass("without_decorator");
{% endblock %}