{% extends "ui/app.html" %}

{% load i18n%}

{% block container %}
<div class="page-header">
  <h1>{% trans 'Encuesta programada ' %}</h1>              
</div>
    <section>
        <form class="form-horizontal" method="post" action="{% url consulting_self_administered_block task.id %}">{% csrf_token %}
            {% for field in form %}
                <div class="control-group">
                    <label class="control-label span7">
                        {{field.label}}
                    </label>
                    <div class="controls span5">
                        {{ field }}
                        {% if field.errors|length %}
                            {% for error in field.errors %}
                                <span class="help-inline">
                                    {{ error|escape }}
                                </span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="controls">
                <button type="submit" class="btn btn-primary btn-large">
                  {% trans 'Guardar y Continuar' %}
                </button>
            </div>
        </form>               
    </section>
{% endblock %}

{% block jquery_init %}
    $('ul').addClass("without_decorator");
{% endblock %}