{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/spin.min.js"></script>
{% endblock %}

{% block container %}
<div class="page-header">
<h1>{% trans 'Cuestionarios sin completar' %}</h1>                
</div>
<section>
  <div class="">
    {% if tasks.object_list %}
    <table id="tasks_list" class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Médico" %}</th>
          <th>{% trans "Fecha límite" %}</th>
          <th>{% trans "Última modificación" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks.object_list %}
          <tr data-msg="{{ task.id }}" style="cursor:pointer">
            <td>{{ task.patient.get_profile.doctor.get_profile.get_full_name }}</td>
            <td>{% if task.patient.get_profile.get_nextAppointment %}{{ task.patient.get_profile.get_nextAppointment.date|date:'d/M/Y' }}{% else %}{{task.to_date|date:'d/M/Y' }}
              {% endif %}</td>
             <td>{% if task.updated_at != task.created_at %}{{ task.updated_at|date:'d/M/Y H:i' }}{% endif %}</td> 
             <td><a class="btn btn-small btn-info" href="{% url 'consulting_self_administered_block' task.id%}">
              {% if task.updated_at != task.created_at %}
                {% trans 'Continuar' %}
              {% else %}
                {% trans 'Comenzar' %}
              {% endif %}</a></td>             
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'ui/includes/pagination_bar.html' with objects=tasks %}

    <div id="preview"></div>
    {% else %}
        <div class="alert alert-info">{% trans "No hay cuestionarios pendientes en este momento" %}</div>
    {% endif %}
  </div>
</section>

{% endblock container %}
{% block jquery_init %}

$('table tbody tr').on('click', function(event){
  var id = $(this).attr('data-msg');
  window.location.href = '{%url "consulting_index" %}surveys/block/' + id; 
});

{% endblock %}