{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/spin.min.js"></script>
{% endblock %}

{% block container %}
  <div class="page-header">
      <h1>{% trans 'Encuestas sin completar' %}</h1>                
  </div>
    <section>
        <div class="">
            {% if tasks.object_list.count > 0 %}
            <div class="">
                <table id="tasks_list" class="table table-striped">
                    <thead>
                        <tr>
                          <th>{% trans "Médico" %}</th>
                          <th>{% trans "Disponible desde" %}</th>
                          <th>{% trans "Hasta" %}</th>
                          <th>{% trans "Última modificación" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for task in tasks.object_list %}
                        <tr data-msg="{{ task.id }}" style="cursor:pointer">
                          <td>{{ task.patient.get_profile.doctor.get_profile.name }} {{ task.patient.get_profile.doctor.get_profile.first_surname }} {{ task.patient.get_profile.doctor.get_profile.second_surname }}</td>
                          <td>{{ task.from_date|date:'d/M/Y' }}</td>
                          <td>{{ task.to_date|date:'d/M/Y' }}</td>
                           <td>{{ task.updated_at|date:'d/M/Y H:i' }}</td>              
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
                  <div id="tasks-paginator" class="pagination pagination-centered">
                    <ul>
                      {% if tasks.has_previous %}
                        <li><a href="?page={{ tasks.previous_page_number }}">←</a></li>
                      {% else %}
                        <li class="disabled"><a>←</a></li>
                      {% endif %}

                      {% if tasks.has_next %}
                        <li><a href="?page={{ tasks.next_page_number }}">→</a></li>
                      {% else %}
                        <li class="disabled"><a>→</a></li>
                      {% endif %}
                    </ul>
                </div>

                <div id="preview"></div>
                {% else %}
                  <div class="">
                    <div class="alert alert-info">{% trans "No hay cuestionarios pendientes en este momento" %}</div>
                  </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock container %}
{% block jquery_init %}

$('table tbody tr').on('click', function(event){
  var id = $(this).attr('data-msg');
  window.location.href = '/surveys/block/' + id; 
});

{% endblock %}