{% load i18n%}
{% load consulting %}
<div class="img-polaroid" style="margin-top: 6px">
  <table class="table {% if not mini %}table-condensed{% endif %}">  
    <thead>
      <tr>            
        <th colspan="2" style="text-align:center;">
          <h4>
            <a rel="tooltip" placement="top" title="{% trans 'Ir a perfil del paciente' %}" target="_blank" href="{% url consulting_pre_personal_data_pm patient_user.id %}" >{{patient_user.get_profile.get_full_name|upper}}</a>&nbsp;
          <a href="{% url consulting_editpatient_pm patient_user.id %}?next={{request.path}}" data-dismiss="alert" class="icon-edit pull-right"></a> 
          </h4>
        </th>
      </tr>
    </thead>        
    <tbody {% if mini %}style="color:grey"{% endif %}>           
      <tr>            
        <td>{% trans 'NIF' %}</td>
        <td>{{patient_user.get_profile.nif}}</td>
      </tr>
      {% if user.get_profile.is_doctor %}
      <tr>            
        <td>{% trans 'EDAD' %}</td>
        <td>{{patient_user.get_profile.get_age}} {% trans 'años' %}</td>
      </tr>
      <tr>            
        <td>{% trans 'SEXO' %}</td>
        <td>{{patient_user.get_profile.get_sex}}</td>
      </tr>      
      <tr>            
        <td>{% trans 'ESTADO CIVIL' %}</td>
        <td>{{patient_user.get_profile.get_status}}</td>
      </tr>
      {% endif %}
      <tr>            
        <td>{% trans 'TELÉFONO 1' %}</td>
        <td>{{patient_user.get_profile.phone1}}</td>
      </tr>
      <tr>            
        <td>{% trans 'TELÉFONO 2' %}</td>
        <td>{{patient_user.get_profile.phone2}}</td>
      </tr>
      {% if not mini %}
      <tr>            
        <td>{% trans 'CORREO' %}</td>
        <td><small>{{patient_user.get_profile.email}}</small></td>
      </tr>     
      <tr>            
        <td>{% trans 'DOMICILIO' %}</td>
        <td>{{patient_user.get_profile.address}}</td>
      </tr>
      <tr>            
        <td>{% trans 'MUNICIPIO' %}</td>
        <td>{{patient_user.get_profile.town}}</td>
      </tr>
      <tr>            
        <td>{% trans 'CÓDIGO POSTAL' %}</td>
        <td>{% if patient_user.get_profile.postcode %}{{patient_user.get_profile.postcode}}{% endif %}</td>
      </tr>
      {% endif %}
      {% if user.get_profile.is_doctor %}
      <tr>            
        <td>{% trans 'PROFESIÓN' %}</td>
        <td>{{patient_user.get_profile.profession|wordwrap:5}}</td>
      </tr>
      {% endif %}
      <tr>            
        <td>{% trans 'ÚLTIMA CITA' %}</td>
        <td>{{patient_user.get_profile.get_lastAppointment.date|date:'d/M/Y'}}</td>
      </tr>
      <tr>            
        <td>{% trans 'PRÓXIMA CITA' %}</td>
        <td>{{patient_user.get_profile.get_nextAppointment.date|date:'d/M/Y'}}</td>
      </tr>
      {% if user.get_profile.is_doctor %}
      <tr>            
        <td colspan="2">{% trans 'NIVEL ESTRATIFICACIÓN' %}<br />
          {% if patient_user.get_profile.get_anxiety_status %}
              <span class="label label-{{patient_user.get_profile.get_anxiety_status|last}}">{{patient_user.get_profile.get_anxiety_status|first|safe}}</span>
          {% endif %}
          {% if patient_user.get_profile.get_depression_status %}
              <span class="label label-{{patient_user.get_profile.get_depression_status|last}}">{{patient_user.get_profile.get_depression_status|first|safe}}</span>
          {% else %}
              <span class="label">PENDIENTE DE CALCULAR</span>
          {% endif %}
        </td>
      </tr>
      {% endif %}              
    </tbody>
  </table>        
</div>