{% load i18n%}
<div class="alert alert-info">
  <table class="table table-condensed">  
    <thead>
      <tr>            
        <th colspan="2" style="text-align:center;">
          <h4>
            {{patient_user.get_profile.name|upper}} {{patient_user.get_profile.first_surname|upper}} {{patient_user.get_profile.second_surname|upper}}
          <a href="{% url consulting_editpatient_pm patient_user.id %}?next={{request.path}}" data-dismiss="alert" class="icon-edit pull-right"></a> 
          </h4>
        </th>
      </tr>
    </thead>        
    <tbody>           
      <tr>            
        <td>{% trans 'NIF' %}</td>
        <td>{{patient_user.get_profile.nif}}</td>
      </tr>
      {% if user.get_profile.is_doctor %}
      <tr>            
        <td>{% trans 'EDAD' %}</td>
        <td>{{patient_user.get_profile.get_age}} {% trans 'años' %}</td>
      </tr>
      <tr>            
        <td>{% trans 'SEXO' %}</td>
        <td>{{patient_user.get_profile.get_sex}}</td>
      </tr>      
      <tr>            
        <td>{% trans 'ESTADO CIVIL' %}</td>
        <td>{{patient_user.get_profile.get_status}}</td>
      </tr>
      {% endif %}
      <tr>            
        <td>{% trans 'TELÉFONO 1' %}</td>
        <td>{{patient_user.get_profile.phone1}}</td>
      </tr>
      <tr>            
        <td>{% trans 'TELÉFONO 2' %}</td>
        <td>{{patient_user.get_profile.phone2}}</td>
      </tr> 
      <tr>            
        <td>{% trans 'CORREO' %}</td>
        <td><small>{{patient_user.get_profile.email}}</small></td>
      </tr>     
      <tr>            
        <td>{% trans 'DOMICILIO' %}</td>
        <td>{{patient_user.get_profile.address}}</td>
      </tr>
      <tr>            
        <td>{% trans 'MUNICIPIO' %}</td>
        <td>{{patient_user.get_profile.town}}</td>
      </tr>
      <tr>            
        <td>{% trans 'CÓDIGO POSTAL' %}</td>
        <td>{% if patient_user.get_profile.postcode %}{{patient_user.get_profile.postcode}}{% endif %}</td>
      </tr>
      {% if user.get_profile.is_doctor %}
      <tr>            
        <td>{% trans 'PROFESIÓN' %}</td>
        <td>{{patient_user.get_profile.profession|wordwrap:5}}</td>
      </tr>
      {% endif %}
      <tr>            
        <td>{% trans 'ÚLTIMA CITA' %}</td>
        <td>{{patient_user.get_profile.get_lastAppointment|date:'d/M/Y'}}</td>
      </tr>
      <tr>            
        <td>{% trans 'PRÓXIMA CITA' %}</td>
        <td>{{patient_user.get_profile.get_nextAppointment|date:'d/M/Y'}}</td>
      </tr>
      {% if user.get_profile.is_doctor %}
      <tr>            
        <td colspan="2">{% trans 'NIVEL ESTRATIFICACIÓN' %}<br />
          {% if patient_user.get_profile.get_anxiety_status %}
              <span class="label label-{{patient_user.get_profile.get_anxiety_status|last}}">{{patient_user.get_profile.get_anxiety_status|first}}</span>
          {% endif %}
          {% if patient_user.get_profile.get_depression_status %}
              <span class="label label-{{patient_user.get_profile.get_depression_status|last}}">{{patient_user.get_profile.get_depression_status|first}}</span>
          {% else %}
              <span class="label">PENDIENTE DE CALCULAR</span>
          {% endif %}
        </td>
      </tr>
      {% endif %}              
    </tbody>
  </table>        
</div>