{% load i18n%}
{% load consulting %}
<div class="img-polaroid" style="margin-top: 6px">
  <table class="table {% if mini %}table-condensed{% endif %}">  
    <thead>
      <tr>            
        <th colspan="2" >
          <h4 style="text-align:center;">
            <a href="{% url consulting_editpatient_pm patient_user.id %}?next={{request.path}}" data-dismiss="alert" rel="tooltip" placement="left" title="{% trans 'Editar datos personales' %}">{{patient_user.get_profile.get_full_name|upper}}</a> 
          </h4>
        </th>
      </tr>
    </thead>        
    <tbody {% if mini %}style="color:grey"{% endif %}>           
      <tr>            
        <td>{% trans 'NIF' %}</td>
        <td>{% if patient_user.get_profile.nif %}{{patient_user.get_profile.nif}}{% endif %}</td>
      </tr>
      {% if user.get_profile.is_doctor %}
      <tr>            
        <td>{% trans 'EDAD' %}</td>
        <td>{{patient_user.get_profile.get_age}} {% trans 'años' %}</td>
      </tr>
      <tr>            
        <td>{% trans 'SEXO' %}</td>
        <td>{{patient_user.get_profile.get_sex}}</td>
      </tr>      
      <tr>            
        <td>{% trans 'ESTADO CIVIL' %}</td>
        <td>{{patient_user.get_profile.get_status}}</td>
      </tr>
      {% endif %}
      {% if patient_user.get_profile.phone1 or not mini %}
      <tr>            
        <td>{% trans 'TELÉFONO 1' %}</td>
        <td>{{patient_user.get_profile.phone1}}</td>
      </tr>
      {% endif %}
      {% if patient_user.get_profile.phone2 or not mini %}
      <tr>            
        <td>{% trans 'TELÉFONO 2' %}</td>
        <td>{{patient_user.get_profile.phone2}}</td>
      </tr>
      {% endif %}
      {% if not mini %}
      <tr>            
        <td>{% trans 'CONTACTO' %}</td>
        <td>{{patient_user.get_profile.emergency_phone}}</td>
      </tr>
      <tr>            
        <td>{% trans 'CORREO' %}</td>
        <td>{% if mini %}<small>{% endif%}{% if patient_user.get_profile.email%}{{patient_user.get_profile.email}}{% endif %}{% if mini %}</small>{% endif%}</td>
      </tr>     
      <tr>            
        <td>{% trans 'DOMICILIO' %}</td>
        <td>{{patient_user.get_profile.address}}</td>
      </tr>
      <tr>            
        <td>{% trans 'MUNICIPIO' %}</td>
        <td>{{patient_user.get_profile.town}}</td>
      </tr>
      <tr>            
        <td>{% trans 'CÓDIGO POSTAL' %}</td>
        <td>{% if patient_user.get_profile.postcode %}{{patient_user.get_profile.postcode}}{% endif %}</td>
      </tr>
      {% if patient_user.get_profile.source %}
      <tr>            
        <td>{% trans 'FUENTE DE DERIVACIÓN' %}</td>
        <td>{{patient_user.get_profile.source}}</td>
      </tr>
      {% endif %}
      {% endif %}
      {% if user.get_profile.is_doctor %}
      <tr>            
        <td>{% trans 'NIVEL DE ESTUDIOS' %}</td>
        <td>{% if mini %}<small>{% endif%}{{patient_user.get_profile.get_education}}{% if mini %}</small>{% endif%}</td>
      </tr>
      {% if patient_user.get_profile.profession or not mini %}
      <tr>            
        <td>{% trans 'PROFESIÓN' %}</td>
        <td>{{patient_user.get_profile.profession|wordwrap:5}}</td>
      </tr>
      {% endif %}
      {% endif %}
      {% if mini %}
      {% if patient_user.get_profile.get_lastAppointment %}
      <tr>            
        <td>{% trans 'ÚLTIMA CITA' %}</td>
        <td>{{patient_user.get_profile.get_lastAppointment.date|date:'d/M/Y'}}</td>
      </tr>
      {% endif %}
      <tr>            
        <td>{% trans 'PRÓXIMA CITA' %}</td>
        <td>{% if patient_user.get_profile.get_nextAppointment and patient_user.is_active %}
          {{patient_user.get_profile.get_nextAppointment.date|date:'d/M/Y'}}
          {% else %}
          <a href="{% url cal.scheduler patient_user.id %}" class="btn btn-small btn-info btn-block"><i class='icon-plus-sign icon-white'></i> {% trans 'Dar cita' %}</a>
          {% endif %}
          {% if patient_user.get_profile.get_pending_tasks %}
          <br>
          <small>
            <em>
              {{patient_user.get_profile.get_pending_tasks|length}} {% trans 'cuestionario' %}{{patient_user.get_profile.get_pending_tasks|length|pluralize}} {% trans 'asignado' %}{{patient_user.get_profile.get_pending_tasks|length|pluralize}}
            </em>
          </small>
          {% endif %}
        </td>
      </tr>
      {% if user.get_profile.is_doctor %}
      <tr>            
        <td colspan="2">{% trans 'NIVEL ESTRATIFICACIÓN' %}<br />
          {% if patient_user.get_profile.get_anxiety_status %}
              <span class="label label-{{patient_user.get_profile.get_anxiety_status|last}}">{{patient_user.get_profile.get_anxiety_status|first|safe}}</span>
          {% endif %}
          {% if patient_user.get_profile.get_depression_status %}
              <span class="label label-{{patient_user.get_profile.get_depression_status|last}}">{{patient_user.get_profile.get_depression_status|first|safe}}</span>
          {% else %}
              <span class="label">PENDIENTE DE CALCULAR</span>
          {% endif %}
        </td>
      </tr>
      {% if patient_user.get_profile.illnesses.all.count %}
      <tr>
        <td  colspan="2">(CIE-10)  {% trans 'CONDICIÓN' %}</td>
      </tr>
      <tr>
        <td  colspan="2">
        {% for ill in patient_user.get_profile.illnesses.all %}
          <p style="text-align: justify">{{ill}}</p>
        {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% endif %}  
      {% endif %}            
    </tbody>
  </table>        
</div>