{% extends "ui/app.html" %}

{% load i18n%}

{% block right %}
	{% if patient_user.get_next_real_appointment %}
	<div class="alert alert-success" style="text-align: justify">
		<h5>Su próxima cita tendrá lugar el <strong>{{patient_user.get_next_real_appointment.date}}</strong> a las <strong>{{patient_user.get_next_real_appointment.start_time|time:"H:i"}}</strong></h5>
	</div>
	{% endif %}
	{% if patient_user.get_pending_tasks %}
	<div class="alert alert-info" style="text-align: justify">
		<span>Tiene <strong>{{patient_user.get_pending_tasks.count}}</strong> cuestionario{{ patient_user.get_pending_tasks.count|pluralize:",s" }}
 pendiente{{ patient_user.get_pending_tasks.count|pluralize:",s" }}.</span>
		<a href="{% url consulting_list_surveys %}" class="btn btn-large btn-block btn-info" type="button">Realizar ahora</a>
	</div>
	{% endif %}
{% endblock %}

{% block container %}
	
	<div class="hero-unit" style="font-size: 1em">
		<h2>{% trans 'Resumen de la última consulta' %}</h2>
		<hr>
		<div>
			<h3>Recomendaciones</h3>
			<div class="img-polaroid">
				<p>{{patient_user.get_conclusions.recommendation}}&nbsp;</p>
			</div>
			<h3>Tratamiento</h3>
			<div class="img-polaroid">
			{% for m in patient_user.get_treatment %}
				{% if not m.is_previous %}
				<dl class="dl-horizontal">
					<dt>{% trans 'Medicamento' %}</dt>
					<dd>{{m.component}}</dd>
					<dt>{% trans 'Posología' %}</dt>
					<dd><em>{{m.posology|floatformat:"-4" }}</em> {% trans 'mg/día' %} {% if m.dosification %} {% trans 'repartidos en' %} {{m.dosification}}{% endif %}</dd>
				</dl>
				{% endif %}
			{% endfor %}
			{% if patient_user.get_conclusions.extra %}
				<dl class="dl-horizontal">
					<dt>{% trans 'Otros' %}</dt>
					<dd>{{patient_user.get_conclusions.extra}}</dd>
				</dl>
			{% endif %}&nbsp;
			</div>
		</div>
	</div>

{% endblock %}