{% extends "consulting/patient/personal_data_pm.html" %}

{% load i18n consulting userprofile %}

{% block right %}
  {% include 'consulting/patient/card-mini.html'%}
{% endblock %}


{% block container %}
  <div class="page-header">
    <h1>{% trans 'Listado de Recomendaciones' %}</h1>
  </div>
  <input name="csrfmiddlewaretoken" type="hidden" value="{{csrf_token}}">
  <section>
    <div class="">       
      <div id="overwrite_list" class="">            
        {% if conclusions.object_list %}                     
        <table id="list_conclusion" class="table table-bordered">  
          <thead>
            <tr>            
              <th style="text-align:center;">
                {% trans 'FECHA' %}
              </th>
              <th style="text-align:center;">
                {% trans 'RECOMENDACIÓN' %}
              </th>
              <th style="text-align:center;">
                {% trans 'ESTADO' %}
              </th>
            </tr>
          </thead>        
          <tbody>                  
            {% for conclusion in conclusions.object_list %}
              <tr id="{{conclusion.id}}" class="conclusion">
                <td style="text-align:center;">{{conclusion.date|date:"d/M/Y"|lower}}</td>
                <td style="text-align:justify;">{{conclusion.recommendation|striptags|safe|linebreaksbr }}</td>

                <td style="text-align:center;">
                  {% if report.end_date %}
                  {% get_anxiety_status_at report.patient report.end_date %}
                  &nbsp;{% get_depression_status_at report.patient report.end_date %}
                  &nbsp;{% get_unhope_status_at report.patient report.end_date %}
                  &nbsp;{% get_suicide_status_at report.patient report.end_date %}
                  {% endif %}
                </td>  
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include 'ui/includes/pagination_bar.html' with objects=conclusions %}
        <div id="overwrite"></div>                           
        {% else %}
            <div class="alert alert-info">{% trans "No hay recomendaciones asociadas a este paciente" %}</div>
        {% endif %}
      </div>
     
    </div>
             
  </section>
{% endblock container %}

{% block jquery_init %}
    $('a[rel="popover"]').popover();
{% endblock %}