{% extends "consulting/patient/personal_data_pm.html" %}

{% load i18n%}

{% block right %}
  {% include 'consulting/patient/card.html' with mini=1 %}
{% endblock %}

{% block js %}
function set_events(){
 $('.pagination').find('a').each(function(){
      $(this).on("click", function(e){
                              e.preventDefault();
                              var target = $('#tabs .active').find('a').attr('href');
                              $(target).load($(this).attr('href'), set_events);
                            });
    });
  }; 
{% endblock %}

{% block jquery_init %}
  $('#all').load('{% url consulting_get_appointments filter_option='all' patient_user_id=patient_user.id %}', set_events);
  $('#virtual').load('{% url consulting_get_appointments filter_option='virtual' patient_user_id=patient_user.id %}', set_events);
  $('#face-to-face').load('{% url consulting_get_appointments filter_option='face2face' patient_user_id=patient_user.id %}', set_events);
{% endblock %}

{% block container %}  
<div class="page-header">
  <h1>{% trans 'Historial Citas' %}
    {% if patient_user.is_active %}
      <div class="btn-group pull-right">
        <a href="{% url cal.scheduler patient_user.id %}" class="btn btn-info"><i class='icon-plus-sign icon-white'></i> {% trans 'Dar cita' %}</a>
      </div>
    {% endif %}
  </h1>
</div>
<div>      
    <ul id="tabs" class="nav nav-tabs">
      <li class="active"><a href="#all" data-toggle="tab">{% trans 'Todas' %}</a></li>
      <li ><a href="#face-to-face" data-toggle="tab">{% trans 'Presenciales' %}</a></li>
      <li><a href="#virtual" data-toggle="tab">{% trans 'Virtuales' %}</a></li>
    </ul>
    <div class="tab-content" style="overflow-y: hidden;">
      <div class="tab-pane active" id="all">
        <img src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." />
      </div>
      <div class="tab-pane" id="face-to-face">
        <img src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." />
      </div>
      <div class="tab-pane" id="virtual">
        <img src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." />
      </div>
    </div>
  </div>
{% endblock container %}
