{% extends "consulting/patient/personal_data_pm.html" %}

{% load i18n consulting %}

{% block right %}
  {% include 'consulting/patient/card-mini.html'%}
{% endblock %}

{% block jquery_init %}
    $('#modal').on('hidden', function () {
      $(this).removeData();
      $('.modal-body').html('');
    })
{% endblock %}


{% block container %}
<div class="page-header">
    <h1>{% trans 'Listado de Informes' %}</h1>                
</div>
  <section>
  <input name="csrfmiddlewaretoken" type="hidden" value="{{csrf_token}}">

    <div class="">       
      <div id="overwrite_list" class="">            
        {% if reports.object_list %}                     
        <table id="list_report" class="table table-bordered table-condensed">  
          <thead>
            <tr>            
              <th style="text-align:center;">
                {% trans 'FECHA' %}
              </th>
              <th style="text-align:center;">
                {% trans 'CUESTIONARIO' %}
              </th>
              <th>&nbsp;</th>
              <th style="text-align:center;">
                {% trans 'ESTADO' %}
              </th>
              <th style="text-align:center;">
                {% trans 'INFORME' %}
              </th>               
            </tr>
          </thead>        
          <tbody>                  
            {% for report in reports.object_list %}
              <tr id="{{report.id}}" class="report">
                <td style="text-align:center;">{% if report.appointment and not appointment %}<a class="btn btn-link" href="{% url 'consulting_start' report.appointment.id %}" placement="top" rel="tooltip" data-original-title="Ir a resumen de la cita">{{ report.end_date|date:"d/M/Y"|lower }}</a>{% else %}{{ report.updated_at|date:"d/M/Y"|lower }}{% endif %}</td>
                <td style="text-align:left;"><a class="btn btn-link" data-target="#modal" href="{% url 'consulting_view_task' report.id %}" role="button" data-toggle="modal">{{report.survey.name}}</a></td>
                <td style="text-align:center;">
                  <i class="icon-{{report.self_administered|yesno:'home,user'}}"></i>
                </td>
                <td style="text-align:center;">
                  {% if report.end_date %}
                   {% for l in report.patient|get_medical_status_at:report.end_date %}
                      <span class="label label-{{l.css}}">{{l.name|safe}}</span>
                    {% endfor %}
                  {% endif %}
                </td>   

                <td style="text-align:center;">
                  {% if report.survey.is_reportable %}
                  <a class="btn btn-small btn-link" data-target="#modal" href="{% url 'consulting_view_report' report.id %}" role="button" data-toggle="modal">HTML</a>|
                  <a class="btn btn-small btn-link" href="{% url 'consulting_view_report' report.id%}?as=pdf" >PDF</i></a> 
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div id="overwrite" class="muted"><i class="icon-user"></i> = {% trans 'Realizado por el médico' %} | <i class="icon-home"></i> = {% trans 'Realizado por el paciente' %}</div>
       {% include 'ui/includes/pagination_bar.html' with objects=reports %}
                                   
        {% else %}
            <div class="alert alert-info">{% trans "No hay informes disponibles" %}</div>
        {% endif %}
      </div>
     
    </div>
             
  </section>

<div class="modal hide fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Previsualización de cuestionario/informe</h3>
  </div>
  <div class="modal-body">
    <img src="{{ STATIC_URL }}img/ajax-loader.gif" alt="loading..." />
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>
{% endblock container %}

