{% extends "consulting/patient/personal_data_pm.html" %}

{% load i18n%}

{% block css_files %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-wysihtml5.css"></link>
{% endblock %}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/spin.min.js"></script>
{% endblock %}


{% block container %}
  <div class="page-header">
    <h1>{% trans 'Mensajes' %} 
      {% if patient_user.is_active %}
        <div class="btn-group pull-right">
           <a class="btn btn-info" href="{% url private_messages_new_for patient_user.id %}"><i class="icon-pencil icon-white"></i> {% trans "Redactar" %}</a>
        </div>
      {% endif %}
    </h1>
  </div>
<div id="mail_area">
  {% if messages.object_list.count > 0 %}
    <div class="accordion" id="accordion2">
      {% for message in messages.object_list %}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{message.id}}">
          <h4>{{ message.subject }}<small class="pull-right">{{ message.sent_at|date:"d M y H:i" }}</small></h4>
          </a>
        </div>
        <div id="collapse{{message.id}}" class="accordion-body collapse">
          <div class="accordion-inner">
          {% include "private_messages/message_conversation.html" with message=message user=patient_user %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% include 'ui/includes/pagination_bar.html' with objects=messages %}
    
  {% else %}
    <div class="alert alert-info">{% trans "No hay ninguna conversación con este paciente" %}</div>
  {% endif %}
</div>
{% endblock %}


{% block right %}
  {% include 'consulting/patient/card-mini.html'%}
{% endblock %}
