{% extends "consulting/patient/personal_data_pm.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-ui-1.9.1.custom.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/jquery-ui-1.9.1.custom.css" rel="stylesheet">
{% endblock %}

{% block js %}
function set_events(){
  <!-- REMOVE MEDICINE -->

  $('.remove_medicine').each(function(){
    $(this).on("click", function(){ 
                            var id = $(this).attr("id");
                            $('#medicine_id').val(id);     
                        });      
  });

  $("#yes_remove").click(function(){
                    medicine_id = $('#medicine_id').val();
                    var jqxhr = $.post(
                                  '{% url consulting_add_medicine action='remove' %}',
                                  {'medicine_id': medicine_id,
                                  'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()}, 
                                  function() {
                                    $('#'+medicine_id).remove();
                                  });
  });

  <!-- STOP MEDICINE -->
  $('.stop_medicine').each(function(){
    $(this).on("click", function(){
                            var id = $(this).attr("id");
                            $('#medicine_id').val(id);     
                        });      
  });

  $("#yes_stop").click(function(){
                    medicine_id = $('#medicine_id').val();
                    var jqxhr = $.post(
                                  '{% url consulting_add_medicine action='stop' %}',
                                  {'medicine_id': medicine_id,
                                  'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()}, 
                                  function() {
                                    $('#'+medicine_id).remove();
                                    $('#log').load('{% url consulting_get_medicines filter_option='old' id_patient=patient_user.id %}', set_events);
                                  });
  });

    $('.pagination').find('a').each(function(){
      $(this).on("click", function(e){
                              e.preventDefault();
                              var target = $('#tabs .active').find('a').attr('href');
                              $(target).load($(this).attr('href'), set_events);
                            });
    });

  }; 
{% endblock %}

{% block jquery_init %}
  $('#save').live('click', function(){
    var $form = $('#modal_medicament').find('form');
    $form.ajaxSubmit({  target: null,
                        clearForm: true,
                        success: function(response) {
                            var target = $('#tabs .active').find('a').attr('href');
                            if ($(response).find("form").length) {
                               $('#modalForm').html(response);
                            } else {
                               $(target).html(response);
                               $('#modal_medicament').modal('hide');
                               set_events();                            }
                        }
                    });
  });

   $('#modal_medicament').on('hidden', function () {
      $(this).removeData();
    })

  $('#active').load('{% url consulting_get_medicines filter_option='current' id_patient=patient_user.id %}', set_events);
  $('#log').load('{% url consulting_get_medicines filter_option='old' id_patient=patient_user.id %}', set_events);
  $('#previous').load('{% url consulting_get_medicines filter_option='previous' id_patient=patient_user.id %}', set_events);
   
{% endblock %}

{% block right %}
  {% include 'consulting/patient/card-mini.html'%}
{% endblock %}


{% block container %}
<div class="page-header">
    <h1>{% trans 'Tratamiento farmacológico' %}
      <div class="btn-group pull-right">
            <a class="btn btn-info" href="{% if illness %}{% url consulting_main id_appointment=appointment.id code_illness=illness.code %}{% else %} javascript:history.back();{% endif %}">
               <i class="icon-arrow-left icon-white"></i>
              {% trans 'Volver' %}
            </a>
      </div>
    </h1>       
</div>
<section>
  <input name="csrfmiddlewaretoken" type="hidden" value="{{csrf_token}}">
  <div>      
    <ul id="tabs" class="nav nav-tabs">
      <li class="active"><a href="#active" data-toggle="tab">{% trans 'Actual' %}</a></li>
      <li><a href="#log" data-toggle="tab">{% trans 'Histórico' %}</a></li>
      <li><a href="#previous" data-toggle="tab">{% trans 'Previos' %}</a></li>
    </ul>
    <div class="tab-content" style="overflow-y: hidden;">
      <div class="tab-pane active" id="active">
        <img src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." />
      </div>
      <div class="tab-pane" id="log">
        <img src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." />
      </div>
      <div class="tab-pane" id="previous">
        <img src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="loading..." />
      </div>
    </div>
  </div>
 
  <div class="modal hide fade" id="modal_medicament" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="modalLabel">Nuevo fármaco</h3>
    </div>
    <div class="modal-body" id="modalForm">
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" id="save">{% trans 'Guardar' %}</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cerrar' %}</button>
    </div>
  </div>                      
</section>

{% endblock container %}