{% load i18n %}
{% if patients.object_list.count > 0 %}
    <table id="patient_list" class="table table-striped">
      <thead>
          <tr>
            <th>{% trans "Nombre" %}</th>
            <th>{% trans "Sexo" %}</th>
            <th>{% trans "Edad" %}</th>
            <th>{% trans "Doctor" %}</th>
          </tr>
      </thead>
      <tbody>
        {% for p in patients.object_list %}
          <tr>
            <td><a href="{% url consulting_pre_personal_data_pm p.user.id %}" target="_blank">{{p.get_full_name}}</a></td>
            <td>{{p.get_sex}}</td>
            <td>{{p.get_age}}</td>
            <td>{{p.doctor.get_profile.get_full_name}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'ui/includes/pagination_bar.html' with objects=patients %}
{% else %}
  <div class="alert alert-info">
    {% trans 'No hay pacientes que mostrar' %}
  </div>
{% endif %}