{% extends "ui/app.html" %}

{% load i18n%}


{% block container %}
    <section>
        <div class="page-header">
          <h1>{% trans 'Identificación Paciente' %}</h1>                
        </div>
        <div class="" >
            <div class="alert alert-info">
                {% trans 'Se le ha enviado un correo electrónico al paciente con el nombre de usuario y contraseña, la cual podrá modificar cuando lo desee.' %}
            </div>
            {% if newpatient %}
            <div class="hero-unit center">
                <h4>
                    {% trans '¿Desea crear una cita al paciente que acaba de dar de alta?' %}
                </h4>
                <p>
                    <a href="{% url cal.scheduler patient_user.id %}" class="btn btn-primary">
                        {% trans 'Sí' %}
                    </a>
                    <a href="{% url consulting_index %}" class="btn">
                        {% trans 'No' %}
                    </a>
                </p>                    
            </div> 
            {% endif %}
            {% if not newpatient %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <a href="{{ next }}" class="btn btn-info pull-right">
                    {% trans 'Volver' %}
                </a>
            {% endif %} 
        </div>
    </section>
{% endblock container %}

{% block right %}
  {% include "consulting/patient/card.html" %}
{% endblock %}