{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}js/locales/bootstrap-datepicker.es.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block jquery_init %}
  $('#dp').datepicker().on('changeDate',
    function(ev){$('#dp').datepicker('hide');
  });

  jQuery.ajaxSetup({
        beforeSend: function (xhr) {
              xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
              return xhr;
        }
   });

  $('#id_doctor').change(function(){
    if($(this).val() != "{{doctor_form.doctor.value}}"){
      $('#assign_button').fadeIn('fast');
    } else {
      $('#assign_button').fadeOut('slow');
    }
  });

  $('#doctor_selection').on('submit',function(event){
    $('#message').css('display', 'none');
    event.preventDefault();
    $(this).ajaxSubmit({target: null,
                        clearForm: false,
                        success: function(response) {
                                $('#message').html('<div class="alert alert-success">{% trans 'Cambio realizado correctamente.' %}<button type="button" class="close" data-dismiss="alert">×</button></div>');
                                 $('#message').fadeIn('slow');
                        },
                        error: function(response) {
                                $('#message').html('<div class="alert alert-error">{% trans 'Cambio no realizado.' %}<button type="button" class="close" data-dismiss="alert">×</button></div>');
                                 $('#message').fadeIn('slow');
                        }
                      });
  });
{% endblock %}

{% block header%}
  {% if user.get_profile.is_doctor %}
        {% include "ui/includes/header_doctor.html" %}
  {% endif %}
  {% if user.get_profile.is_administrative %}
        {% include "ui/includes/header_administrative.html" %}
  {% endif %} 
{% endblock  %}

{% block container %}
      <div class="page-header">
          <h2>{% trans 'Datos del paciente' %}</h2>
      </div>   
      <section>
        <div class="" >
          <div class="{% if edit %}well{% endif %}">
            {% if not edit %}
            <form class="form-horizontal" id="form" action="." method="post" accept-charset="utf-8">{% csrf_token %}
            {% endif %}
            {% if edit %}
            <form class="form-horizontal" id="form" action="{% url consulting_editpatient_pm patient_user_id %}" method="post" accept-charset="utf-8">{% csrf_token %}
            {% endif %} 
            <input type="hidden" name="next" value="{{ next }}"/>             
              {% if same_username %}
                <div class="alert alert-error">
                  <a class="close" data-dismiss="alert">×</a>
                  <strong>
                    {% trans 'Ya existe un usuario con el mismo nombre de usuario. Contacte con el administrador. ' %}
                  </strong>
                </div>
              {% endif %}
              <div class="control-group info">
                <label class="control-label">
                  {{ form.name.label }}
                </label>
                <div class="controls info">
                  {{form.name}}
                  {% if form.name.errors %}
                    <span class="help-inline">{{ form.name.errors }}</span>
                  {% endif %}
                </div>
              </div>
               <div class="control-group info">
                <label class="control-label">
                  {{form.first_surname.label}}
                </label>
                <div class="controls info">
                  {{form.first_surname}}
                  {% if form.first_surname.errors %}
                    {{ form.first_surname.errors }}
                  {% endif %}
                </div>
              </div>
             <div class="control-group info">
                <label class="control-label">
                  {{form.second_surname.label}}
                </label>
                <div class="controls info">
                  {{form.second_surname}}
                  {% if form.second_surname.errors %}
                    {{ form.second_surname.errors }}
                  {% endif %}
                </div>
              </div>
              <div class="control-group info">
                <label class="control-label">
                  {{form.nif.label}}
                </label>
                <div class="controls info">
                  {{form.nif}}
                  <span class="help-inline">
                    {% trans 'Pacientes con NIF o mayores de edad' %}
                  </span>
                  {% if form.nif.errors %}
                    {{ form.nif.errors }}
                  {% endif %}
                </div>
              </div>
               <div class="control-group info">
                <label class="control-label">
                  {{form.dob.label}}
                </label>
                <div class="controls info">
                  <div id="dp" class="input-append date" data-date-format="dd/mm/yyyy" data-date-weekstart="1"  data-date="{{form.dob.value|date:'d/m/Y'}}">
                    {{form.dob}}
                    <span class="add-on">
                      <i class="icon-th"></i>
                    </span>
                    <span class="help-inline">
                      {% trans 'Pacientes menores de edad sin NIF' %}
                    </span>
                  </div>
                  {% if form.dob.errors %}
                    {{ form.dob.errors }}
                  {% endif %}
                </div>
              </div>
              {% if user.get_profile.is_doctor %}
                <div class="control-group info">
                  <label class="control-label">
                    {{form.status.label}}
                  </label>
                  <div class="controls info">
                    {{form.status}}
                    {% if form.status.errors %}
                      {{ form.status.errors }}
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if user.get_profile.is_doctor %}
              <div class="control-group info">
                <label class="control-label">
                  {{form.sex.label}}
                </label>
                <div class="controls info">
                  {{form.sex}}
                  {% if form.sex.errors %}
                    {{ form.sex.errors }}
                  {% endif %}
                </div>
              </div>
              {% endif %}
              <div class="control-group">
                <label class="control-label">
                  {{form.address.label}}
                </label>
                <div class="controls">
                  {{form.address}}
                  {% if form.address.errors %}
                    {{ form.address.errors }}
                  {% endif %}
                </div>
              </div>
               <div class="control-group">
                <label class="control-label">
                  {{form.town.label}}
                </label>
                <div class="controls">
                  {{form.town}}
                  {% if form.town.errors %}
                    {{ form.town.errors }}
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">
                  {{form.postcode.label}}
                </label>
                <div class="controls">
                  {{form.postcode}}
                  {% if form.postcode.errors %}
                    {{ form.postcode.errors }}
                  {% endif %}
                </div>
              </div>
              <div class="control-group info">
                <label class="control-label">
                  {{form.phone1.label}}
                </label>
                <div class="controls info">
                  {{form.phone1}}
                  {% if form.phone1.errors %}
                    {{ form.phone1.errors }}
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">
                  {{form.phone2.label}}
                </label>
                <div class="controls">
                  {{form.phone2}}
                  {% if form.phone2.errors %}
                    {{ form.phone2.errors }}
                  {% endif %}
                </div>
              </div>
              <div class="control-group info">
                <label class="control-label">
                  {{form.email.label}}
                </label>
                <div class="controls">
                  {{form.email}}
                  {% if form.email.errors %}
                    {{ form.email.errors }}
                  {% endif %}
                </div>
              </div>
              {% if user.get_profile.is_doctor %}
              <div class="control-group">
                <label class="control-label">
                  {{form.profession.label}}
                </label>
                <div class="controls">
                  {{form.profession}}
                  {% if form.profession.errors %}
                    {{ form.profession.errors }}
                  {% endif %}
                </div>
              </div>
              {% endif %}
              <hr>
              <div class="control-group">
                <label class="control-label">
                  {{form.active.label}}
                </label>
                <div class="controls">
                  {{form.active}}
                  {% if form.active.errors %}
                    {{ form.active.errors }}
                  {% endif %}
                </div>
              </div>              
              <div class="center">
                <button type="submit" class="btn btn-primary btn-large">
                  {% trans 'Guardar' %}
                </button>
              </div>
            </form>
          </div>  
        </div>
      </section>
{% endblock %}

{% block right %}
  {% if user.get_profile.is_administrative and patient_user_id %}
  <div class="page-header">
    <h3>{% trans "Asignación de médico" %}</h3>
  </div>

  <section>
    <div id="message" style="display: none"></div>
    <div class="well center">

      <div class="">
        <form id="doctor_selection" class="form" method="post" action="{% url cal.select_doctor patient_user_id %}">
          {% csrf_token %}

           <!-- DOCTOR -->
          <div class="control-group">
            <label class="control-label" for="id_doctor">{% trans 'Médico asignado' %}:</label>
            <div class="controls">
              {{ doctor_form.doctor }}
                {% if doctor_form.doctor.errors %}
                  {% for error in doctor_form.doctor.errors %}
                     <span class="help-inline">{{ error|escape }}</span>
                  {% endfor %}
                {% endif %}
            </div>
          </div>
            <!-- END DOCTOR -->
             <button id="assign_button" type="submit" class="btn btn-info btn-block hide">Traspasar paciente</button>
        </form>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}
