{% load i18n stadistic %}

<div class="well center">
  <div id="placeholder_scales" style="width:100%;height:300px;"></div>
</div>

<section style="overflow-x: auto">
  <legend>{% trans 'Valores' %}</legend>
  <table class="table table-stripped table-bordered">
      {% for label, marks in values.items %}
      {% if forloop.counter0 = 0 %}
      <thead>
          <tr style="background-color: #F5F5F5;">
              <th></th>
              {% for t, mark in marks %}
              <th style="text-align:center">{{t.end_date|date:'d/m/y'}}</th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>                
          <tr>
              <th>{{label}}</th>
              {% for t, mark in marks %}
              <td style="text-align:right">{{mark|floatformat:1}}</td>
              {% endfor %}
          </tr>
      {% else %}
          <tr>
              <th>{{label}}</th>
              {% for t, mark in marks %}
              <td style="text-align:right">{{mark|floatformat:1}}</td>
              {% endfor %}
          </tr>
      {% endif %}
      {% endfor %}
      </tbody>
  </table>
</section>
  
<script type="text/javascript">
function plotStatus() {
    var dataS = [{% for scale, item in values.items %}{label: "{{scale|upper}}", yaxis: {{forloop.counter}}, xaxis: 1,  data: [{% for t, val in item %}[(Date.UTC({{t.end_date|date:'Y, m-1, j'}})), {{val|floatformat:0}}]{% if not forloop.last %},{% endif %}{% endfor %}]}{% if not forloop.last %},{% endif %}{% endfor %}];

    // hard-code color indices to prevent them from shifting as
    // countries are turned on/off
    var i = 0;
    $.each(dataS, function(val) {
        val.color = i;
        ++i;
    });
    

    $.plot($("#placeholder_scales"), dataS, {
      lines: { show: true },
      points: { show: true },
      grid: { hoverable: true},
      xaxis: { mode: "time", 
               minTickSize: [1, "day"], 
               min: (Date.UTC({{ticks|first|date:'Y, m-1, j'}})),
               max: (Date.UTC({{ticks|last|date:'Y, m-1, j'}})),
               monthNames: ['{% trans "jan" %}', '{% trans "feb" %}', 
                          '{% trans "mar" %}', '{% trans "apr" %}', 
                          '{% trans "may" %}', '{% trans "jun" %}', 
                          '{% trans "jul" %}', '{% trans "aug" %}', 
                          '{% trans "sep" %}', '{% trans "oct" %}', 
                          '{% trans "nov" %}', '{% trans "dec" %}']
             },
      yaxes: [{% for scale in values.keys %}{
              position: '{{forloop.counter0|yesno:"left,right"}}',
              axisLabel: '{% trans "Escala de " %} {{scale}}',
              axisLabelUseCanvas: true,
              min: 0,
              ticks: {% dictvalue yscales scale %}
              }{% if forloop.revcounter0 %},{% endif %}
             {% endfor %}]
    });

    function showTooltip(x, y, contents) {
      $('<div id="tooltip" class="tooltip-inner tooltip.in">' + contents + '</div>').css( {
        position: 'absolute',
        width: '100px',
        'text-align': 'center',
        display: 'none',
        top: y - 34,
        left: x - 54,
        'font-size': '11px',
      }).appendTo("body").fadeIn('slow');
    }
    var previousPoint = null;

    $("#placeholder_scales").bind("plothover", function (event, pos, item) {
      $("#x").text(pos.x.toFixed(2));
      $("#y").text(pos.y.toFixed(2));
      if (item) {
        if (previousPoint != item.dataIndex) {
          previousPoint = item.dataIndex;
          $("#tooltip").remove();
          var x = item.datapoint[0].toFixed(2),
          y = item.datapoint[1].toFixed(2);
          showTooltip(item.pageX, item.pageY,
          item.series.label + " = " + y);
        }
      }
      else {
        $("#tooltip").remove();
        previousPoint = null;
      }
    }); 
  };

   $('#status_tab').on('shown', plotStatus);
</script>