{% load i18n %}
{% load l10n %}

<div class="well center">
  <div id="placeholder_dimensions" style="width:100%;height:300px;"></div>
</div>

<section >
  <legend>{% trans 'Valores' %}</legend>
  <table class="table table-stripped table-bordered">
      {% for dim, marks in latest_dimensions.items %}
      {% if forloop.counter0 = 0 %}
      <thead>
          <tr style="background-color: #F5F5F5;">
              <th></th>
              {% for t, mark in marks %}
              <th style="text-align:center">{{t.end_date|date:'d/m/y'}}</th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>                
          <tr>
              <th>{{dim.name}}</th>
              {% for t, mark in marks %}
              <td style="text-align:right">{{mark|floatformat:1}}</td>
              {% endfor %}
          </tr>
      {% else %}
          <tr>
              <th>{{dim.name}}</th>
              {% for t, mark in marks %}
              <td style="text-align:right">{{mark|floatformat:1}}</td>
              {% endfor %}
          </tr>
      {% endif %}
      {% endfor %}
      </tbody>
  </table>
</section>
  
<script type="text/javascript">
function plotDimensions() {
    var dataD = [{% for dim, item in latest_dimensions.items %}{label: "{{dim.name|upper}}", yaxis: {% if forloop.counter|divisibleby:2 %}2{% else %}1{% endif %}, data: [{% for t, val in item %}[(Date.UTC({{t.end_date|date:'Y, m-1, j'}})), {{val|unlocalize}}]{% if not forloop.last %},{% endif %}{% endfor %}]}{% if not forloop.last %},{% endif %}{% endfor %}];

    // hard-code color indices to prevent them from shifting as
    // countries are turned on/off
    var i = 0;
    $.each(dataD, function(val) {
        val.color = i;
        ++i;
    });
    
  
      $.plot($("#placeholder_dimensions"), dataD, {
        lines: { show: true },
        points: { show: true },
        yaxes: [{ min: 0, max: 10, ticks: 10, position: "right"},
                { min: 0, max: 10, ticks: 10, position: "left"}],
        xaxis: { mode: "time", 
                 minTickSize: [1, "day"], 
                 min: (Date.UTC({{ticks|first|date:'Y, m-1, j'}})),
                 max: (Date.UTC({{ticks|last|date:'Y, m-1, j'}})),
                 monthNames: ['{% trans "jan" %}', '{% trans "feb" %}', 
                              '{% trans "mar" %}', '{% trans "apr" %}', 
                              '{% trans "may" %}', '{% trans "jun" %}', 
                              '{% trans "jul" %}', '{% trans "aug" %}', 
                              '{% trans "sep" %}', '{% trans "oct" %}', 
                              '{% trans "nov" %}', '{% trans "dec" %}']
               }
      });
  };

   $('#dimensions_tab').on('shown', plotDimensions);
</script>