{% extends "consulting/patient/personal_data_pm.html" %}

{% load i18n %}

{% block css_files %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block css_inline %}
    {{ block.super }}
.yaxisLabelLeft {
    left: -18px;
    top: 50%;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform: rotate(-90deg);
    /* for ie */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.yaxisLabelRight {
    float: right;
    right: -102px;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform: rotate(90deg);
}
.axisLabel {
    font-size: 12px;
    position: absolute;
    text-align: center;
}
{% endblock %}

{% block js_files %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery.flot.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.flot.resize.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}js/locales/bootstrap-datepicker.es.js"></script>
{% endblock %}

{% block jquery_init %}
  $('#from_date').datepicker().on('changeDate',
    function(ev){$('#from_date').datepicker('hide');
  });
  $('#to_date').datepicker().on('changeDate',
    function(ev){$('#to_date').datepicker('hide');
  });
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    $('#active_tab').val($(this).attr('href'));
  });
  $('.alert .close').live("click", function(e) {
    $(this).parent().hide();
  });

  $('#download_xls').live("click", function(e) {
    var form = $('#form');
    form.attr('action', form.attr('action')+'?as=xls');
    form.submit();
  });

  $('#export_plot').live("click", function() {
      var image = new Image();
      var canvas = $('.tab-pane.active').find('canvas.base').get(0);
      var c = document.createElement('canvas');
      c.width = canvas.width + 20;
      c.height = canvas.height + 30;
      var ctx = c.getContext('2d');
      ctx.drawImage(canvas, 10, 15)
      ctx.lineWidth=1;
      ctx.fillStyle="#545454";
      ctx.lineStyle="#ffff00";
      ctx.font="10px sans-serif";

      $('.tab-pane.active').find('div.tickLabel').each(function(){
        var position = $(this).position();
        var ta = $(this).css('text-align');
        ctx.textAlign = ta;
        var offset = 12;
        if (ta == 'center') { offset = ($(this).width()+offset+4)/2; }
        if (ta == 'right') { offset = 25; }
        ctx.fillText($(this).text(), position.left+offset, position.top + 27);
      });
      image.src = c.toDataURL("image/png");
      window.open(image.src);
      //var url = image.src.replace(/^data:image\/[^;]/, 'data:application/octet-stream');
      //window.open(url, '{{patient_user.username}}_plot.png');
   });
{% endblock %}

{% block right %}
    {% include 'consulting/patient/card.html' with mini=1 %}
{% endblock %}

{% block container %}
	<div class="page-header">
		<h1>Parámetros
      <div class="btn-toolbar pull-right">
        <div class="btn-group">
          <button class="btn btn-info" onClick="$('#filter_options').show()"><i class="icon-filter icon-white"></i> {% trans "Filtrar" %}</button>
          <button class="btn dropdown-toggle btn-success" data-toggle="dropdown"><i class="icon-download-alt icon-white"></i> 
          {% trans 'Exportar' %}
          <b class="caret"></b>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a id="export_plot" href="#">{% trans 'Gráfica a PNG' %}</a>
            </li>
            <li>
               <a id="download_xls" href="#">{% trans 'Valores a XLS' %}</a>
            </li>       
          </ul>
        </div>
      </div>
    </h1>
	</div>
    <div id="filter_options" class="alert alert-info hide fade in">
        <a class="close pull-right" href="#">&times;</a>
        <legend>{% trans 'Filtrar resultados' %}</legend>
        <form class="form-inline" id="form" action="{{request.path}}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <input type="hidden" name="active_tab" id="active_tab" value="{{active_tab}}"/>
            {% if form.non_field_errors.errors %}
            <div class="text-error">
              {{ form.non_field_errors.errors }}
            </div>
            {% endif %}
            Desde
            <div id="from_date" class="input-append date" data-date-format="dd/mm/yyyy" data-date-weekstart="1" data-date="{{form.from_date.value}}">
             {{form.from_date}}
              <span class="add-on">
                <i class="icon-th"></i>
              </span>
            </div>
            hasta
            <div id="to_date" class="input-append date" data-date-format="dd/mm/yyyy" data-date-weekstart="1" data-date="{{form.to_date.value}}">
                {{form.to_date}}
              <span class="add-on">
                <i class="icon-th"></i>
              </span>
            </div>
            <button type="submit" class="btn">
                {% trans 'Filtrar' %}
            </button>
        </form>
    </div>

    <ul class="nav nav-tabs" id="myTab">
        <li{% if not active_tab or active_tab = 'active' %} class="active"{%endif%}>
            <a href="#variables" data-toggle="tab">Variables</a>
        </li>
        <li {% if active_tab = 'dimensions' %} class="active"{%endif%}><a href="#dimensions" data-toggle="tab" id="dimensions_tab">Dimensiones</a></li>
        <li {% if active_tab = 'status' %} class="active"{%endif%}><a href="#status" data-toggle="tab" id="status_tab">Estado</a></li>
        <li {% if active_tab = 'treatment' %} class="active"{%endif%}><a href="#treatment" data-toggle="tab" id="treatment_tab">Tratamiento</a></li>
    </ul>
	
    <div class="tab-content">
        <div class="tab-pane {% if not active_tab or active_tab = 'variables' %}active{% endif %}" id="variables">
            {% include 'consulting/patient/plot_variables.html' with ticks=ticks_variables %}
        </div>
        <div class="tab-pane {% if active_tab = 'dimensions' %}active{% endif %}" id="dimensions" >
            {% include 'consulting/patient/plot_dimensions.html' with ticks=ticks_variables %}
        </div>
        <div class="tab-pane {% if active_tab = 'status' %}active{% endif %}" id="status">
            {% include 'consulting/patient/plot_scales.html' with ticks=ticks_variables values=scales %}
        </div>
        <div class="tab-pane {% if active_tab = 'treatment' %}active{% endif %}" id="treatment">
            {% include 'consulting/patient/plot_treatment.html' with ticks=ticks_treatment %}
        </div>
    </div>


{% endblock %}