{% extends "consulting/patient/personal_data_pm.html" %}

{% load i18n%}

{% block js_files %}
	{{ block.super }}
   	<script src="{{ STATIC_URL }}js/jquery.flot.js"></script>
 	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.resize.js"></script>
{% endblock %}

{% block right %}
    {% include 'consulting/patient/card.html' %}
{% endblock %}
{% block container %}
	<div class="page-header">
		<h1>Parámetros
            <div class="btn-group pull-right">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                Variables
                <span class="caret"></span>
                </a>
                <ul id="choices" class="dropdown-menu">
                <!-- dropdown menu links -->
                </ul>
            </div>
        </h1>
	</div>
	<div class="well center">
	<div id="placeholder" style="width:100%;height:300px;">
		<div class="alert alert-info center">Use el botón <strong>Variables</strong> para visualizar su evolución.</div>
	</div>
    <div id="tools" class="clearfix">
        <button class="btn pull-left" id="setAll">Seleccionar todas</button>
        <button class="btn pull-right" id="cleanAll">Limpiar todas</button>
    </div>
	</div>
    
	<div id="legend"></div>
	
<script type="text/javascript">
$(function () {
    var datasets = {
    	{% for label, marks in latest_marks.items %}
        "{{label}}": {
            label: "{{label|upper}}",
            data: [{% for date, mark in marks %}[(Date.UTC({{date|date:'Y, m, d'}})),parseFloat("{{mark|floatformat}}".replace(",", "."))],{% endfor %}]
        },        
       {% endfor %}
    };

    // hard-code color indices to prevent them from shifting as
    // countries are turned on/off
    var i = 0;
    $.each(datasets, function(key, val) {
        val.color = i;
        ++i;
    });
    
    // insert checkboxes 
    var choiceContainer = $("#choices");
    var legendContainer = $("#legend");
    var originalContent = $("#placeholder").html();
    $.each(datasets, function(key, val) {
        choiceContainer.append('<li><label class="checkbox"><input type="checkbox" name="' + key + '" value="'+  key +'">' + val.label + '</label><li>');
    });
    choiceContainer.find("input").click(plotAccordingToChoices);
    $("#cleanAll").click(cleanAll);
    $("#setAll").click(setAll);
    
    function cleanAll() {
        choiceContainer.find("input").each(function () {
            $(this).removeAttr("checked");
        });
        $("#placeholder").html(originalContent);
    }

    function setAll() {
        choiceContainer.find("input").each(function () {
            $(this).attr("checked", true);
        });
        plotAccordingToChoices();
    }

    function plotAccordingToChoices() {
        var data = [];

        choiceContainer.find("input:checked").each(function () {
            var key = $(this).attr("name");
            if (key && datasets[key])
                data.push(datasets[key]);
        });

        if (data.length > 0)
            $.plot($("#placeholder"), data, {
            	lines: { show: true },
            	points: { show: true },
                yaxis: { min: 0, max: 5, ticks: 10, position: "right"},
                xaxis: { mode: "time",  minTickSize: [1, "day"], min: (Date.UTC({{ticks|first|date:'Y, m, d-1, 23'}})),
                max: (Date.UTC({{ticks|last|date:'Y, m, d, 01'}}))},
                legend: { container: legendContainer, noColumns: 3 }
            });
    }

    plotAccordingToChoices();

});
</script>

{% endblock %}