{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.core.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.position.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/jquery-ui-1.8.18.custom.css" rel="stylesheet">
{% endblock %}

{% block header%}
  {% include "ui/includes/header_doctor.html" %}
{% endblock  %}

{% block body %}
  <div class="container">
    DETALLE DEL FÁRMACO  
  </div>
{% endblock body %}