{% extends "ui/app.html" %}

{% load i18n%}

{% block js_files %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.core.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.position.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
{% endblock %}

{% block css_files %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/jquery-ui-1.8.18.custom.css" rel="stylesheet">
{% endblock %}

{% block jquery_init %}
  <!-- COUNT ROWS -->
  if ($('#treatment >tbody >tr').length == 0){
    $("#id_empty_table").attr('value', 'True');
    $("#aux").attr('value', 'True');
  }
  else{
    $("#id_empty_table").attr('value', 'False');
    $("#aux").attr('value', 'False');
  }
  <!-- LOOK FOR MEDICINE -->
  $("#id_searcher_medicine").autocomplete({
    source: function(request, response){
              $.ajax({
                  url: '{% url searcher_medicine %}',
                  type:'POST',
                  data: {
                      start: function() { return $("#id_searcher_medicine").val(); },
                      csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                  },
                  dataType: "json",
                  success: function(data){
                      response(data['medicines'])
                  }
              })
            },
    select: function(event, ui){
              $("#id_medicine").attr('value', ui.item.id);            
            },
    
  }); 

  <!-- REMOVE MEDICATION -->
 $('.remove_medicament').each(function(){
    $(this).on("click", function(){ 
                            var id = $(this).attr("id");
                            $('#medication_id').val(id);     
                        });      
  });   
 
  $("#yes").click(function(){
                    treatment_id = $('#treatment_id').val()
                    medication_id = $('#medication_id').val()
                    $('#overwrite').load(
                                      '{% url remove_medication %}',
                                      {'treatment_id': treatment_id,
                                      'medication_id': medication_id,
                                      'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()});
  }); 

{% endblock %}

{% block header%}
  {% include "ui/includes/header_doctor.html" %}
{% endblock  %}

{% block body %}
  {% block nav-bar%}
    {% include "ui/includes/nav_bar_doctor_pm.html" %}
  {% endblock  %}
  
  <div class="container">
    <div class="row"> 
      <div class="span8">
        <form class="form-horizontal" id="form" action="." method="post" accept-charset="utf-8">{% csrf_token %}
          <fieldset class="control-group">
            <legend>{% trans 'FÁRMACO' %}</legend>
            <input id="aux" type="hidden">
            {{form.treatment}}
            {{form.empty_table}}
            {{form.medicine}}                       
            <div class="control-group">
              <label class="control-label">
                {{form.searcher_medicine.label}}
              </label>
              <div class="controls">
                {{form.searcher_medicine}}
                {% if form.searcher_medicine.errors %}
                  {{ form.searcher_medicine.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {{form.before_after.label}}
              </label>
              <div class="controls">
                {{form.before_after}}
                {% if form.before_after.errors %}
                  {{ form.before_after.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {{form.time.label}}
              </label>
              <div class="controls">
                {{form.time}}
                {% if form.time.errors %}
                  {{ form.time.errors }}
                {% endif %}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                {{form.posology.label}}
              </label>
              <div class="controls">
                {{form.posology}}
                {% if form.posology.errors %}
                  {{ form.posology.errors }}
                {% endif %}
              </div>
            </div>
            <div class="controls span1">
              <button type="submit" class="btn btn-primary btn-large">
                {% trans 'Añadir Fármaco al Tratamiento' %}
              </button>
            </div>
          </fieldset>
        </form>
        <div id="overwrite">
          <fieldset class="control-group">
            <legend>{% trans 'TRATAMIENTO FARMACOLÓGICO' %}</legend>       
            <table id="treatment" class="table table-striped table-bordered table-condensed">  
              <thead>
                <tr>            
                  <th style="text-align:center;">
                    {% trans 'FÁRMACO' %}
                  </th>
                  <th style="text-align:center;">
                    {% trans 'ANTERIOR/POSTERIOR SÍNTOMAS' %}
                  </th>
                  <th style="text-align:center;">
                    {% trans 'TIEMPO TRATAMIENTO ANTES SÍNTOMAS' %}
                  </th>
                  <th style="text-align:center;">
                    {% trans 'POSOLOGÍA (mg/día)' %}
                  </th>
                  <th style="text-align:center;"></th>
                </tr>
              </thead>        
              <tbody>
                {% if medications %}
                  {% for medication in medications %}
                    <tr>
                      <td>{{medication.medicine}}</td>
                      <td>{{medication.get_before_after}}</td>
                      <td>{{medication.time}}</td>
                      <td>{{medication.posology}}</td>
                      <td>                      
                        <a id="{{medication.id}}" class="icon-trash remove_medicament" data-toggle="modal" href="#check_remove_medication"></a>
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </fieldset>
        </div>
      </div>
      <div id="check_remove_medication" class="modal hide fade" style="display: block;">
        <input id="treatment_id" type="hidden" value='{{treatment_id}}'>
        <input id="medication_id" type="hidden">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">
              ×
            </button>
            <h3>Borrar Fármaco</h3>
        </div>
        <div class="modal-body">
            <p>
              {% trans '¿Está seguro que quiere borrar éste fármaco?' %}
            </p>
        </div>
        <div class="modal-footer">
          <a id="yes" data-dismiss="modal" href="#" class="btn">Sí</a>
          <a data-dismiss="modal" href="#" class="btn btn-primary">No</a>
        </div>    
      </div>
      <!-- PATIENT CARD -->
      <div class="span4">
          {% include "consulting/card.html" %}
      </div>
    </div>
  </div>
{% endblock body %}