{% extends "ui/app.html" %}

{% load i18n%}

{% block header%}
  {% include "ui/includes/header_doctor.html" %}
{% endblock  %}

{% block jquery_init %}  
  $("#medicine").dropdown();
{% endblock  %}

{% block body %}
  <div class="container">
    {% block nav-bar%}
      {% include "ui/includes/nav_bar_doctor_pm.html" %}
    {% endblock  %}   
    
    <section id="code">
      <div class="page-header">
        <h2>{% trans 'DATOS PERSONALES' %}</h2>
      </div>

      <div class="row">
        <div class="span8">
          <table class="table-condensed">  
          <thead>
            <tr>            
              <th colspan="2" style="text-align:center;">
                <h3>
                  {{profile.name|upper}} {{profile.first_surname|upper}} {{profile.second_surname|upper}}
                </h3>
              </th>
            </tr>
          </thead>        
          <tbody>           
            <tr>            
              <td>{% trans 'NIF' %}</td>
              <td>{{profile.nif}}</td>
            </tr>
            <tr>            
              <td>{% trans 'EDAD' %}</td>
              <td>{{profile.get_age}}</td>
            </tr>
            <tr>            
              <td>{% trans 'ESTADO CIVIL' %}</td>
              <td>{{profile.get_status}}</td>
            </tr>
            <tr>            
              <td>{% trans 'TELÉFONO 1' %}</td>
              <td>{{profile.phone1}}</td>
            </tr>
            <tr>            
              <td>{% trans 'TELÉFONO 2' %}</td>
              <td>{{profile.phone2}}</td>
            </tr>
            <tr>            
              <td>{% trans 'DOMICILIO' %}</td>
              <td>{{profile.address}}</td>
            </tr>
            <tr>            
              <td>{% trans 'MUNICIPIO' %}</td>
              <td>{{profile.town}}</td>
            </tr>
            <tr>            
              <td>{% trans 'CÓDIGO POSTAL' %}</td>
              <td>{{profile.postcode}}</td>
            </tr>
            <tr>            
              <td>{% trans 'PROFESIÓN' %}</td>
              <td>{{profile.profession|wordwrap:5}}</td>
            </t5>
            <tr>            
              <td>{% trans 'ÚLTIMA CITA' %}</td>
              <td>{{profile.get_lastAppointment}}</td>
            </tr>
            <tr>            
              <td>{% trans 'PRÓXIMA CITA' %}</td>
              <td>{{profile.get_nextAppointment}}</td>
            </tr>
            <tr>            
              <td>{% trans 'NIVEL ESTRATIFICACIÓN' %}</td>
              <td>
                <p>
                  PENDIENTE DE CALCULAR 
                </p>
              </td>
            </tr>              
          </tbody>
        </table>
        </div>
        <div class="span4">
          {% include "consulting/card.html" %}
        </div>
      </div>
    </section>
  </div>    
{% endblock body %}